section.contacts#contacts
            .container
                .contacts__wrapper
                    h3.contacts__title Contacteer ons
                    p.contacts__text Creating an adherent buyer accelerates the cultural dictates of the our consumer.  The agency commission essentially broadcasts.
                    form(action='/my-handling-form-page' method='post').contacts__form
                        .contacts__form-list
                            .contacts__form-item
                                input.contacts__form-input(type='text' placeholder='Naam' name="name")
                            .contacts__form-item
                                input.contacts__form-input(type='email' placeholder='Email' name="email")
                        .contacts__form-list
                            .contacts__form-item-textarea
                                textarea.contacts__form-textarea(placeholder='Bericht' name="text")
                        button(type='submit').contacts__btn Verzenden
                    .contacts__info-container
                        .contacts__info-box
                            img.contacts__list-img(src='img/PhoneOutline.svg' alt='phone')
                            .contacts__list
                                a(href='tel:BE0861091764').contacts__list-item BE 0861 091 764
                                a(href='tel:T093248950').contacts__list-item T 09 324 89 50
                        .contacts__info-box
                            img.contacts__list-img(src='img/MailOutline.svg' alt='mail')
                            .contacts__list
                                a(href='mailto:info@bfeboekhouding.be').contacts__list-item info@bfeboekhouding.be
                        .contacts__info-box
                            img.contacts__list-img(src='img/LocationMarkerOutline.svg' alt='location')
                            .contacts__list
                                a(href='https://goo.gl/maps/AjthucaGqHFKt7Jn6' target='_blank').contacts__list-item
                                        | Hundelgemsesteenweg 578
                                        br
                                        | 9820 Merelbeke


