
  <header class="container header">
    <a href="#" class="header__logo">
      <img src="images/icons/logo.png" alt="">
    </a>
    <div class="header__home">
      <a class="main-cta" href="#">Home</a>
    </div>
  </header>