<div class="nav-step">
  <div class="container nav-step__container">
    <div class="nav-step__item @@set1">
      <div class="nav-step__left-placeh @@placeActive1"></div>
      <svg class="inline-svg-icon">
        <use xlink:href="#magnifier-svg"></use>
      </svg>
      <span>Holiday Search</span>
    </div>

    <div class="nav-step__item @@set2">
      <svg class="inline-svg-icon">
        <use xlink:href="#calendar-svg"></use>
      </svg>
      <span>Availability</span>
    </div>

    <div class="nav-step__item  @@set3">
      <svg class="inline-svg-icon">
        <use xlink:href="#chocolate-box-svg"></use>
      </svg>
      <span>Extras</span>
    </div>

    <div class="nav-step__item @@set4">
      <svg class="inline-svg-icon">
        <use xlink:href="#card-svg"></use>
      </svg>
      <span>Your Details</span>
    </div>

    <div class="nav-step__item @@set5">
      <svg class="inline-svg-icon">
        <use xlink:href="#payment-svg"></use>
      </svg>
      <span>Payment</span>
    </div>

    <div class="nav-step__item @@set6">
      <div class=" nav-step__right-placeh @@placeActive2"></div>
      <svg class="inline-svg-icon">
        <use xlink:href="#confirm-svg"></use>
      </svg>
      <span>Confirmation</span>
    </div>
  </div>
</div>