<svg style="display: none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px" y="0px" xml:space="preserve">
  <symbol id="magnifier-svg" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;">
    <g>
      <path
        d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667
              S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6
              c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z
              M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z" />
    </g>
  </symbol>
  <symbol id="calendar-svg" viewBox="0 0 512.001 512.001" enable-background="new 0 0 512.001 512.001">
    <g>
      <path
        d="m15.001 421h75v45c0 8.284 6.716 15 15 15h392c8.284 0 15-6.716 15-15v-390c0-8.284-6.716-15-15-15h-75v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-76v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-75v-15c0-8.284-6.716-15-15-15s-15 6.716-15 15v15h-76c-8.284 0-15 6.716-15 15v90c0 110.55-45.945 195.596-84.603 228.477-4.852 4.043-6.651 10.691-4.502 16.63 2.151 5.938 7.789 9.893 14.105 9.893zm467 30h-362v-30h287c3.509 0 6.907-1.23 9.603-3.477 18.032-15.019 45.963-50.777 65.397-96.575zm-362-360h61v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h75v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h76v15c0 8.284 6.716 15 15 15s15-6.716 15-15v-15h60v60h-362zm-.257 89.99h361.991c-3.38 95.155-39.901 170.023-80.616 210.01h-351.999c46.133-58.781 68.149-135.318 70.624-210.01z" />
    </g>
  </symbol>
  <symbol id="chocolate-box-svg" viewBox="0 0 343.438 343.438" style="enable-background:new 0 0 343.438 343.438;">
    <g>
      <path d="M320.694,188.366c0,0-85.28,0-113.708,0c-1.625,0-1.37,0.805-1.37,0.805v5.564c0,13.766-2.013,26.701-11.787,24.924
            c-8.329-1.516-27.087-9.201-37.793-13.768c-0.424-0.181-1.233-0.097-1.233,1.217v95.5c0,1.25,0.79,1.432,1.178,1.645
            c6.907,3.767,12.417,5.926,15.888,5.926c21.986,0,120.732-82.329,149.357-121.329
            C321.345,188.688,321.444,188.366,320.694,188.366z" />
      <path
        d="M93.802,219.659c-9.776,1.778-11.788-11.157-11.788-24.924v-5.502c0,0,0.159-0.865-1.591-0.865
            c-14.224,0-56.896,0-56.896,0c-1.27,0-1.401,0.377-1.261,0.567c19.396,26.251,71.224,72.513,109.362,99.666
            c0.225,0.16,0.674,0.134,0.674-0.7v-80.793c0-1-0.756-1.195-1.15-1.027C120.381,210.663,102.019,218.163,93.802,219.659z" />
      <path d="M82.014,159.5c0-13.766,2.012-26.702,11.788-24.924c8.224,1.496,26.61,9.008,37.38,13.591
            c0.384,0.163,1.121-0.185,1.121-1.31V49.962c0-1.708-0.486-2.096-1.299-2.859C120.502,37.233,105.43,33.26,88.63,33.26
            c-47.313,0-85.947,39.02-88.476,86.27c-0.932,17.442,2.423,32.158,8.241,45.398c0.138,0.314,0.652,0.94,1.84,0.94
            c0,0,52.642,0,70.188,0c1.625,0,1.591-1.263,1.591-1.263V159.5L82.014,159.5z" />
      <path d="M343.267,119.53c-2.529-47.25-41.16-86.27-88.477-86.27c-46.554,0-76.089,51.899-83.079,51.899
            c-2.281,0-7.664-7.237-16.042-16.305c-0.286-0.31-0.867-0.621-0.867,1.066v77.125c0,1.313,0.833,1.47,1.27,1.283
            c10.713-4.567,29.438-12.238,37.757-13.752c9.774-1.778,11.787,11.158,11.787,24.924v5.967c0,0-0.021,0.401,0.309,0.401
            c31.875,0,127.5,0,127.5,0c1.118,0,1.118,0,1.477-0.667C341.1,151.602,344.231,137.583,343.267,119.53z" />
    </g>
  </symbol>
  <symbol id="card-svg" viewBox="0 -43 512 512" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m453.332031 426.667969h-394.664062c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-266.667969c0-32.363281 26.304688-58.664062 58.667969-58.664062h128c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16h-128c-14.699219 0-26.667969 11.964843-26.667969 26.664062v266.667969c0 14.699219 11.96875 26.667969 26.667969 26.667969h394.664062c14.699219 0 26.667969-11.96875 26.667969-26.667969v-266.667969c0-14.699219-11.96875-26.664062-26.667969-26.664062h-128c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h128c32.363281 0 58.667969 26.300781 58.667969 58.664062v266.667969c0 32.363281-26.304688 58.667969-58.667969 58.667969zm0 0" />
    <path
      d="m304 117.332031h-96c-20.585938 0-37.332031-16.746093-37.332031-37.332031v-42.667969c0-20.585937 16.746093-37.332031 37.332031-37.332031h96c20.585938 0 37.332031 16.746094 37.332031 37.332031v42.667969c0 20.585938-16.746093 37.332031-37.332031 37.332031zm-96-85.332031c-2.945312 0-5.332031 2.390625-5.332031 5.332031v42.667969c0 2.945312 2.386719 5.332031 5.332031 5.332031h96c2.945312 0 5.332031-2.386719 5.332031-5.332031v-42.667969c0-2.941406-2.386719-5.332031-5.332031-5.332031zm0 0" />
    <path
      d="m160 256c-29.398438 0-53.332031-23.9375-53.332031-53.332031 0-29.398438 23.933593-53.335938 53.332031-53.335938s53.332031 23.9375 53.332031 53.335938c0 29.394531-23.933593 53.332031-53.332031 53.332031zm0-74.667969c-11.753906 0-21.332031 9.578125-21.332031 21.335938 0 11.753906 9.578125 21.332031 21.332031 21.332031s21.332031-9.578125 21.332031-21.332031c0-11.757813-9.578125-21.335938-21.332031-21.335938zm0 0" />
    <path
      d="m240 362.667969c-8.832031 0-16-7.167969-16-16v-10.667969c0-14.699219-11.96875-26.667969-26.667969-26.667969h-74.664062c-14.699219 0-26.667969 11.96875-26.667969 26.667969v10.667969c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-10.667969c0-32.363281 26.304688-58.667969 58.667969-58.667969h74.664062c32.363281 0 58.667969 26.304688 58.667969 58.667969v10.667969c0 8.832031-7.167969 16-16 16zm0 0" />
    <path
      d="m432 192h-117.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h117.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
    <path
      d="m432 277.332031h-117.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h117.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
    <path
      d="m432 362.667969h-117.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h117.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
  </symbol>
  <symbol id="payment-svg" enable-background="new 0 0 511.985 511.985" viewBox="0 0 511.985 511.985">
    <g>
      <path
        d="m503.19 184.134-175.363-175.362c-11.696-11.695-30.729-11.697-42.427 0l-195.214 195.213h-60.163c-16.542 0-30 13.458-30 30v248c0 16.542 13.458 30 30 30h372c16.542 0 30-13.458 30-30v-184.257l71.167-71.167c11.696-11.697 11.697-30.729 0-42.427zm-203.647-161.219c3.899-3.9 10.244-3.898 14.142 0l22.299 22.299-158.772 158.771h-58.741zm112.48 459.07c0 5.514-4.486 10-10 10h-372c-5.514 0-10-4.486-10-10v-248c0-5.514 4.486-10 10-10h372c5.514 0 10 4.486 10 10zm77.025-269.566-57.024 57.024v-35.457c0-16.542-13.458-30-30-30h-122.989l107.86-107.86 102.152 102.151c3.899 3.899 3.899 10.243.001 14.142z" />
      <circle cx="88.231" cy="297.985" r="36" />
      <path
        d="m58.023 401.985h42.271c5.522 0 10-4.477 10-10s-4.478-10-10-10h-42.271c-5.522 0-10 4.477-10 10s4.478 10 10 10z" />
      <path
        d="m191.537 437.985h-133.514c-5.522 0-10 4.477-10 10s4.478 10 10 10h133.514c5.522 0 10-4.477 10-10s-4.478-10-10-10z" />
      <path
        d="m374.023 437.985h-42.271c-5.522 0-10 4.477-10 10s4.478 10 10 10h42.271c5.522 0 10-4.477 10-10s-4.477-10-10-10z" />
      <path
        d="m191.537 381.985h-42.271c-5.522 0-10 4.477-10 10s4.478 10 10 10h42.271c5.522 0 10-4.477 10-10s-4.478-10-10-10z" />
      <path
        d="m282.78 381.985h-42.27c-5.522 0-10 4.477-10 10s4.478 10 10 10h42.271c5.522 0 10-4.477 10-10s-4.478-10-10.001-10z" />
      <path
        d="m374.023 381.985h-42.271c-5.522 0-10 4.477-10 10s4.478 10 10 10h42.271c5.522 0 10-4.477 10-10s-4.477-10-10-10z" />
      <path d="m286.023 281.985v32c0 11.046 8.954 20 20 20h14v-72h-14c-11.045 0-20 8.955-20 20z" />
      <path d="m374.023 313.985v-32c0-11.046-8.954-20-20-20h-14v72h14c11.046 0 20-8.954 20-20z" />
    </g>
  </symbol>
  <symbol id="confirm-svg" viewBox="0 0 25.772 25.772" style="enable-background:new 0 0 25.772 25.772;">
    <g>
      <path d="M25.646,13.74l-1.519-2.396l0.901-2.689c0.122-0.367-0.03-0.77-0.365-0.962l-2.458-1.417l-0.452-2.8
      c-0.063-0.382-0.385-0.667-0.771-0.683l-2.835-0.111l-1.701-2.27c-0.232-0.31-0.652-0.413-0.999-0.246l-2.561,1.218l-2.562-1.219
      C9.976,0,9.558,0.103,9.325,0.412l-1.701,2.27L4.789,2.793c-0.385,0.015-0.708,0.3-0.77,0.682l-0.452,2.8L1.109,7.692
      C0.774,7.884,0.621,8.287,0.743,8.654l0.901,2.689L0.126,13.74c-0.207,0.327-0.154,0.754,0.125,1.022l2.047,1.963l-0.23,2.826
      c-0.031,0.387,0.213,0.74,0.584,0.848l2.725,0.785l1.109,2.611c0.152,0.355,0.533,0.561,0.911,0.479l2.78-0.57l2.194,1.797
      c0.149,0.121,0.332,0.184,0.515,0.184s0.365-0.063,0.515-0.184l2.194-1.797l2.78,0.57c0.377,0.08,0.76-0.123,0.911-0.479
      l1.109-2.611l2.725-0.785c0.371-0.107,0.615-0.461,0.584-0.848l-0.23-2.826l2.047-1.963C25.8,14.494,25.853,14.067,25.646,13.74z
      M18.763,9.829l-5.691,8.526c-0.215,0.318-0.548,0.531-0.879,0.531c-0.33,0-0.699-0.185-0.934-0.421L7.081,14.22
      c-0.285-0.29-0.285-0.76,0-1.05l1.031-1.05c0.285-0.286,0.748-0.286,1.031,0l2.719,2.762l4.484-6.718
      c0.225-0.339,0.682-0.425,1.014-0.196l1.209,0.831C18.902,9.029,18.988,9.492,18.763,9.829z" />
    </g>
  </symbol>
  <symbol id="camera-svg" viewBox="0 0 471.04 471.04" style="enable-background:new 0 0 471.04 471.04;">
    <g>
      <g>
        <path d="M414.72,112.64h-49.152l-27.136-40.96c-10.24-15.36-28.16-24.576-46.592-24.576H179.2
          c-18.432,0-36.352,9.216-46.592,24.576l-27.136,40.96H56.32C25.088,112.64,0,137.728,0,168.96v198.656
          c0,31.232,25.088,56.32,56.32,56.32h358.4c31.232,0,56.32-25.088,56.32-56.32V168.96C471.04,137.728,445.952,112.64,414.72,112.64
          z M235.52,377.856c-70.144,0-126.976-56.832-126.976-126.976c0-70.144,56.832-126.464,126.976-126.464
          s126.976,56.832,126.976,126.976C362.496,321.024,305.664,377.856,235.52,377.856z M407.552,192c-0.512,0-1.024,0-2.048,0h-20.48
          c-9.216-0.512-16.384-8.192-15.872-17.408c0.512-8.704,7.168-15.36,15.872-15.872h20.48c9.216-0.512,16.896,6.656,17.408,15.872
          C423.424,183.808,416.768,191.488,407.552,192z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M235.52,180.736c-38.912,0-70.656,31.744-70.656,70.656s31.744,70.144,70.656,70.144s70.656-31.744,70.656-70.656
          C306.176,211.968,274.432,180.736,235.52,180.736z" />
      </g>
    </g>
  </symbol>
  <symbol id="furniture-bed-svg" viewBox="0 0 501.333 501.333" style="enable-background:new 0 0 501.333 501.333;">
    <g>
      <g>
        <g>
          <path d="M64.48,240h108.608c6.048,0,13.579,0,13.579-26.667c0-12.619-24.277-26.667-40.725-26.667H66.443
          c-14.4,0-27.733,10.123-28.992,24.203C36,226.677,48.693,240,64.48,240z" />
          <path d="M490.667,250.667H32v-160C32,84.776,27.224,80,21.333,80H10.667C4.776,80,0,84.776,0,90.667v320
          c0,5.891,4.776,10.667,10.667,10.667h10.667c5.891,0,10.667-4.776,10.667-10.667V336h437.333v74.667
          c0,5.891,4.776,10.667,10.667,10.667h10.667c5.891,0,10.667-4.776,10.667-10.667V261.333
          C501.333,255.442,496.558,250.667,490.667,250.667z" />
        </g>
      </g>
    </g>
  </symbol>
  <symbol id="check-svg" viewBox="0 0 408.576 408.576" style="enable-background:new 0 0 408.576 408.576;">
    <g>
      <g>
        <path d="M204.288,0C91.648,0,0,91.648,0,204.288s91.648,204.288,204.288,204.288s204.288-91.648,204.288-204.288
          S316.928,0,204.288,0z M318.464,150.528l-130.56,129.536c-7.68,7.68-19.968,8.192-28.16,0.512L90.624,217.6
          c-8.192-7.68-8.704-20.48-1.536-28.672c7.68-8.192,20.48-8.704,28.672-1.024l54.784,50.176L289.28,121.344
          c8.192-8.192,20.992-8.192,29.184,0C326.656,129.536,326.656,142.336,318.464,150.528z" />
      </g>
    </g>
  </symbol>
  <symbol id="chevron-svg" viewBox="0 0 407.437 407.437" style="enable-background:new 0 0 407.437 407.437;">
    <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 " />
  </symbol>
</svg>