section.about#benefits
        .container
            .about__wrapper
                h3.about__title Onze belangrijkste voordelen
                p.about__text Creating an adherent buyer accelerates the cultural dictates of the our consumer. The agency commission essentially broadcasts strategic monitoring of activity.
                .about__card-container
                    .about__card-box
                        p.about__icon
                            img(src='img/build.svg' alt='build')
                        h4.about__card-title Boekhouding
                        p.about__card-text Het boeken van uw facturen en financiële verrichtingen.Opstellen van jaarrekening en bijkomende rapporteringen.
                    .about__card-box
                        p.about__icon
                            img(src='img/scales.svg' alt='scales')
                        h4.about__card-title Fiscaliteit
                        p.about__card-text Opstellen en indienen van BTW-aangiftes, fiscale aangiftes.Bijstand bij fiscale controles.
                    .about__card-box
                        p.about__icon
                            img(src='img/like.svg' alt='like')
                        h4.about__card-title Advies
                        p.about__card-text Bij ons kan u terecht voor advies op maat van uw onderneming, met een persoonlijke aanpak.
                .about__card-container
                    .about__card-box
                        p.about__icon
                            img(src='img/people.svg' alt='people')
                        h4.about__card-title Teamwork
                        p.about__card-text Samen met u als ondernemer streven wij naar:- Vlotte en tijdige verwerking van uw documenten- Fiscale optimalisatie van uw resultaten- Uitbouwen van een toekomstvisie voor uw onderneming
                    .about__card-box
                        p.about__icon
                            img(src='img/monic.svg' alt='monic')
                        h4.about__card-title Digitaal
                        p.about__card-text Via uw persoonlijke login op ons platform kan u alle documenten digitaal aanleveren.


