section.banner
            .banner__content
                h1.banner__title B.F.E. BV
                p.banner__text Boekhouding Fiscaliteit EeckhoutUw kantoor in regio Merelbeke, gericht op de zelfstandige ondernemer en KMO.
                .banner__btn-box
                    a(href='#').banner__btn Bezoek portaal
                    a(href='#').banner__btn_opacity Neem contact op

