@font-face {
  font-family: 'check';
  src: url("../font/fontello.eot?61042486");
  src: url("../font/fontello.eot?61042486#iefix") format("embedded-opentype"), url("../font/fontello.woff2?61042486") format("woff2"), url("../font/fontello.woff?61042486") format("woff"), url("../font/fontello.ttf?61042486") format("truetype"), url("../font/fontello.svg?61042486#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'close';
  src: url("../font/close.eot?50657171");
  src: url("../font/close.eot?50657171#iefix") format("embedded-opentype"), url("../font/close.woff2?50657171") format("woff2"), url("../font/close.woff?50657171") format("woff"), url("../font/close.ttf?50657171") format("truetype"), url("../font/close.svg?50657171#close") format("svg");
  font-weight: normal;
  font-style: normal; }

.close {
  font-family: 'close'; }

.check {
  font-family: 'check'; }

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.button.is-link:hover, .button.is-dark:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }

.button.is-link {
  background: #4f46e5; }
  .button.is-link:hover {
    background: #3026d6; }

.has-text-link {
  color: #4f46e5 !important; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0; }

.navbar {
  background: transparent; }
  @media (min-width: 768px) {
    .navbar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      min-height: 3.25rem; } }
  @media (max-width: 767px) {
    .navbar-menu {
      display: block;
      max-height: 0;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      overflow: hidden;
      visibility: hidden;
      padding-bottom: 20px; }
      .navbar-menu.is-active {
        max-height: 100vh;
        visibility: visible; } }
  @media (min-width: 768px) {
    .navbar-menu {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: transparent;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding: 0; } }
  .navbar-item {
    color: #000; }
    .navbar-item.button {
      width: 100%;
      text-align: left; }
  .navbar .button {
    width: 100%;
    text-align: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left; }
  .navbar-end {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px; }
    @media (min-width: 768px) {
      .navbar-end {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .navbar-burger span {
    height: 2px;
    width: 20px;
    border-radius: 3px;
    background: #4e4e4e;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .navbar-burger span:nth-child(1) {
      top: calc(50% - 6px); }
    .navbar-burger span:nth-child(2) {
      top: calc(50%); }
    .navbar-burger span:nth-child(3) {
      top: calc(50% + 6px); }
  .navbar-burger.is-active span:nth-child(1) {
    top: calc(50% - 4px); }
  @media (min-width: 768px) {
    .navbar-burger {
      display: none; } }
  @media (max-width: 767px) {
    .navbar .grey-button {
      background: #c2c2c2;
      margin: 10px 0;
      border-radius: 4px; } }

a.navbar-item:hover {
  color: #000;
  background: #E5E5E5; }
  @media (min-width: 1024px) {
    a.navbar-item:hover {
      background: transparent;
      color: #424242; } }

.hero-section {
  background: #F9FAFB; }
  .hero-section .button {
    padding: 15px 30px;
    height: auto; }
    @media (max-width: 767px) {
      .hero-section .button {
        width: 100%;
        margin-bottom: 10px; } }
    @media (min-width: 768px) {
      .hero-section .button {
        margin: 0 10px; } }

.benefits__img {
  max-height: 80px; }

.benefits p {
  max-width: 100%; }

@media (min-width: 768px) {
  .benefits .is-one-third-tablet {
    width: 33%; } }

.integrations__item {
  max-height: 200px; }
  .integrations__item img {
    -webkit-box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0 20px 5px rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) and (max-width: 1023px) {
  .integrations .is-two-fifths-tablet {
    width: 40%; } }

.forms {
  background: #F9FAFB;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #F9FAFB), color-stop(#fff, #fff), to(#fff));
  background: linear-gradient(to bottom, #F9FAFB 45%, #fff #fff 45%, #fff 100%); }
  .forms .forms__tabs {
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .forms .forms__tabs {
        width: 70%;
        margin: 0 auto;
        max-width: 672px; } }
    .forms .forms__tabs li {
      padding: 0 5px; }
      .forms .forms__tabs li a {
        background: #6EE7B7;
        color: #fff;
        font-weight: 500;
        font-size: 13px; }
        @media (min-width: 576px) {
          .forms .forms__tabs li a {
            font-size: 16px; } }
        .forms .forms__tabs li a:hover {
          color: #fff;
          background: #5abd95; }
      .forms .forms__tabs li.is-active a {
        background: #fff;
        color: #000; }
  .forms form input {
    width: 100%;
    font-size: 16px;
    height: 100%;
    padding: 0 15px;
    min-height: 45px; }
    .forms form input:focus {
      outline: transparent; }
  .forms form label {
    cursor: pointer; }
  .forms form .button {
    width: 100%; }
  .forms .tabs__content {
    background: #fff;
    -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-top: 0; }
    @media (min-width: 768px) {
      .forms .tabs__content {
        width: 70%;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 672px; } }
    @media (min-width: 1024px) {
      .forms .tabs__content {
        padding: 0 30px; } }
  .forms .tabs__item {
    opacity: 0;
    display: none;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out; }
    .forms .tabs__item.is-active {
      display: block; }
    .forms .tabs__item.animate {
      opacity: 1; }
    @media (min-width: 768px) {
      .forms .tabs__item {
        width: 90%; } }
  .forms__links a {
    display: inline-block;
    color: #575757;
    padding: 10px;
    text-decoration: underline; }
    .forms__links a:hover {
      text-decoration: none; }
  .forms .tablet-4, .forms .tablet-5 {
    width: 100%; }
  @media (min-width: 768px) {
    .forms .tablet-4 {
      width: 40%; }
    .forms .tablet-6 {
      width: 60%; } }
  @media (min-width: 1024px) {
    .forms .tablet-4 {
      width: 30%; }
    .forms .tablet-6 {
      width: 70%; } }
  @media (min-width: 768px) {
    .forms .has-text-right {
      text-align: right !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tabs__item.is-active {
    opacity: 1; } }

.price__item {
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 0px #636363;
          box-shadow: 0 0 10px 0px #636363;
  width: 80%;
  max-width: 375px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .price__item {
      width: 30%; } }
  @media (min-width: 1200px) {
    .price__item {
      width: 28%;
      max-width: 28%;
      margin: 0; } }

.price__head {
  padding: 20px; }
  @media (min-width: 768px) {
    .price__head {
      padding: 15px; } }
  @media (min-width: 1024px) {
    .price__head {
      padding: 20px; } }
  .price__head .amount {
    font-weight: 800; }
    .price__head .amount span {
      font-size: .5em; }

.price__range {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 600;
  background: #e5edff;
  color: #5850ec;
  margin-bottom: 10px; }

.price__body {
  background: #F9FAFB;
  padding: 20px; }
  @media (min-width: 768px) {
    .price__body {
      padding: 15px; } }
  @media (min-width: 1024px) {
    .price__body {
      padding: 20px; } }
  .price__body li {
    padding-left: 30px;
    position: relative;
    margin-bottom: 5px; }
  .price__body span {
    position: absolute;
    left: 0; }
  .price__body .close {
    color: #f34141; }
  .price__body .check {
    color: #4dad4d; }
  .price__body .button {
    width: 100%; }

.start {
  background: #F9FAFB;
  text-align: left; }
  .start .button {
    margin: 0 10px 15px;
    padding: 15px 30px;
    height: auto;
    min-width: 132px; }

.footer {
  padding: 30px 15px;
  background: #1F2937; }
  .footer .title {
    color: #E5E5E5; }
  .footer .copyright {
    color: #6B7280; }
  .footer li:first-child {
    color: #6B7280; }
  .footer a {
    padding-left: 15px;
    color: #fff; }
    .footer a:hover {
      color: #6B7280; }
  .footer__links {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
