<!-- PAYMENT TITLE -->
<div class="container">
  <div class="body-title">
    <h1 class="body-title__head"><span>Payment</span> information</h1>
  </div>
</div>

<!-- PAYMENT CONTAINER -->
<div class="container payment">
  <form action="confirmation.html" method="#" class="row">
    <div class="col-12 col-lg-7">

      <!-- PAYMENT AMOUNT BLOCK -->
      @@include('./_payment-amount.html')

      <!-- PAYMENT DETAILS -->
      <div class="body-title">
        <h3 class="body-title__head"><span>Payment</span> details</h3>
      </div>

      @@include('./_payment-details.html')
    </div>

    <!-- PAYMENT SUMMARY -->
    <div class="col-12 col-lg-5 col-xxl-4-summary">
      @@include('../../components/_summary.html')
    </div>

    <!-- NEXT/PREV BTNS -->
    <div class="col-12 col-lg-7">
      <div class="d-flex justify-content-between back-next-btn">
      <a href="details.html" class="main-cta main-cta--back">
        Back</a>
      <button type="submit" class="main-cta">
        Next step</button>
    </div>
  </div>
  </form>
</div>