<div class="payment__details">
  <div class="row justify-content-xl-between">
    <!-- NAME & NUMBER CARD -->
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group payment__input">
        <label for="nameOnCard">Name on card *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="nameOnCard" name="name on card" required>
      </div>
  
      <div class="form-group payment__input">
        <label for="cardNumber">Card number *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="cardNumber" name="card number" required>
      </div>
    </div>
  
    <!-- CARD TYPE -->
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group payment__input">
        <label for="cardTypeSelect">Card type *</label>
        <select class="custom-select custom-select-lg custom-select-m" id="cardTypeSelect" name="card type" required>
          <option value="" selected>Please select</option>
          <option value="1">Debit card</option>
          <option value="2">Credit card</option>
          <option value="3">Charge card</option>
        </select>
      </div>
    </div>
  </div>

  <!-- START CARD DATE -->
  <div class="row justify-content-xl-between payment__card-date">
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group payment__input  payment__input--mb-less">
        <label for="startMonth">Start date *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="startMonth" name="start date month" placeholder="Month" required>
      </div>
    </div>
  
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group payment__input">
        <label class="invisible d-none d-lg-block" for="startYear">Start year date *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="startYear" name="start date year" placeholder="Year" required>
      </div>
    </div>
  </div>
  
  <!-- EXPIRE CARD DATE -->
  <div class="row justify-content-xl-between payment__card-date">
    <div class="col-12 col-lg-6 col-xxl-5-5">  
      <div class="form-group payment__input  payment__input--mb-less">
        <label for="expireMonth">Expiry date *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="expireMonth" name="expire date month" placeholder="Month" required>
      </div>
    </div>
  
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group payment__input">
        <label class="invisible d-none d-lg-block" for="expireYear">Expiry year date *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="expireYear" name="expire date year" placeholder="Year" required>
      </div>
    </div>
  </div>
  
  <!-- CARD CODES -->
  <div class="row justify-content-xl-between">
    <div class="col-12 col-lg-6 col-xxl-5-5">  
      <div class="form-group payment__input">
        <label for="securityCode">Security code *</label>
        <div class="payment__input-codes">
          <input type="text" class="form-control form-control-lg custom-input-t" id="securityCode" name="security code" required>
        
          <span>This is the three digits on the back of your card. (CVV)</span>
        </div>
      </div>
    </div>
  
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group payment__input">
        <label for="issueNumber">Issue number *</label>
        <div class="payment__input-codes">
          <input type="text" class="form-control form-control-lg custom-input-t" id="issueNumber" name="issue number">

          <span>Only applicable to Maestro / Solo card holders.</span>
        </div>
      </div>
    </div>
  </div>

  <!-- CHECKBOXES BLOCK -->
  <div class="payment__checkboxes">
    <div class="form-check custom-input-ch">
      <label class="form-check-label" for="confirmBtn">
        <input class="form-check-input" type="checkbox" value="" id="confirmBtn" required>
        <span class="custom-input-ch__checkmark"></span>
        Please confirm that you have read and understood our <a href="#">terms and conditions.</a>
      </label>
  
      <p>Unless you have opted out of his service, your remaining holiday balance will be debited six weeks prior to your holiday using these card details. if you opt out you will need to contact us to pay the balance in full.</p>
    </div>
  
    <div class="form-check custom-input-ch">
      <label class="form-check-label" for="addictionBtn">
        <input class="form-check-input" type="checkbox" value="" id="addictionBtn">
        <span class="custom-input-ch__checkmark"></span>
        Tick to opt out
      </label>
    </div>
  </div>
</div>