<div class="inner__wrap">
  <div class="inner__container">

    <h4 class="amount-title">Payment amount</h4>

    <table class="table table-borderless amount-table">
      <tbody>
        <tr>
          <td>Accommodation charge:</td>
          <td>£<span>860.00</span></td>
        </tr>
        <tr>
          <td>Extras charge:</td>
          <td>£<span>30.00</span></td>
        </tr>
        <tr class=" amount-table__total">
          <td>TOTAL CHARGE:</td>
          <td>£<span>890.00</span></td>
        </tr>
      </tbody>
    </table>
    
    <!-- RADIO BTN BLOCK -->
    <h4 class="amount-title">Amount to pay now...</h4>
    <div class="form-check custom-input-r">
      <input class="form-check-input" type="radio" name="radio card type" id="radioFullPayment" value="option1" checked>
      <label class="form-check-label" for="radioFullPayment">
        Full payment: £<span>450.00</span>
      </label>
    </div>
    <div class="form-check custom-input-r">
      <input class="form-check-input" type="radio" name="radio card type" id="radioDeposit" value="option2">
      <label class="form-check-label" for="radioDeposit">
        Deposit: £<span>100.00</span>
      </label>
    </div>
  </div>
</div>