.container, .container-md {
  @include wide-screen-lg {
    max-width: 1300px;
  }
}

.col-xxl-4-summary {
  @include wide-screen-lg {
    margin-left: auto;
    flex: 0 0 37.666667%;
    max-width: 500px;
  }
}

.col-xxl-5-5 {
  @include wide-screen-lg {
    flex: 0 0 47%;
    max-width: 47%;
  }
}