* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  font-size: $font-size;
  color: $clr-main;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

main {
  margin-top: 20px;
  margin-bottom: 40px;

  @include mobile-lg {
    margin-bottom: 70px;
  }
  @include desktop-sm {
    margin-bottom: 100px;
  }
}

a {
  color: $clr-accent;
  text-decoration: underline;
  transition: color .3s;

  &:hover {
    color: darken($clr-accent, 10);
  }
}

.inline-svg-icon{
  display: inline-block;
}