//fonts variables
$font-main:  Arial, Helvetica, sans-serif;

$font-size: 16px;

$gap: 15px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
$clr-black: #000000;
$clr-light: #ffffff;
$clr-main: #666666;
$clr-main-highlight: #dbdbdb;
$clr-accent: #b1a04e;
$clr-accent-highlight: #f3f1e5;