.confirmation {

  &__payment {
    @include desktop-sm {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title-details {
    margin-bottom: $gap;
    text-align: center;
    font-weight: 700;

    @include mobile-lg {
      margin-bottom: $gap*2;
      font-size: 2.125rem;
    }

    @include desktop-sm {
      padding-left: 10px;
      text-align: left;
      font-size: 1.875rem;
    }
  }

  &__table {
    td:nth-of-type(2) {
      text-align: right;
    }
    td[align='right'] {
      color: $clr-accent;
    }
  }
}