@@include('./html-templates/_head.html',{
  'name':'Classes - Yogasan'
})

<!-- <div class="hg"></div> -->

<main id="main">
  <section class="class-hero">
    <div class="ui container class-hero__container">
      <h1 class="class-hero__title">Classes</h1>
    </div>
  </section>

  <section class="class-card">

   <div class="ui three column doubling stackable grid container class-card__container class-card__container-1">

    @@include('./html-templates/_classes-card.html',{
      'main-route':'classes-card-1',
      'sub-route':'icons/yoga-poses-1',
      'link-text':'Hatha Yoga',
      'desc':'Yoga For Beginners',
      'main-alt':'yoga photo',
      'sub-alt':'yoga pose'
    })

    @@include('./html-templates/_classes-card.html',{
      'main-route':'classes-card-2',
      'sub-route':'icons/yoga-poses-2',
      'link-text':'Kundalini',
      'desc':'Increased Flexibility',
      'main-alt':'yoga photo',
      'sub-alt':'yoga pose'
    })

    @@include('./html-templates/_classes-card.html',{
      'main-route':'classes-card-3',
      'sub-route':'icons/yoga-poses-3',
      'link-text':'Vinyasa',
      'desc':'Balance Body & Mind',
      'main-alt':'yoga photo',
      'sub-alt':'yoga pose'
    })

   </div>

    <div class="ui three column doubling stackable grid container class-card__container class-card__container-2">

      @@include('./html-templates/_classes-card.html',{
        'main-route':'classes-card-4',
        'sub-route':'icons/yoga-poses-4',
        'link-text':'Advance',
        'desc':'Yoga For Beginners',
        'main-alt':'yoga photo',
        'sub-alt':'yoga pose'
      })
  
      @@include('./html-templates/_classes-card.html',{
        'main-route':'classes-card-3',
        'sub-route':'icons/yoga-poses-3',
        'link-text':'Vinyasa',
        'desc':'Balance Body & Mind',
        'main-alt':'yoga photo',
        'sub-alt':'yoga pose'
      })
  
      @@include('./html-templates/_classes-card.html',{
        'main-route':'classes-card-1',
        'sub-route':'icons/yoga-poses-1',
        'link-text':'Hatha Yoga',
        'desc':'Yoga For Beginners',
        'main-alt':'yoga photo',
        'sub-alt':'yoga pose'
      })
    </div>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, ratione!</p>

    
  </section>
</main>

@@include('./html-templates/_script.html',{})