<div class="confirmation__payment">
  <!-- PAYMENT DETAILS INFO -->
  <div class="inner__wrap">
    <div class="inner__container">
      <h4 class="confirmation__title-details">Payment details</h4>

      <table class="table table-borderless summary__table confirmation__table">
        <tbody>
          <tr>
            <td>Payment type:</td>
            <td>Mastercard</td>
          </tr>
          <tr>
            <td>ANOUNT PAID</td>
            <td>£480</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- CONTACT DETAILS INFO -->
  <div class="inner__wrap pb-0 mt-lg-auto">
    <div class="inner__container">
      <h4 class="confirmation__title-details">Contact details</h4>

      <table class="table table-borderless summary__table confirmation__table">
        <tbody>
          <tr>
            <td>Name:</td>
            <td>Miss Laura Cannings</td>
          </tr>
          <tr>
            <td rowspan="5">Address:</td>
            <td>38 Jumpers Avenue</td>
          </tr>
          <tr>
            <td align="right">Christchurch</td>
          </tr>
          <tr>
            <td align="right">Dorset</td>
          </tr>
          <tr>
            <td align="right">BH23 2ER</td>
          </tr>
          <tr>
            <td align="right">United Kingdom</td>
          </tr>
          <tr>
            <td>Telephone:</td>
            <td>07808046407</td>
          </tr>
          <tr>
            <td>Mobile:</td>
            <td>07808046407</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>lauracannings@hotmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>