<!-- CONFIRMATION TITLE -->
<div class="container">
  <div class="body-title">
    <h1 class="body-title__head"><span>Confirmation</span></h1>
    <p class="body-title__subhead">Thank you for your booking, please check your details below and call us if there are any amendments required.</p>
  </div>
</div>

<!-- CONFIRMATION CONTAINER -->
<div class="container confirmation">
  <div class="row justify-content-xl-between">
    <!-- RESERVATION DETAILS -->
    <div class="col-12 col-lg-6 col-xxl-5-5">
      @@include('../../components/_reservation-details.html')
    </div>

    <!-- CONFIRMATION PAYMENT INFO -->
    <div class="col-12 col-lg-6 col-xxl-5-5">
      @@include('./_confirmation-payment.html')
    </div>
  </div>
</div>

<div class="container mt-5">
  <p>Please contact us if any of the above information is incorrect or if you have any specific requirements.</p>
</div>