.footer {
  background: $clr-black;
  color: $clr-light;
  padding: 34px 0;

  @include desktop-sm {
    padding-top: 45px;
  }

  &__container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__feedback {
    padding-bottom: 70px;

    @include desktop-sm {
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
    }

    p {
      text-align: center;

      @include desktop-sm {
        text-align: left;
      }
    }
  }

  &__form {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 28px;
    max-width: 350px;
  }

  &__input {

    padding: 10px 150px 10px 20px;
    border-radius: 64px;
    border: 0;
    outline: 0;
    width: 100%;
  }

  &__submit {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 64px;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    background: $clr-accent;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .2s;

    &:hover {
      background: #ffc107;

    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
    margin-top: auto;

    @include desktop-sm {
      margin: 0;
      margin-top: auto;
      margin-left: auto;
    }
  }

  &__icon {
    img {
      display: block;
    }
  }

  &__links {
    @include desktop-sm {
      order: -1;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    width: 50%;
    padding: 0 10px;

    @include tablet {
      width: 25%;
    }

    @include desktop-sm {
      width: 18%;
    }
  }

  &__title-list {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 12px;
  }

  &__item {
    a {
      color: $clr-text-gray;
      padding-bottom: 4px;
      font-size: 14px;
      transition: .2s;

      &:hover {
        text-decoration: none;
        color: #ccc;
      }
    }

  }

  &__copyright {
    padding-top: 65px;
    max-width: 345px;
    font-size: 12px;
    color: #C1C1C1;

    p {
      margin: 0;
      margin-top: 15px;

      @include mobile-lg {
        margin: 0;
        margin-left: 15px;
      }
    }

    @include mobile-lg {
      display: flex;
      align-items: center;
    }
  }

  h4 {
    margin: 0;
  }
}