.theright-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
  height: 78px;
  background-color: $clr-black;
  color: $clr-light;

  @include desktop-sm {
    padding: 0;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;

    @include desktop-sm {
      padding-left: 1rem;
    }
  }

  &__logo {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include wide-screen-md {
      margin-right: 25px;
    }
  }

  &__toggler {
    padding: 0;
    height: 100%;

    &:focus, &:hover {
      outline: none;
      
      .h-nav-toggler {
        span {
          background-color: $clr-accent;
        }
      }
    }
  }

  &__navbar-wrap {
    @include desktop-sm {
      height: 100%;
    }
  }

  &__navbar {
    padding: 0 1rem;

    @include desktop-sm {
      padding: 0 0 0 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }

    .nav-link {
      color: $clr-light;
      font-size: 1rem;

      &:hover, &:focus {
        color: $clr-accent;
        outline: none;
      }

      @include desktop-sm {
        font-size: 0.875rem;
      }

      @include wide-screen-md {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }

    .navbar-nav {
      @include desktop-sm {
        align-items: center;
      }
    }

    .dropdown {
      &-toggle {
        display: flex;
        align-items: center;

        &::after {
          display: none;
        }
        &:focus {
          outline: none;
        }
        
        @include desktop-sm {
          &:active {
            pointer-events: none;
          }

          &::after {
            display: none;
          }

          .h-chevron {
            svg {
              transition: transform .3s ease;
            }
          }
        }
      }

      .h-chevron {
        margin-left: auto;

        @include desktop-sm {
          margin-left: 10px;
        }

        svg {
          transition: transform .3s ease;
        }
      }

      &.show {

        .h-chevron {
          svg {
            transform: rotate(180deg);
          }
        }
      }

      &-menu {
        box-sizing: border-box;
        border: none;
        background-color: $clr-black;

        @include desktop-sm {
          display: block;
          visibility: hidden;
          margin: 0;
          padding: 0;
          height: 0;
          opacity: 0;
          transform: translateY(20px);
          overflow: hidden;
          transition: opacity .3s ease, transform .5s ease;
        }
      }

      &-item {
        color: $clr-light;

        @include desktop-sm {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }

        &:hover, &:focus {
          color: $clr-accent;
          background-color: $clr-black;
          outline: none;
        }
      }

      @include desktop-sm {
        height: 100%;
        display: flex;
        align-items: center;
        transition: .3s ease;

        &:hover, &:focus {
          background-color: $clr-accent;
          outline: none;

          .nav-link {
            color: $clr-black;
          }

          .dropdown-menu {
            visibility: visible;
            opacity: 1;
            height: auto;
            overflow: visible;
            transform: translateY(0);
            border-radius: 0;
          }

          .dropdown-toggle {
            .h-chevron {
              svg {
                transform: rotate(180deg);

                path {
                  fill: $clr-black;
                }
              }
            }
          }
        }
      }
    }
  }

  // navbar collapse from left
  @media (max-width: 992px) {

    .navbar-collapse.collapsing .theright-header__navbar {
      background-color: $clr-black;
      display: block;
      position: fixed;
      top: 78px;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      transition: transform .3s ease;
    }

    .navbar-collapse.show .theright-header__navbar {
      background-color: $clr-black;
      position: fixed;
      top: 78px;
      bottom: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      height: auto;
      transform: translateX(0%);
      transition: transform .3s ease;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      z-index: 1000;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}