.logo-grid {
  padding: 40px 0;
  background-color: $clr-bg2;

  &__caption {
    width: 90%;
    margin: 0 auto 25px;
    text-align: center;

    @include tablet {
      margin: 0;
      text-align: left;
    }
    @include desktop-md {
      width: 60%;
    }
    @include wide-screen-md {
      width: 50%;
    }

    .logo-grid__title {
      margin-bottom: 30px;
      
      @include tablet {
        margin-bottom: 25px;
        font-size: 2.125rem;
      }
    }

    p {
      @include tablet {
        font-size: 1.5rem;
      }
    }
  }

  &__thumbnail {
    margin: auto;
    max-width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-lg {
      max-width: 110px;
      height: 110px;
    }
  }
}