.h-nav-toggler {
  width: 20px;
  height: 15px;
  position: relative;
  margin: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $clr-light;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(3), &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(4) {
      top: 12px;
      width: 60%;
    }
  }

  &.open span {
    &:nth-child(1) {
      top: 6px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 6px;
      width: 0%;
      left: 50%;
    }
  }
}