.testimonal {
  padding-top: 20px;
  padding-bottom: 20px;

  &__header {
    padding: 20px 0 40px;

    @include tablet {
      padding: 40px 0 60px;
    }

    p {
      font-size: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 2.125rem;
    font-weight: 600;
    

    @include tablet {
      margin-bottom: 0.5rem;
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &__wrap {
    @include wide-screen-sm {
      margin-right: -45px;
      margin-left: -45px;
    }
  }

  &__column {
    @include wide-screen-sm {
      padding-right: 45px;
      padding-left: 45px;
    }
  }

  &__item {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }
  }

  &__top {
    padding: 24px;
    margin-bottom: 12px;
    border-radius: 12px;
    background-color: $clr-bg2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__bottom {
    padding: 0 28px;
    display: flex;
    align-items: center;

    &--ordered {
      justify-content: flex-end;

      @include tablet {
        justify-content: flex-start;
      }

      .testimonal {
        &__thumbnail {
          order: 1;

          @include tablet {
            order: 0;
          }
        }

        &__author {
          text-align: right;

          @include tablet {
            text-align: left;
          }
        }
      }
    }
  }

  &__thumbnail {
    min-width: 56px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.06);
  }

  &__author {
    padding: 0 16px;
    text-align: left;

    p {
      margin-bottom: 0;
    }
  }

  &__name {
    font-weight: 600;
  }

  &__company {
    font-size: .9em;
  }
}