@import "./variables";
@import "./mixins-media";

.about {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include md-max-768 {
     padding: 0;
    }
  }

  &__title {
    @extend .title;
    padding-bottom: 45px;
    @media md-max-768 {
      padding-bottom: 30px;
    }
  }

  .about__title {
    padding-bottom: 45px;
    @media md-max-768 {
      padding-bottom: 30px;
    }
  }

  &__text {
    @extend .text;
    width: 55%;
    @include md-max-768 {
      width: 100%;
      padding-bottom: 15px;
    }
  }

  &__card-text {
    width: 100%;
    font-family: $FontFamilyRoboto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $mainGrayColor;
    padding-bottom: 20px;
  }

  &__card-container {
    display: flex;
    justify-content: center;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 100%;
    }
    @include md-max-768 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card-box {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 0;
    @include md-max-768 {
      width: 90%;
      padding: 10px 0;
    }
  }

  &__card-title {
    font-family: $FontFamilyCormorant;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $mainDarkColor;
    padding: 15px 0;
  }

  &__card-text {
    @extend .text-min;
    text-align: center;
  }
}