@import "variables";
@import "mixins-media";

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(54, 63, 65, 0.85), rgba(54, 63, 65, 0.85)),
  url("../img/banner.png") no-repeat;
  background-size: cover;
  height: 100vh;

  &__content {
    display: flex;
    flex-direction: column;
    width: 75%;
    @include md-max-768 {
      width: 90%;
    }
    @include sm-max-480 {
      width: 100%;
    }
  }

  &__title {
    @extend .title-max;
    color: $mainColorLight;
    text-align: center;
    @include md-max-768 {
      line-height: 15px;
    }
  }

  &__text {
    font-family: $FontFamilyRoboto;
    font-size: $mainFontSize;
    line-height: 32px;
    text-align: center;
    color: $mainColorLight;
    padding: 20px 0 40px;
    @include sm-max-480 {
      font-size: 16px;
      padding: 10px;
    }
  }
  &__btn-box{
    display: flex;
    justify-content: center;
    @include md-max-768 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btn {
    @extend .button;
    background-color: $mainColor;
    margin-right: 20px;
    color: $mainGrayColor;
    @include md-max-768 {
      flex-direction: column;
      margin: 10px 0;
    }
    &:hover, :focus{
      background-color:$mainColorLight;
      color: $mainColor;
    }
  }

  &__btn_opacity {
    @extend .button;
    border: 1px solid $mainColor;
    color: $mainColor;
    &:hover{
      background-color:$mainColorLight;
    }
  }
}