@import "./variables";
@import "./mixins-media";

.contacts {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    @include md-max-768 {
      width: 85%;
    }
  }

  &__title {
    @extend .title;
    padding-top: 100px;
    @include md-max-768 {
      padding: 35px 0;
    }
  }

  &__text {
    @extend .text;
    padding-bottom: 60px;
    width: 100%;
    max-width: 760px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D9D8D9;
  }

  &__form-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    @include sm-max-480 {
      flex-direction: column;
    }
  }

  &__form-item {
    width: calc(50% - 15px);
    margin-bottom: 15px;
    @include sm-max-480 {
      width: 100%;
    }

    input {
      border: 1px solid #D9D8D9;
      padding: 10px 15px;
      width: 100%;
      @extend .text-min;
    }
  }

  &__form-item-textarea {
    width: 100%;
    height: 100px;
    @include sm-max-480 {
      margin: 0;
    }
    textarea{
      resize: none;
      border: 1px solid #D9D8D9;
      width: 100%;
      height: 100px;
      padding: 15px;
      @extend .text-min;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 100%;
      }
    }
  }

  input::placeholder,
  textarea::placeholder {
    @extend .text-min;
    line-height: 22px;
  }

  &__btn {
    @extend .button;
    background-color: $mainColor;
    color: $mainGrayColor;
    margin: 40px auto 60px;
    &:hover{
      background-color:$mainDarkColor;
      color:$mainColorLight ;
    }
  }

  &__info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 86px;
    @include md-max-768 {
      flex-direction: column;
    }
  }

  &__info-box {
    display: flex;
    @include md-max-768 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in;
    &:hover, :focus{
      text-decoration: underline;
    }
  }

  &__list-item {
    font-family: $FontFamilyRoboto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $mainGrayColor;
    @include md-max-768 {
      text-align: center;
    }

    a {
      color: $mainGrayColor;
    }
  }

  &__list-img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 24px;
      height: 30px;
    }
    @include md-max-768 {
      width: 7%;
      height: auto;
    }
  }
}