@import "./variables";
@import "./mixins-media";

.customer-portal {
  width: 100%;
  background-color: $mainColor;
  height: 280px;
  @include sm-max-480 {
    height: 200px;
  }

  &__wrapper {
    display: flex;
    width: 80%;
    height: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    @include md-max-768 {
      width: 100%;
    }
  }

  &__titile {
    @extend .title;
  }

  &__btn {
    @extend .button;
    background-color: $mainColorLight;
    color: $mainGrayColor;
    font-weight: 500;
    &:hover, :focus{
      background-color:$mainDarkColor;
      color:$mainColorLight ;
    }
  }

}