@import "./variables";
@import "./mixins-media";

.header{
  width: 100%;
  background: rgba(54, 63, 65, 0.8);
  display: flex;
  justify-content: center;

  &__list{
    display: flex;
   justify-content: center;
  }
  &__item{
    font-family: $FontFamilyCormorant;
    font-weight: 600;
    font-size: $mainFontSize;
    line-height: 26px;
    padding: 10px 55px;
    @include md-max-768 {
    padding: 10px;
    }
    @include sm-max-480 {
      font-size: 14px;
    }
  }
  &__link{
    color: #C49B47;
    padding: 5px;
    transition: background-color .3s ease-in-out;
    &:hover, :focus{
      background: rgba(54, 63, 65, 0.8);
    }
  }
}