@import "./variables";
@import "./mixins-media";

.info-block {
  width: 100%;
  background-color: #eab243;
  display: flex;
  justify-content: center;

  &__content {
    padding: 7px 75px 30px 100px;
    width: 50%;
    @media (max-width: 1200px) {
      padding: 0 20px 0 50px;
    }
    @media (max-width: 991px) {
      padding: 0;
      width: 100%
    }
    @include sm-max-480 {
      padding-top: 10px;
      font-size: 30px;
    }
  }

  &__container {
    display: flex;
    padding: 100px 0;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 40px 30px;
    }
  }

  &__title {
    @extend .title-max;
    color: $mainDarkColor;
    padding-bottom: 20px;
    text-align: left;
    line-height: 1;
    @media (max-width: 992px) {
      padding-bottom: 10px;
    }
  }

  &__item {
    font-family: $FontFamilyRoboto;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $mainGrayColor;
    padding-bottom: 10px;
  }

  &__img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    @media (min-width: 1439px) {
      margin-right: -20px;
    }
    @media (max-width: 992px) {
      width: 60%;
      align-items: baseline;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 80%;
      }
    }
    @include md-max-768 {
      justify-content: center;
      width: 70%;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 80%;
      }
    }
    @include sm-max-480 {
      width: 100%;
    }
  }
}