@import 'nullstyle';
@import 'breakpoints';
@import 'variables';
@import 'headeR';
@import 'banner';
@import 'info-block';
@import 'about';
@import 'customer_portal';
@import 'contacts';
@import 'map';
@import 'mixins-media';

html {
  scroll-behavior: smooth;
}


.container {
  max-width: 1440px;
  padding: 0 10px;
  width: 100%;
  &_p0 {
    padding: 0;
    @media (max-width: 991px) {
      padding: 10px 0;
    }
  }
}

.button {
  font-family: $FontFamilyRoboto;
  font-size: $mainFontSize;
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 53px;
  transition: all .3s ease-in;
  @include md-max-768 {
    font-size: $minFontSize;
    width: 230px;
    padding: 15px 5px;
  }
  @include sm-max-480 {
    font-size: 14px;
  }
}

.title-max {
  font-family: $FontFamilyCormorant;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  @media (max-width: 992px) {
    font-size: 70px;
    text-align: center;
  }
  @media (max-width: 645px) {
    font-size: 50px;
  }

  @include sm-max-480 {
    font-size: 30px;
  }
}

.title {
  font-family: $FontFamilyCormorant;
  font-size: $titleFontSize;
  font-weight: 700;
  text-align: center;
  color: $mainDarkColor;
  padding-bottom: 20px;
  @include md-max-768 {
    font-size: 35px;
    padding: 30px 0;
  }
  @include sm-max-480 {
    font-size: 20px;
  }
}

.text {
  font-family: $FontFamilyRoboto;
  font-size: $mainFontSize;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  color: #363F41;
  @include md-max-768 {
    font-size: 18px;
    line-height: 25px;
    @include sm-max-480 {
      font-size: 16px;
    }
  }
}

.text-min {
  font-family: $FontFamilyRoboto;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: $mainGrayColor;
  @include md-max-768 {
    line-height: 20px;
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}



