@import "variables";
@import "mixins-media";


.map {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 37%;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 991px) {
      width: 95%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}