$FontFamilyCormorant:'Cormorant Unicase', serif;
$FontFamilyRoboto:'Roboto Slab', serif;

$mainFontSize: 20px;
$bigFontSize: 96px;
$minFontSize: 16px;
$titleFontSize: 48px;

$mainColor: #EAB243;
$mainDarkColor: #05071E;
$mainGrayColor: #363F41;
$mainColorLight: #ffffff;








