<!-- AVAILABILITY TITLE -->
<div class="container">
  <div class="body-title d-flex flex-column flex-lg-row justify-content-between align-items-center">
    <h1 class="body-title__head"><span>Lodge</span> holidays for <span>2 adults,</span> <span>2 children</span> </h1>
    <div class="body-title__btn d-flex">
      <a href="index.html" class="main-cta">
        <svg class="inline-svg-icon">
          <use xlink:href="#magnifier-svg"></use>
        </svg>
        Search again...</a>
    </div>
  </div>
</div>

<!-- AVAILABILITY CONTAINER -->
<div class="container availability">
  @@include('./_item.html', {
    sold: '',
    disabled:'',
    cross: ''
  })
  @@include('./_item.html', {
    sold: '',
    disabled:'',
    cross: ''
  })
  @@include('./_item.html', {
    sold: 'avail-item__order--sold',
    disabled:'main-cta--disabled',
    cross: 'del-cross'
  })
</div>

<!-- SEARCH AGAIN BTN -->
<div class="container">
  <div class="body-title__btn d-flex justify-content-center justify-content-lg-end">
    <a href="index.html" class="main-cta">
      <svg class="inline-svg-icon">
        <use xlink:href="#magnifier-svg"></use>
      </svg>
      Search again...</a>
  </div>
</div>