<!-- AVAILABLE ITEM  -->
  <div class="availability__item">
    <div class="availability__body row">
      <!-- AVAILABLE ITEM IMAGE -->
      <div class="col-12 col-lg-4 avail-item">
        <div class="avail-item__img">
          <img src="images/content/example-avail.png" alt="">
          <button class="avail-img__btn">
            <svg class="inline-svg-icon">
              <use xlink:href="#camera-svg"></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- AVAILABLE ITEM INFO -->
      <div class="col-12 col-lg-5 avail-item">
        <div class="avail-item__info">
          <div class="avail-info__head">
            <h2 class="info-head__title">Chestnut Lodge</h2>
            <div class="info-head__desc">
              <svg class="inline-svg-icon">
                <use xlink:href="#furniture-bed-svg"></use>
              </svg>
              <span>Sleeps <span>6</span></span>
            </div>
          </div>

          <ul class="avail-info__option">
            <li>
              <svg class="inline-svg-icon">
                <use xlink:href="#check-svg"></use>
              </svg>
              3 bedrooms
            </li>
            <li>
              <svg class="inline-svg-icon">
                <use xlink:href="#check-svg"></use>
              </svg>
              Outdoor hot tub
            </li>
            <li>
              <svg class="inline-svg-icon">
                <use xlink:href="#check-svg"></use>
              </svg>
              Flat screen TV/DVD
            </li>
            <li>
              <svg class="inline-svg-icon">
                <use xlink:href="#check-svg"></use>
              </svg>
              Open plan kitchen and living area
            </li>
            <li>
              <svg class="inline-svg-icon">
                <use xlink:href="#check-svg"></use>
              </svg>
              En-suite shower room
            </li>
          </ul>

          <div class="avail-info__btns">
            <a class="info-btns__more" href="#">More Details</a>
            <span class="info-btns__match">LAST <span>2</span> AVAILABLE</span>
          </div>
        </div>
      </div>

      <!-- AVAILABLE ITEM ORDER -->
      <div class="col-12 col-lg-3 avail-item avail-item__order @@sold">
        <div class="avail-order @@cross">
          <span class="avail-order__item avail-order__arriv">ARRIVING <span>FRI 12 AUG 2021</span></span>
          <span class="avail-order__item avail-order__night">For <span>4</span> nights</span>
          
          <div class="avail-order__item avail-order__full-price">
            <span class="avail-order__top">WAS £<span>590</span></span>
            <span class="avail-order__price">£<span>420</span></span>  
          </div>
          <span class="avail-order__item avail-order__book d-flex justify-content-center">
            <a href="extras.html" class=" main-cta main-cta--sub @@disabled">BOOK NOW</a>
          </span>
          <a href="index.html" class="avail-order__item avail-order__search">
            <svg class="inline-svg-icon">
              <use xlink:href="#magnifier-svg"></use>
            </svg>
            Search again...
          </a>
        </div>
      </div>
    </div>
  </div>