<div class="details__address details__after-arrow-down" id="addressSection">
  <div class="row justify-content-xl-between">
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group details__input">
        <label for="postcode">Postcode number *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="postcode" name="Postcode" required>
      </div>
  
      <div class="form-group details__input">
        <label for="address">Address *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="address" name="Address" required>
      </div>
  
      <div class="form-group details__input">
        <label for="address-2">Address line 2</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="address-2" name="Address line 2">
      </div>
    </div>
  
    <div class="col-12 col-lg-6 col-xxl-5-5">
      <div class="form-group details__input">
        <label for="town">Town *</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="town" name="town" required>
      </div>
  
      <div class="form-group details__input">
        <label for="country">Country</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="country" name="Country">
      </div>
  
      <div class="form-group details__input">
        <label for="countrySelect">Country</label>
        <select class="custom-select custom-select-lg custom-select-m" id="countrySelect" name="selected country">
          <option value="" selected disabled>Please select</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>

  <a href="#addictionSection" type="button" class="after-btn">
    <svg class="inline-svg-icon">
      <use xlink:href="#chevron-svg"></use>
    </svg>
  </a>
</div>