<div class="row justify-content-lg-between">
  <div class="col-12 col-lg-6 col-xxl-5-5">
    <div class="form-group details__input">
      <label for="titleYour">Title *</label>
      <select class="custom-select custom-select-lg custom-select-m" id="titleYour" name="your title" required>
        <option value="" selected>Please select</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="form-group details__input">
      <label for="firstName">First name *</label>
      <input type="text" class="form-control form-control-lg custom-input-t" id="firstName" name="First name" autocomplete="given-name" required>
    </div>

    <div class="form-group details__input">
      <label for="surName">Surname *</label>
      <input type="text" class="form-control form-control-lg custom-input-t" id="surName" name="Second name" autocomplete="family-name" required>
    </div>
  </div>

  <div class="col-12 col-lg-6 col-xxl-5-5">
    <div class="form-group details__input">
      <label for="inputEmail1">Email address *</label>
      <input type="email" class="form-control form-control-lg custom-input-t" id="inputEmail1" name="Email" required>
    </div>

    <div class="form-group details__input">
      <label for="confirmEmail">Confirm email address *</label>
      <input type="email" class="form-control form-control-lg custom-input-t" id="confirmEmail" name="Confirm email"
        required>
    </div>

    <div class="form-group details__input">
      <label for="telephone">Telephone number *</label>
      <input type="text" class="form-control form-control-lg custom-input-t" id="telephone" name="Telephone" required>
    </div>
  </div>
</div>