<div id="addictionSection">
  <div class="row justify-content-xl-between">
    <div class="col-12 col-lg-6 col-xxl-5-5">  
      <div class="form-group details__input">
        <label for="vehicle">Vehicle registration</label>
        <input type="text" class="form-control form-control-lg custom-input-t" id="vehicle" name="Vehicle">
      </div>
    </div>
  
    <div class="col-12 col-lg-6 col-xxl-5-5">  
      <div class="form-group details__input">
        <label for="howHearAbout">How do you hear about us?</label>
        <select class="custom-select custom-select-lg custom-select-m" id="howHearAbout" name="how hear about">
          <option value="" selected disabled>Please select</option>
          <option value="1">Internet</option>
          <option value="2">Radio</option>
          <option value="3">Post</option>
          <option value="4">Friends</option>
        </select>
      </div>
    </div>
  </div>
</div>