<div class="details__member inner__wrap">
  <div class="details__member-wrap inner__container details__after-arrow-down">

    <h3 class="details__member-title">Additonal party member details</h3>

    <div class="row justify-content-lg-between">
      <div class="col-12 col-lg-6 col-xxl-5-5">
        <div class="form-group details__input">
          <label for="titleMember">Title *</label>
          <select class="custom-select custom-select-lg custom-select-m" id="titleMember" name="title member" required>
            <option value="" selected disabled>Please select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xxl-5-5">
        <div class="form-group details__input">
          <label for="firstNameMember">First name *</label>
          <input type="text" class="form-control form-control-lg custom-input-t" id="firstNameMember"
            name="Firstname member" autocomplete="__away" required>
        </div>
      </div>
    </div>

    <div class="row justify-content-lg-between">
      <div class="col-12 col-lg-6 col-xxl-5-5">
        <div class="form-group details__input">
          <label for="surNameMember">Surname *</label>
          <input type="text" class="form-control form-control-lg custom-input-t" id="surNameMember" name="Surname member"
            autocomplete="__away" required>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-xxl-5-5">
        <div class="form-group details__input">
          <label for="selectMemberAge">Age *</label>
          <select class="custom-select custom-select-lg custom-select-m" id="selectMemberAge" name="select member age"
            required>
            <option value="" selected disabled>Please select</option>
            <option value="1">0-8</option>
            <option value="2">8-17</option>
            <option value="3">17-25</option>
          </select>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center justify-content-lg-end">
      <button type="button" class="main-cta">Add party member</button>
    </div>

    <a href="#addressSection" class="after-btn">
      <svg class="inline-svg-icon">
        <use xlink:href="#chevron-svg"></use>
      </svg>
    </a>
  </div>
</div>