<!-- DETAILS TITLE -->
<div class="container">
  <div class="body-title">
    <h1 class="body-title__head">Your <span>Details</span></h1>
    <p class="body-title__subhead">Please fill in all of the required fields *</p>
  </div>
</div>

<!-- DETAILS FORM CONTAINER -->
<div class="container details">
  <form action="payment.html" method="#" class="row">
    <div class="col-12 col-lg-7">
      <!-- YOUR DETAILS -->
      @@include('./_detail-your.html')

      <!-- MEMBER DETAILS -->
      @@include('./_detail-member.html')

      <!-- ADRESS DETAILS -->
      <div class="body-title">
        <h3 class="body-title__head">Your <span>address</span></h3>
        <p class="body-title__subhead">Please type in your postcode to search for your address:</p>
      </div>

      @@include('./_details-address.html')

      <!-- ADDITIONAL DETAILS -->
      <div class="body-title">
        <h3 class="body-title__head">Additional <span>details</span></h3>
      </div>

      @@include('./_detail-additional.html')
    </div>

    <!-- SUMMARY TABLE -->
    <div class="col-12 col-lg-5 col-xxl-4-summary">
      @@include('../../components/_summary.html')
    </div>

    <!-- NEXT/PREV BTNS -->
    <div class="col-12 col-lg-7">
      <div class="d-flex justify-content-between back-next-btn">
      <a href="extras.html" class="main-cta main-cta--back">
        Back</a>
      <button type="submit" class="main-cta">
        Next step</button>
    </div>
  </div>
  </form>
</div>