section.carousel
          .carousel__container
                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                        li(data-target='#carouselExampleIndicators' data-slide-to='1')
                        li(data-target='#carouselExampleIndicators' data-slide-to='2')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='./img/sl1.jpg' alt='machinery')
                        .carousel-item
                            img.d-block.w-100(src='./img/sl2.jpg' alt='machinery')
                        .carousel-item
                            img.d-block.w-100(src='./img/sl3.jpg' alt='machinery')
                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only
                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only

