section.list-information-wrapper
    .list-information-wrapper__box
        -
            arrListInformation = [{h4: 'This way You are getting original CAT delete tuning - the best thing money can buy!',i:'fa fa-thumbs-up'}, {h4: 'All CAT machinery/industrial engine/agricultural equipment ECM tuning is done online.',i:'fa fa-phone'}, {h4: 'We use official CAT decertification files (migration kit), intended for vehicles that get exported to non regulated countries(NRC)!',i:'fa fa-file'}]
        each element in arrListInformation
            .list-information-wrapper__list-container
                i(class='' + element.i).list-information-wrapper__icon-border
                h4.list-information-wrapper__title= element.h4
