@import "src/css/variable-style";

.list-information-wrapper {
  @include list-inform;

  &__box {
    @include box-inform;
  }

  &__list-container {
    @include container-inform;

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
  }

  &__icon-border {
    font-size: 5rem;
    color: $color-bg-main;
    padding-bottom: 10px;
  }

  &__all-inform {
    padding-left: 15px;
  }

  &__title {
    font-size: 17px;
    padding-top: 15px;
  }

  &__text {
    font-size: 13px;
    margin-top: 5px;
    color: #5c5959;
  }
}
