  
    <div class=" @@lang-lang  custom-block   column column--md-2 column--sm-4 " >    
        <a class="custom-block__link multilang-linck"  href="@@href">
          <h4 class="custom-block__title">    
            @@title 
          </h4>
        </a> 
    </div>