 
<div class="column column--sm-4 @@lang-lang custom-block">
    <a class="custom-block__link  " href="@@href">
        <div class="custom-block__icon">
            <img class="custom-block__image" src="{{settings.custom_block_3_icon}}" alt="icon">
        </div>
        <h4 class="custom-block__title">
             @@title
        </h4>
        <p class="custom-block__description">@@desc </p>
    </a>    
</div>