@import "src/css/variable-style";

.header {
  margin: 0;
  background-color: $color-bg-main;

  .navbar-dark .nav-link {
    font-size: 1.2rem;
    color: $color-main;
    transition: all 0.2s;

    span {
      font-size: 12px;
    }

    &:hover {
      color: $color-text;
    }
  }

  .navbar-dark .navbar-nav .active > .nav-link {
    color: $color-text;
    font-weight: 700;
    transition: all 0.2s;
    position: relative;

    @include lg-min {
      &::before {
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-text;
        content: "";
      }
    }
  }

  .navbar {
    padding: 0;
    margin: 0 auto;
    max-width: $max-width;
  }

  .bg-dark {
    background-color: $color-bg-main !important;
  }

  .navbar-brand {

    img {
      width: 100%;
      @include md-min {
        width: 70%;
      }
    }
  }
  .navbar-collapse {
    justify-content: flex-end;
    &.collapsing {
      height: auto !important;
      transition: none !important;
    }
  }
  //toggler
  .navbar-toggler {
    position: relative;
    outline: transparent;

    &::before {
      content: "\2715";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 4px 7px;
      font-size: 20px;
      color: #fff;
      font-weight: 700;
      line-height: 1;
      background: $color-main;
      border-radius: 50%;
      display: block;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
    &.collapsed {
      &::before {
        opacity: 0;
      }
      .navbar-toggler-icon {
        opacity: 1;
      }
    }
  }
  .navbar-toggler-icon {
    opacity: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  //hover
  .nav-item {
    position: relative;

    @include lg-min {
      &::before,
      &::after {
        position: absolute;
        bottom: 10px;
        width: 0;
        height: 2px;
        background-color: $color-text;
        content: "";
        transition: width 0.2s ease-in;
      }

      &::before {
        left: 5px;
      }

      &::after {
        right: 5px;
      }

      &:hover::before,
      &:hover::after {
        width: 50%;
      }
    }
  }

  .nav-link {
    text-align: center;
    padding: 1rem;
    transition: all 0.2s;
  }

  // dropdowns
  .hover-dropdown {
    @include lg-min {
      position: relative;
    }
    &__menu {
      background-color: rgba(0, 0, 0, 0.7);
      display: none;
      &.shown {
        display: flex;
        flex-direction: column;
      }
      @include lg-min {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        transform: scale(0);

        transition: transform 0.5s;
      }

      li {
        list-style: none;
        flex: 0 0 48%;

        @include lg-min {
          flex: 0 0 100%;
        }
        @include md-min {
          flex: 0 0 33.33%;
          text-align: left;
        }

        &:hover {
          background-color: $color-text;

          a {
            color: $color-main;
            text-decoration: none;
          }
        }
      }

      a,
      p {
        color: $color-text;
        font-size: 1.25rem;
      }

      &--brand {
        width: 100%;
        @include lg-min {
          width: 200px;
        }
      }
      &--news {
        width: 100%;
        @include lg-min {
          width: 300px;
        }
      }
    }

    &:hover {
      @include lg-min {
        .hover-dropdown__menu {
          transform: scale(1) translateY(50px);
        }
      }
    }

    &__item {
      padding: 5px 10px;
    }
  }
}
