.body-title {
  text-align: center;
  margin-bottom: $gap*2;

  @include desktop-sm {
    text-align: left;
    margin-bottom: $gap*3;
  }

  &__head {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: $gap*1.5;

    @include desktop-sm {
      margin-bottom: $gap;
    }

    span {
      color: $clr-accent;
    }
  }

  &__btn {
    svg {
      width: 25px;
      height: 25px;
      fill: $clr-light;
      margin-right: $gap;
    }
  }
}