.main-cta {
  background-color: $clr-accent;
  color: $clr-light;
  padding: 15px 25px;
  border: none;
  font-weight: 700;
  text-decoration: none;
  transition: background-color .3s, box-shadow .3s;

  @include desktop-sm {
    padding: 15px 50px;
  }

  &:hover {
    text-decoration: none;
    color: $clr-light;
    background-color: darken($clr-accent, 10);
    box-shadow: 0px 0px 4px 0px $clr-main;
  }

  &--sub {
    background-color: $clr-light;
    color: $clr-accent;

    &:hover {
      color: $clr-accent;
      background-color: $clr-light;
      box-shadow: inset 0px 0px 6px 0px $clr-main;
    }
  }

  &--back {
    background-color: $clr-main;
    color: $clr-light;

    &:hover {
      background-color: $clr-black;
    }
  }

  &--disabled {
    pointer-events: none;
  }
}