label {
  color: $clr-accent;
  font-weight: 700;
}

.custom-date-m {
  border-color: $clr-accent;
  color: $clr-main;
  background: #fff url('../images/icons/calendar.png') 99% 50% no-repeat;
  cursor: default;

  @include desktop-sm {
    background: #fff url('../images/icons/calendar.png') 97% 50% no-repeat;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }
}

.custom-select-m {
  border-color: $clr-accent;
  color: $clr-main;
  background: url("../images/icons/down-chevron-b.png") white no-repeat calc(100% - 10px);
  appearance: none;
}

.custom-input-t {
  border-color: $clr-accent;
  color: $clr-main;
}

.custom-input-r {
  input[type='radio'] {
    appearance: none;
    margin-right: 5px;
    width: 22px;
    height: 22px;
    top: 5px;
    position: relative;
    border-radius: 50%;
    border: 1px solid $clr-accent;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      background-color: $clr-accent;
      opacity: 0;
      transition: .3s;
    }

    &:checked {
      &::after {
        opacity: 1;
      }
    }
  }

  label {
    color: $clr-main;

    @include mobile-lg {
      font-size: 1.25rem;
    }

    @include desktop-sm {
      font-size: 1rem;
    }
  }
}

.custom-input-ch {
  padding-left: 0;

  label,
  p {
    padding-left: $gap*3;
    margin-bottom: $gap;
    font-weight: 400;
    color: $clr-main;
  }

  label {
    position: relative;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid $clr-accent;
    background-color: $clr-light;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 7px;
      top: 3px;
      width: 7px;
      height: 11px;
      opacity: 1;
      border: solid $clr-accent;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity .3s;
    }
  }

  input[type='checkbox'] {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 4px;
    left: 4px;

    &:checked ~ .custom-input-ch__checkmark::after {
      opacity: 1;
    }
  }
}