
.del-cross {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.del-cross:before {
  content: '';
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0) url(../images/icons/cross.svg) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
