.inner {
  &__wrap {
    margin: $gap*2 0;
    padding-bottom: $gap*2;

    @include mobile-lg {
      margin: $gap*3 0;
      padding-bottom: $gap*3;
    }

    @include desktop-sm {
      margin: 0;
    }
  }

  &__container {
    padding: 15px;
    margin: -15px;
    background-color: $clr-accent-highlight;

    @include mobile-lg {
      padding: $gap*2;
      margin: -$gap*2;
    }

    @include desktop-sm {
      margin: 0;
      padding: 30px;
    }
  }
}