.summary {
  margin-bottom: $gap*2;
  margin-left: -$gap;
  margin-right: -$gap;
  padding: 20px;
  text-align: center;
  background-color: $clr-accent;
  color: $clr-light;

  @include mobile-lg {
    padding: 50px 20px;
    margin-left: -$gap*2;
    margin-right: -$gap*2;
  }
  @include desktop-sm {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 20px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;

    @include mobile-lg {
      margin-bottom: 55px;
      font-size: 2.125rem;
    }
    @include desktop-sm {
      margin-bottom: 40px;
    }
  }

  &__container {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: $clr-light;
    color: $clr-main;

    @include mobile-lg {
      padding: 30px 10px 25px;
      margin-bottom: 40px;
    }
  }

  &__table {
    margin-bottom: 0;

    td {
      padding: 0 10px 5px;
      font-size: .875rem;
      font-weight: 700;
      color: $clr-main;

      &:nth-of-type(2) {
        color: $clr-accent;
      }

      @include mobile-lg {
        font-size: 1.25rem;
      }
      @include desktop-sm {
        font-size: 1rem;
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 700;
    color: $clr-accent-highlight;

    @include mobile-lg {
      font-size: 1.875rem;
    }
  }

  &__price {
    font-size: 3rem;
    color: $clr-light;
    line-height: 1.1;

    @include mobile-lg {
      font-size: 5rem;
    }
  }

  &--details {
    @include desktop-sm {
      padding-top: 36px;
      padding-bottom: 36px;
    }

    .summary {
      &__title {
        @include desktop-sm {
          padding-left: 1rem;
          margin-bottom: $gap;
          text-align: left;
          font-size: 1.875rem;
        }
      }

      &__container {
        @include desktop-sm {
          padding-top: 20px;
          padding-bottom: 15px;
          margin-bottom: 36px;
        }
      }

      &__table {
        td:nth-of-type(2) {
          text-align: right;
        }
      }

      &__total {
        @include desktop-sm {
          font-size: 1.625rem;
        }
      }

      &__price {
        @include desktop-sm {
          line-height: 1;
        }
      }
    }
  }
}