@import "src/css/variable-style";
@import "src/css/media";

.wrapper {
  background-color: white;
  font: $font-main;
}

.banner {
  width: 100%;
  position: relative;
  background: url(/img/orange_.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &_blure {
    position: absolute;
    background-color: rgba(24, 24, 24, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(4px);
    height: 70vh;
    width: 100%;
  }

  &__content {
    max-width: 60%;
    position: absolute;
    font-size: 3rem;
    text-align: center;
  }

  &__main-title {
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 6rem;
    text-shadow: 3px 0px 7px rgba(81, 67, 21, 0.8),
    -3px 0px 7px rgba(81, 67, 21, 0.8),
    0px 4px 7px rgba(0, 0, 0, 0.8);
  }

  &__carusel-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    display: flex;
  }

  &_animation {
    transition: .4s all ease-in-out;
  }
}