footer.row.footer
    div(class='container-sm footer__top')
        p
            | * All product are intended for off-road use in competition only, and are not to be used on public roads or
            | highways.
            br
            | We don't take any responsibility where & how will You use the ECM, or will You or will You not remove the
            | DPF/EGR/CGI from vehicle.
            br
    div(class='container-fluid footer__bottom')
        .container-sm
            nav(class='navbar navbar-expand-lg footer__navbar')
                #navbarNav.container-fluid
                    ul(class='navbar-nav footer__navbar_container')
                        li(class='nav-item active  footer__list-item')
                            a(class='nav-link footer__link' href='#') Home
                                span.sr-only (current)
                        li(class='nav-item footer__list-item')
                            a(class='nav-link footer__link' href='#') ECM&nbsp;Tuning&nbsp;-&nbsp;Deletes
                        li(class='nav-item footer__list-item')
                            a(class='nav-link footer__link' href='#') Testimonials
                        li(class='nav-item footer__list-item')
                            a(class='nav-link footer__link' href='#') Contact&nbsp;us
                        li(class='nav-item footer__list-item')
                            a(class='nav-link footer__link' href='https://www.facebook.com/truckecmtunes/') Like&nbsp;us&nbsp;on&nbsp;Facebook
            p(class='footer__copyright') ECM TuneUPs © 2008-2020
