.w-caption {
  width: 100%;

  video {
    width: 100%;
  }

  &__content {
    padding: 20px 10px;
    flex-direction: column;
    color: $clr-light;

    @include mobile-lg {
      padding: 20px;
    }
  }

  &__title {
    margin-bottom: 10px;
  }
}

.full-img {
  height: 80%;
  max-width: 300px;

  @include mobile-lg {
    max-width: initial;
  }
}

.content-avatar {
  width: 60px;
  margin-bottom: 10px;
}

.logo-fill {
  object-fit: fill !important;
}