.half-width {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @include mobile-lg {
    flex-direction: row;
  }

  &__item {
    max-width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-lg {
      width: 50%;

      img {
        height: 100%;
      }
    }

    @include desktop-md {
      max-width: 400px;
      height: 340px;
    }
  }

  &__caption {
    position: relative;

    .caption-absolute {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 30px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        color: white;
        font-size: 1.125rem;
        text-align: center;
        text-shadow: 1px 2px 2px $clr-black, 0 0 1em $clr-black;
      }
    }
  }
}