.swiper-controls {
  &__next {
    top: 100%;
    right: 50%;
    transform: rotate(90deg) translateX(-50%) translateY(-25%);
  }

  &__prev {
    top: 0;
    right: 50%;
    left: auto;
    transform: rotate(90deg) translateX(50%) translateY(-25%);
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
} 

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 3%;

  .swiper-pagination-bullet {
    margin: 8px 0;
  }
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 6%;

  @include desktop-md {
    bottom: 5%;
  }

  .swiper-pagination-bullet {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0 6px;
  }
}