.wrap-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.wrap-content img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap-content .full-img {
  height: 80%;
}

.arrow{
  padding: 10px 0;
  transform: rotate(90deg);
  z-index: 2;
  position: absolute;
  &__bottom{
    bottom: 0px;
    a{
      border-radius: 5px 0 0 5px;
    }
  }
  &__top{
    top: 0;
    a{
      border-radius: 0 5px 5px 0;
    }
  }
  
  & a{
    text-decoration: none;
    color: #ccc;
    background: rgba(#50c2f9, .6);
    line-height: 0;
    font-size: 25px;
    padding: 35px 15px;
    &:hover{
      color: #fff;
      background: #50c2f9;
    }
  }
}