@import "src/css/variable-style";

@mixin ul-min {
  @media (min-width: $ul) {
    @content;
  }
}

@mixin ul {
  @media (max-width: $ul - 0.2) {
    @content;
  }
}

@mixin ul-xl {
  @media (max-width: $ul - 0.2) and (min-width: $xl) {
    @content;
  }
}

@mixin ul-lg {
  @media (max-width: $ul - 0.2) and (min-width: $lg) {
    @content;
  }
}

@mixin ul-md {
  @media (max-width: $ul - 0.2) and (min-width: $md) {
    @content;
  }
}

@mixin ul-sm {
  @media (max-width: $ul - 0.2) and (min-width: $sm) {
    @content;
  }
}

@mixin ul-xs {
  @media (max-width: $ul - 0.2) and (min-width: $xs) {
    @content;
  }
}

/* xl */
@mixin xl-min {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $xl - 0.2) {
    @content;
  }
}

@mixin xl-lg {
  @media (max-width: $xl - 0.2) and (min-width: $lg) {
    @content;
  }
}

@mixin xl-md {
  @media (max-width: $xl - 0.2) and (min-width: $md) {
    @content;
  }
}

@mixin xl-sm {
  @media (max-width: $xl - 0.2) and (min-width: $sm) {
    @content;
  }
}

@mixin xl-xs {
  @media (max-width: $xl - 0.2) and (min-width: $xs) {
    @content;
  }
}

/* lg */
@mixin lg-min {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $lg - 0.2) {
    @content;
  }
}

@mixin lg-md {
  @media (max-width: $lg - 0.2) and (min-width: $md) {
    @content;
  }
}

@mixin lg-sm {
  @media (max-width: $lg - 0.2) and (min-width: $sm) {
    @content;
  }
}

@mixin lg-xs {
  @media (max-width: $lg - 0.2) and (min-width: $xs) {
    @content;
  }
}

/* md */
@mixin md-min {
  @media (min-width: $md) {
    @content;
  }
}

@mixin md {
  @media (max-width: $md - 0.2) {
    @content;
  }
}

@mixin md-sm {
  @media (max-width: $md - 0.2) and (min-width: $sm) {
    @content;
  }
}

@mixin md-xs {
  @media (max-width: $md - 0.2) and (min-width: $xs) {
    @content;
  }
}

@mixin md-xx {
  @media (max-width: $md - 0.2) and (min-width: $xx) {
    @content;
  }
}

/* sm */
@mixin sm-min {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm - 0.2) {
    @content;
  }
}

@mixin sm-xs {
  @media (max-width: $sm - 0.2) and (min-width: $xs) {
    @content;
  }
}

/* xs */
@mixin xs-min {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs - 0.2) {
    @content;
  }
}

/* xx */
@mixin xx-min {
  @media (min-width: $xx) {
    @content;
  }
}
@mixin xx {
  @media (max-width: $xx - 0.2) {
    @content;
  }
}

@mixin breakpoint($point) {
  @if $point == sm-max {
    @media (max-width: 460px) {
      @content;
    }
  } @else if $point == lg-max {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $point == lg-min {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $point == lg-maxL {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $point == lg-maxXL {
    @media (max-width: 1600px) {
      @content;
    }
  } @else if $point == md-max {
    @media (max-width: 820px) {
      @content;
    }
  } @else if $point == tablet-600 {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == tablet-minW {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == mobile500 {
    @media (max-width: 500px) {
      @content;
    }
  } @else if $point == mobile300 {
    @media (max-width: 300px) {
      @content;
    }
  } @else if $point == tablet-maxW {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == mobile320-min {
    @media (min-width: 320px) {
      @content;
    }
  }
}