@import "variable-style";
@import "media";

.modal.show .modal-dialog {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 50%;

  }
  @include breakpoint(tablet-minW) {
    max-width: 100%;
    padding: 0 5px;
  }
  @include breakpoint(mobile320-min) {
    max-width: 100%;
    padding: 0 10px;
  }
}

.modal-content {
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
  @include breakpoint(mobile320-min) {
    width: 100%;
  }
}

.modal-body {
  @include breakpoint(mobile320-min) {
    padding: 5px;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    height: 80%;
    width: 80%;
  }
}

.modal-header {
  align-self: flex-end;
  border: none;
  padding: 5px 18px 0;

  button {
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, .1);
    font-size: 25px;
  }
}