<div class="summary summary--details">
  <h2 class="summary__title">Reservation details:</h2>

  <div class="summary__container">
    <table class="table table-borderless text-left summary__table">
      <tbody>
        <tr>
          <td>Reservation number:</td>
          <td>127777</td>
        </tr>
        <tr>
          <td>Arrival date:</td>
          <td>17/11/2021</td>
        </tr>
        <tr>
          <td>Departure date:</td>
          <td>24/11/2021</td>
        </tr>
        <tr>
          <td>Number of nights:</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Number of adults:</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Number of children:</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Number of Infants:</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Accommodation:</td>
          <td>Chestnut Lodge</td>
        </tr>
        <tr>
          <td colspan="2">Extras:</td>
        </tr>
        <tr>
          <td>Accommodation charge:</td>
          <td>£<span>450.00</span></td>
        </tr>
        <tr>
          <td>Extras charge:</td>
          <td>£<span>30.00</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="summary__total">
    <span>TOTAL CHARGE</span>
    <span class="summary__price">£<span id="summaryPrice">480</span></span>
  </div>
</div>