<div class="summary">
  <h2 class="summary__title">Your holiday summary</h2>

  <div class="summary__container">
    <table class="table table-borderless text-left summary__table">
      <tbody>
        <tr>
          <td>Park:</td>
          <td>Woodland Lakes</td>
        </tr>
        <tr>
          <td>Holiday type:</td>
          <td>Lodge</td>
        </tr>
        <tr>
          <td>Number of nights:</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Arrival date:</td>
          <td>12 September 2021</td>
        </tr>
        <tr>
          <td>Departure date:</td>
          <td>16 September 2021</td>
        </tr>
        <tr>
          <td>Adults:</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Children:</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Infants:</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Dogs:</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Accommodation:</td>
          <td>Chestnut Lodge</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="summary__total">
    <span>CURRENT TOTAL</span>
    <span class="summary__price">£<span id="summaryPrice">890</span></span>
  </div>
</div>