<footer class="footer">
  <div class="footer-top">
    <a class="footer-top__logo" href="index.html">
      <img src="images/icons/logoMD-text.png" alt="site logo">
    </a>
    <div class="footer-top__nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contacts.html">Contacts</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom__container">
      <ul class="footer-bottom__list">
        <li class="footer-bottom__item footer-bottom__fb">
          <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 1.6665H7.5C6.39493 1.6665 5.33512 2.10549 4.55372 2.88689C3.77232 3.66829 3.33333 4.7281 3.33333 5.83317V8.33317H0.833328V11.6665H3.33333V18.3332H6.66666V11.6665H9.16666L10 8.33317H6.66666V5.83317C6.66666 5.61216 6.75446 5.4002 6.91074 5.24392C7.06702 5.08763 7.27898 4.99984 7.5 4.99984H10V1.6665Z" stroke="#525252" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          Our <a target="_blank" href="https://www.facebook.com/EasyGamesBVBA">facebook</a> page</li>
        <li class="footer-bottom__item">
          <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 3.6665L8.075 8.04984C8.34888 8.23257 8.67075 8.33009 9 8.33009C9.32925 8.33009 9.65112 8.23257 9.925 8.04984L16.5 3.6665M3.16667 12.8332H14.8333C15.2754 12.8332 15.6993 12.6576 16.0118 12.345C16.3244 12.0325 16.5 11.6085 16.5 11.1665V2.83317C16.5 2.39114 16.3244 1.96722 16.0118 1.65466C15.6993 1.3421 15.2754 1.1665 14.8333 1.1665H3.16667C2.72464 1.1665 2.30072 1.3421 1.98816 1.65466C1.67559 1.96722 1.5 2.39114 1.5 2.83317V11.1665C1.5 11.6085 1.67559 12.0325 1.98816 12.345C2.30072 12.6576 2.72464 12.8332 3.16667 12.8332Z" stroke="#525252" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          <a href="mailto:info@ikzoekeenvloerder.be">info@ikzoekeenvloerder.be</a></li>
        <li class="footer-bottom__item">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 3.16667C1.5 2.72464 1.67559 2.30072 1.98816 1.98816C2.30072 1.67559 2.72464 1.5 3.16667 1.5H5.9C6.07483 1.50013 6.24519 1.55525 6.38696 1.65754C6.52874 1.75984 6.63475 1.90413 6.69 2.07L7.93833 5.81417C8.00158 6.00445 7.9941 6.21116 7.91726 6.39637C7.84042 6.58158 7.69938 6.73288 7.52 6.8225L5.63917 7.76417C6.5611 9.80461 8.19538 11.4389 10.2358 12.3608L11.1775 10.48C11.2671 10.3006 11.4184 10.1596 11.6036 10.0827C11.7888 10.0059 11.9956 9.99841 12.1858 10.0617L15.93 11.31C16.096 11.3653 16.2404 11.4714 16.3427 11.6134C16.445 11.7553 16.5 11.9259 16.5 12.1008V14.8333C16.5 15.2754 16.3244 15.6993 16.0118 16.0118C15.6993 16.3244 15.2754 16.5 14.8333 16.5H14C7.09667 16.5 1.5 10.9033 1.5 4V3.16667Z" stroke="#525252" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>          
          <a href="tel:+32(0)472875484">+32 (0) 472 87 54 84</a></li>
      </ul>
    </div>
  </div>
</footer>