@import "../media";
@import "src/css/variable-style";

.carousel{
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 60px;
  &__container{
    max-width: $max-width;
    display: flex;
    justify-content: center;
  }
  &-inner{
    border-radius: 10px
  }
}
