.extras {
  &__item {
    padding-top: $gap*2;
    padding-bottom: $gap*2;
    display: flex;

    &:not(:last-of-type) {
      border-bottom: 1px dashed $clr-accent;
    }

    .extras-item {

      &__img {
        padding-right: 20px;

        img {
          width: 55px;
          height: 55px;
          object-fit: contain;
        }
      }

      &__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        @include desktop-sm {
          flex-direction: row;
        }
      }

      &__info {
        margin-bottom: 20px;

        @include desktop-sm {
          padding-right: $gap;
          width: 70%;
        }
      }

      &__title {
        color: $clr-accent;
      }

      &__order {
        display: flex;
        align-items: center;

        @include tablet {
          width: 80%;
        }

        @include desktop-sm {
          width: 30%;
        }
      }

      &__price {
        min-width: 115px;
        font-size: 1.875rem;
        font-weight: 700;
        color: $clr-accent;

        @include desktop-sm {
          font-size: 1.25rem;
          min-width: 80px;
        }
      }

      &__count {
        margin-left: auto;
        max-width: 280px;
        flex-grow: 1;
      }
    }
  }
}