/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/src/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/src/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/src/_reset.scss */
body {
  line-height: 1;
}

/* line 35, ../sass/src/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/src/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/src/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/src/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../sass/src/_defaults.scss */
h1 {
  font-size: 35px;
  font-family: "Libre Franklin", sans-serif;
}
@media (min-width: 768px) {
  /* line 2, ../sass/src/_defaults.scss */
  h1 {
    font-size: 55px;
  }
}

/* line 10, ../sass/src/_defaults.scss */
h1, h3, p {
  text-align: center;
}

/* line 14, ../sass/src/_defaults.scss */
h3 {
  font-size: 18px;
}
@media (min-width: 768px) {
  /* line 14, ../sass/src/_defaults.scss */
  h3 {
    font-size: 22px;
  }
}

/* line 21, ../sass/src/_defaults.scss */
h3, p, li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* line 26, ../sass/src/_defaults.scss */
p, li {
  font-size: 15px;
}
@media (min-width: 768px) {
  /* line 26, ../sass/src/_defaults.scss */
  p, li {
    font-size: 20px;
  }
}

/* line 33, ../sass/src/_defaults.scss */
a {
  color: #ffd800;
  text-decoration: underline;
  font-weight: 500;
}
/* line 37, ../sass/src/_defaults.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #ffd800;
}

/* line 1, ../sass/src/_main-content.scss */
.app {
  box-sizing: border-box;
  color: #fff;
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}
/* line 9, ../sass/src/_main-content.scss */
.app__blob {
  opacity: 0.7;
}
/* line 11, ../sass/src/_main-content.scss */
.app__blob_first {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -10%);
  height: 100%;
}
/* line 18, ../sass/src/_main-content.scss */
.app__blob_second {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  transform: translateY(40%);
}
/* line 25, ../sass/src/_main-content.scss */
.app__blob_third {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  transform: translate(35%, -35%);
}
/* line 32, ../sass/src/_main-content.scss */
.app__blob_fourth {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  transform: translateX(90%);
}
/* line 39, ../sass/src/_main-content.scss */
.app__blob_wave {
  position: absolute;
  bottom: 0;
  left: -10px;
  right: -10px;
}
/* line 47, ../sass/src/_main-content.scss */
.app__container {
  max-width: 768px;
  position: relative;
  z-index: 1;
}
/* line 51, ../sass/src/_main-content.scss */
.app__container:before {
  content: '';
  display: block;
}
/* line 57, ../sass/src/_main-content.scss */
.app__title {
  line-height: 1.2;
}
/* line 59, ../sass/src/_main-content.scss */
.app__title_light {
  text-shadow: 0px 0px 25px #4d0344;
}
/* line 65, ../sass/src/_main-content.scss */
.app__text_secondary {
  color: #c7c4ec;
}
/* line 68, ../sass/src/_main-content.scss */
.app__text_smaller {
  font-size: 17px;
  color: #8e83ba;
}
/* line 74, ../sass/src/_main-content.scss */
.app__form {
  width: 100%;
  max-width: 585px;
  margin: 0 auto;
}
/* line 80, ../sass/src/_main-content.scss */
.app__text-field, .app__subscribe-form {
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  outline: transparent;
  transition: 0.3s ease-in-out;
}
/* line 91, ../sass/src/_main-content.scss */
.app__text-field {
  width: 100%;
  color: #86739b;
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  /* line 91, ../sass/src/_main-content.scss */
  .app__text-field {
    width: 63%;
    margin-bottom: 0;
  }
}
/* line 99, ../sass/src/_main-content.scss */
.app__text-field:focus, .app__text-field:active {
  box-shadow: 0px 0px 15px 5px #4d0344;
}
/* line 104, ../sass/src/_main-content.scss */
.app ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #86739b;
}
/* line 107, ../sass/src/_main-content.scss */
.app ::-moz-placeholder {
  /* Firefox 19+ */
  color: #86739b;
}
/* line 110, ../sass/src/_main-content.scss */
.app :-ms-input-placeholder {
  /* IE 10+ */
  color: #86739b;
}
/* line 113, ../sass/src/_main-content.scss */
.app :-moz-placeholder {
  /* Firefox 18- */
  color: #86739b;
}
/* line 117, ../sass/src/_main-content.scss */
.app__subscribe-form {
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 222, 0, 0.99608) 20%, #ffde00 0%, #ffa200 92%);
  box-shadow: 0px 0px 25px 5px #4d0344;
  color: #530986;
}
@media (min-width: 576px) {
  /* line 117, ../sass/src/_main-content.scss */
  .app__subscribe-form {
    width: 35%;
  }
}
/* line 125, ../sass/src/_main-content.scss */
.app__subscribe-form:focus, .app__subscribe-form:active, .app__subscribe-form:hover {
  box-shadow: 0px 0px 10px 5px #4d0344;
  color: #000;
}
/* line 131, ../sass/src/_main-content.scss */
.app__list {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  line-height: 2;
  color: #c7c4ec;
}
/* line 139, ../sass/src/_main-content.scss */
.app__footer {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* line 1, ../sass/src/_stars.scss */
body {
  background-image: linear-gradient(90deg, rgba(50, 5, 118, 0.99608) 0%, #320576 0%, #140242 51%, #150628 100%);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
