.details {

  &__member {
    .main-cta {
      @include desktop-sm {
        padding: 15px 25px;
      }
    }

    .inner__container {
      padding-bottom: $gap*2;
    }
  }

  &__member-title {
    color: $clr-accent;
    font-weight: 700;
    margin-bottom: $gap*2;
    font-size: 1.625rem;
  }

  &__address {
    padding-bottom: $gap;
    margin-bottom: $gap*2;
    border-bottom: 1px dashed $clr-accent;

    @include mobile-lg {
      margin-bottom: $gap*4;
    }
    @include desktop-sm {
      padding-bottom: 0;
      margin-bottom: $gap*3;
    }
  }
  
  &__input {

    @include mobile-lg {
      margin-bottom: 50px;
    }
    @include desktop-sm {
      margin-bottom: 45px;
    }
  }

  &__after-arrow-down {
    position: relative;

    .after-btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transform: translateX(-50%) translateY(50%);
      border: none;
      background-color: $clr-accent;
      transition: transform .3s;

      svg {
        width: 16px;
        height: 16px;
        fill: $clr-light;
      }

      &:hover {
        transform: translateX(-50%) translateY(55%);
      }
    }
  }
}