@@include('html-templates/_head.html',{})
<section class="wrap-content ax-container">
	<!-- arrow top -->
	<div class="arrow arrow__top">
		<a class="" href="page-8.html">&#8249;</a>
	</div>
	<div class="half-width w-caption">
		<figure class="half-width__item">
			<img src="images/page9-1.jpeg" alt="outside exterior">
		</figure>
	<div class="half-width__item w-caption__content">
		<h3 class="w-caption__title">Agent, Owner</h3>
		<div class="content-avatar">
			<img src="images/page9-avatar.jpeg" alt="avatar">
		</div>
		<p>Studeo Realty</p>
		<p>123.123.1234</p>
		<p>123.123.1234</p>
		<p>fake.agent@studeorealty.com</p>
		<p>studeohq.com</p>
		<p>1234567</p>
	</div>
	</div>
</section>
@@include('html-templates/_script.html',{})