@@include('html-templates/_head.html',{})
<section class="wrap-content ax-container">
	<!-- arrow top -->
	<div class="arrow arrow__top">
		<a class="" href="page-7.html">&#8249;</a>
	</div>
	<div class="half-width">
		<figure class="half-width__item">
			<img src="images/page8-1.jpeg" alt="home interier">
		</figure>
		<figure class="half-width__item half-width__caption">
			<img src="images/page8-2.jpeg" alt="home interier">
		</figure>
	</div>
	<!-- arrow bottom -->
	<div class="arrow arrow__bottom">
		<a class="" href="page-9.html">&#8250;</a>
	</div>
</section>
@@include('html-templates/_script.html',{})