@@include('html-templates/_head.html',{})
	<section class="wrap-content ax-container">
		<!-- arrow top -->
		<div class="arrow arrow__top">
			<a class="" href="page-2.html">&#8249;</a>
		</div>

		<div class="half-width w-caption">
			<div class="video half-width__item">
				<video src="images/video-1.mp4" autoplay loop playsinline muted>
				Sorry, your browser doesn't support HTML5 video tag..
				</video>
			</div>
			<div class="half-width__item w-caption__content">
				<h3 class="w-caption__title">Welcome to 123 Fake Road</h3>
				<p>Nestled on a coveted corner lot, among towering oaks and stately
				palms in the heart of the Azalea District, this Mediterranean villa
			    exudes charm and style. Lovingly restored and expanded over the
			    years by long-term owners with a passion for beauty and an exquisite
			    eye for details. The current owners have spent decades carefully
			    curating several outdoor areas including the loggia with pool in the
			    center of the home. Upon entering the foyer the opulent marble
			    floors draw you into the timeless beauty of the materials found
			    throughout the home.</p>
			</div>
		</div>
		<!-- arrow bottom -->
		<div class="arrow arrow__bottom">
			<a class="" href="page-4.html">&#8250;</a>
		</div>
	</section>
@@include('html-templates/_script.html',{})