@@include('html-templates/_head.html',{})
<section class="wrap-content ax-container">
	<!-- arrow top -->
	<div class="arrow arrow__top">
		<a class="" href="page-6.html">&#8249;</a>
	</div>
	<div class="half-width w-caption">
		<div class="video half-width__item">
			<video src="images/video-2.mp4" autoplay loop playsinline muted>
				Sorry, your browser doesn't support HTML5 video tag..
			</video>
		</div>
		<div class="half-width__item w-caption__content">
			<h3 class="w-caption__title">Property Details</h3>
			<p>Property Type: SingleFamily</p>
			<p>Living area square footage: 7071</p>
			<p>Year built in: 1937</p>
		</div>
	</div>
	<!-- arrow bottom -->
	<div class="arrow arrow__bottom">
		<a class="" href="page-8.html">&#8250;</a>
	</div>
</section>
@@include('html-templates/_script.html',{})