@@include('html-templates/_head.html',{})
<section class="wrap-content ax-container">
	<div class="half-width">
		<figure class="half-width__item">
			<img src="images/page1-2.png" class="logo-fill" alt="logo">
		</figure>
		<figure class="half-width__item half-width__caption">
			<img src="images/page1-1.jpeg" alt="outside green exterior">

			<div class="caption-absolute">
				<p>123 Fake Road</p>
				<p>Toronto, ON</p>
				<p>#123456</p>
				<p>2 Bedrooms + 2 Baths</p>
				<p>$1,000,000</p>
				<p>1,234 Sq Ft</p>
			</div>
		</figure>
	</div>
	<!-- arrow bottom -->
	<div class="arrow arrow__bottom">
		<a class="" href="page-2.html">&#8250;</a>
	</div>
</section>
@@include('html-templates/_script.html',{})