@@include('html-templates/_head.html',{})
<section class="wrap-content ax-container">
	<!-- arrow top -->
	<div class="arrow arrow__top">
		<a class="" href="page-5.html">&#8249;</a>
	</div>
	<figure class="full-img">
		<img src="images/page6-1.jpeg" alt="home interier">
	</figure>
	<!-- arrow bottom -->
	<div class="arrow arrow__bottom">
		<a class="" href="page-7.html">&#8250;</a>
	</div>
</section>
@@include('html-templates/_script.html',{})