@@include('html-templates/_head.html',{})
<section class="wrap-content swiper-slide swiper-container-h ax-container">
  <!-- arrow top -->
  <div class="arrow arrow__top">
    <a class="" href="page-1.html">&#8249;</a>
  </div>
<div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="full-img" src="images/page2-1.jpeg" alt="home interier">
    </div>
    <div class="swiper-slide">
      <img class="full-img" src="images/page2-2.jpeg" alt="home interier">
    </div>
    <div class="swiper-slide">
      <img class="full-img" src="images/page2-3.jpeg" alt="home interier">
    </div>
    <div class="swiper-slide">
      <img class="full-img" src="images/page2-4.jpeg" alt="home interier">
    </div>
    <div class="swiper-slide">
      <img class="full-img" src="images/page2-5.jpeg" alt="home interier">
    </div>
  </div>

  <div class="swiper-pagination swiper-pagination-h"></div>
  <div class="swiper-button-next swiper-button-next-h"></div>
  <div class="swiper-button-prev swiper-button-prev-h"></div>
  <!-- arrow bottom -->
  <div class="arrow arrow__bottom">
    <a class="" href="page-3.html">&#8250;</a>
  </div>
</section>
@@include('html-templates/_script.html',{})