@@include('html-templates/_head.html',{})
	<section class="wrap-content ax-container">
		<!-- arrow top -->
		<div class="arrow arrow__top">
			<a class="" href="page-4.html">&#8249;</a>
		</div>
		<div class="half-width w-caption">
			<div class="half-width__item w-caption__content">
			<p>Has a massive wood burning fireplace and solid oak paneling with views to all of the outdoor spaces. The
			formal dining room is like a scene from a glamourous film with French doors on both sides of the room
	        allowing a breeze to sweep across the room. Upstairs has 3 additional bedrooms with en-suite baths. The
	        garage is air conditioned and situated on the lot to allow for additional entertaining space opening up to a
	        cozy stone patio with a fireplace. The studious buyer will appreciate the ample storage and practicality of
	        the floor plan.</p>
			</div>
			<figure class="half-width__item">
				<img src="images/page5-1.jpeg" alt="home interier">
			</figure>
		</div>
		<!-- arrow bottom -->
		<div class="arrow arrow__bottom">
			<a class="" href="page-6.html">&#8250;</a>
		</div>
	</section>
@@include('html-templates/_script.html',{})