<div class="accordion">
	<div class="accordion__collapse defaults" id="accordion" role="tablist" aria-multiselectable="false">
		@@include('accordion-item.html',{
			'id':'platinumOne',
			'id-collapse':'platinumCollapseOne',
			'title':'Platinum Plus',
			'text':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge. With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
		})
		@@include('accordion-item.html',{
			'id':'platinumTwo',
			'id-collapse':'platinumCollapseTwo',
			'title':'Platinum Deluxe 2',
			'text':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge. With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
		})
		@@include('accordion-item.html',{
			'id':'platinumThree',
			'id-collapse':'platinumCollapseThree',
			'title':'Platinum Deluxe 3',
			'text':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge. With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
		})
	</div>
</div>
	
