<div class="accordion__item">
    <div role="tab" id="@@id">
        <button class="accordion__toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#@@id-collapse" aria-expanded="false" aria-controls="@@id">
            <span class="accordion__title">@@title</span>
        </button>
    </div>
    <div id="@@id-collapse" class="accordion__panel-collapse collapse" role="tabpanel" aria-labelledby="@@id" data-parent="#accordion">
        <p>@@text</p>
    </div>
</div>