<div class="col-xl-3 col-lg-4 col-sm-6 col-12 benefits__item  pb-3">
	<div class="star-bl m-auto benefits__wrapper">
		<div class="benefits__icon">
			<img src="./img/icon/star-icon.svg" alt="star-icon">
		</div>
		<p class="benefits__title">@@title</p>
		<p class="benefits__text">@@text</p>
	</div>
</div>