<section class="benefits">
	<div class="row mw-1200 justify-content-center">
			@@include('benefits-item.html',{
				'title':'Buy with conﬁdence',
				'text':'Marine Holiday Park is a family run park owned by its parent company Pario Leisure Ltd and this year celebrates its 10th Birthday.',
			})
			@@include('benefits-item.html',{
				'title':'Exclusive Owners Only Beneﬁts',
				'text':'We love our owners, and we like to show our thanks all year round. We offer a number of exclusive Owner only events throughout the year.',
			})
			@@include('benefits-item.html',{
				'title':'Help with ﬁnance',
				'text':'Finance is available to assist you in purchasing you dream Caravan. Our sales team are always happy Check if you qualify for finance, immediate decision.',
			})
			@@include('benefits-item.html',{
				'title':'Help to buy plan',
				'text':'We offer a competitive Help to buy plan that could cover the cost of your site fees whilst still allowing you to holiday all year around!',
			})
			@@include('benefits-item.html',{
				'title':'Exclusive Swimming Pool times',
				'text':'From 9am – 10am enjoy the nice quiet pool, open only for our valued Owners.',
			})
			@@include('benefits-item.html',{
				'title':'10% off all food and drink on park',
				'text':'As an exclusive Owner, you can enjoy 10% off all selected food and drink, choose from 2 bars; Sports Bar & Mariners Club and 2 on park eateries; the mermaid cafe & Fish and Chip Shop',
			})
			@@include('benefits-item.html',{
				'title':'Owners Free Breakfast',
				'text':'Join us and all the other Owners for this favourite event. There’s a couple that take place throughout the year and is the perfect time for us to all have a catch up and see how you’re getting on',
			})
			@@include('benefits-item.html',{
				'title':'Free Tea & Coffee',
				'text':'You can come and just say hello and have a chat or you can see us about any concerns you may have. You can have 2 cups if you’re buying or upgrading!',
			})
	</div>		
</section>