<section class="brick-news img-h-250 pt-2 pt-md-5">
	<div class="row mw-1200">
		<div class="col-12 col-md-4 filterDiv filter-caravans">
			@@include('brick-news.html',{
				'class':'',
				'img':'news-img-2.jpeg',
				'title':'News title',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo.',
			})
		</div>
		<div class="col-12 col-md-4 filterDiv filter-caravans">
			@@include('brick-news.html',{
				'class':'',
				'img':'news-img-3.jpeg',
				'title':'News title',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo.',
			})
		</div>
		<div class="col-12 col-md-4 filterDiv filter-caravans">
			@@include('brick-news.html',{
				'class':'',
				'img':'instagram-3.jpg',
				'title':'News title',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo.',
			})
		</div>	
		<div class="col-12 col-md-4 filterDiv filter-caravans">
			@@include('brick-news.html',{
				'class':'',
				'img':'news-img-2.jpeg',
				'title':'News title',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo.',
			})
		</div>
		<div class="col-12 col-md-4 filterDiv filter-caravans">
			@@include('brick-news.html',{
				'class':'',
				'img':'news-img-3.jpeg',
				'title':'News title',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo.',
			})
		</div>
		<div class="col-12 col-md-4 filterDiv filter-caravans">
			@@include('brick-news.html',{
				'class':'',
				'img':'instagram-3.jpg',
				'title':'News title',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo.',
			})
		</div>			
	</div>
</section>