<div class="brick-news__item @@class">
	<div class="brick-news__img">
		<img src="./img/@@img" alt="img-news">
	</div>
	<h3 class="brick-news__title">@@title</h3>
	<h4 class="brick-news__subtitle">@@subtitle</h4>
	<p>@@text</p>
</div>