<!--  DEVELOPMENTS -->
	<section class="developments pt-4 mw-1200"> 
		@@include('section-title.html',{
			'subtitle':'OUR DEVELOPMENTS',
			'title':'NEW for 2021',
		})
		<div class="row mx-0 pt-md-5 pt-2 pt-sm-3">
			<div class="col-md-6 col-12 pb-5 px-5">  
				@@include('brick.html',{
					'img':'Playground.png',
					'title':'Treasure Island Playground ',
					'link':'#',
					'button':'view',
				})
			</div>
			<div class="col-md-6 col-12 pb-5 px-5">
				@@include('brick.html',{
					'img':'Playground.png',
					'title':'Pirate’s Cove Playground',
					'link':'#',
					'button':'view',
				})
			</div>
		</div>		
	</section>
	<!-- FACILITIES TO ENTERTAIN YOU -->
	<section class="facilities mw-1200"> 
		@@include('section-title.html',{
			'subtitle':'First class',
			'title':'facilities to entertain you',
		})
		<div class="row mx-0 pt-md-5 pt-3 pt-sm-3">
			<div class="col-md-4 col-12 pb-5 px-4">  
				@@include('brick.html',{
					'img':'hero/hero-3.jpg',
					'title':'Our Favourites',
					'link':'#',
					'button':'view',
				})
			</div>
			<div class="col-md-4 col-12 pb-5 px-4">
				@@include('brick.html',{
					'img':'kids.png',
					'title':'For Kids',
					'link':'#',
					'button':'view',
				})
			</div>
			<div class="col-md-4 col-12 pb-5 px-4">
				@@include('brick.html',{
					'img':'Adults.jpg',
					'title':'For Adults',
					'link':'#',
					'button':'view',
				})
			</div>
		</div>		
	</section>