<section class="brick-caravans">
	@@include('section-title.html',{
		'subtitle':'Marine Holiday Park',
		'title':'specialist in Static Caravans',
	})
	<div class="brick-caravans__text m-auto text-center py-3">
		<p>
			If you’re thinking of owning your own caravan then please get in touch today by; requesting a call back or by arranging a viewing
		</p>
	</div>
	<div class="row justify-content-center pt-4 pb-2 mw-1200 brick-caravans__item">
		<div class="pl-3 pr-3 col-12 col-lg-4"> 
			<!-- card "caravan" -->
			@@include('caravan-card.html',{
				'img':'caravan.jpg',
				'title':'Willerby Beaumaris',
				'number':'1',
				'price':'£12,995',
				'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
				'sleeps':'1',
				'beds':'2',
				'built':'2001',
				'size':'35x12',
				'redused':'redused',
				'starBuy':''
			})
		</div>					                	
		<div class="pl-3 pr-3 col-12 col-lg-4 brick-caravans__item">
			<!-- card "caravan" -->
			@@include('caravan-card.html',{
				'img':'caravan.jpg',
				'title':'Willerby Beaumaris',
				'number':'1',
				'price':'£12,995',
				'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
				'sleeps':'1',
				'beds':'2',
				'built':'2001',
				'size':'35x12',
				'redused':'',
				'starBuy':''
			})
		</div>
		<div class="pl-3 pr-3 col-12 col-lg-4 brick-caravans__item">
			<!-- card "caravan" -->
			@@include('caravan-card.html',{
				'img':'caravan.jpg',
				'title':'Willerby Beaumaris',
				'number':'1',
				'price':'£12,995',
				'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space.',
				'sleeps':'1',
				'beds':'2',
				'built':'2001',
				'size':'35x12',
				'redused':'',
				'starBuy':'starBuy'
			})
		</div>
	</div>
	<div class="d-flex p-3">  
		<a href="#" class="button button_dark m-auto py-4 z-index-1">VIEW ALL SALES</a>
	</div>
</section>