<section class="brick-news brick-news_bg-light img_radius filterDiv filter-events">
	<div class="row mw-1200">
		<div class="col-12 col-md-6 ">
			@@include('brick-news.html',{
				'class':'',
				'img':'news-img-1.jpeg',
				'title':'MARINE POST COVIID',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Pellentesque commodo eros a enim. Sed mollis, eros et',
			})
		</div>
		<div class="col-12 col-md-6">
			@@include('brick-news.html',{
				'class':'',
				'img':'fantastic-location.jpg',
				'title':'TOP 10 LOCAL BEACHES',
				'subtitle':'26th March 2021',
				'text':'Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Pellentesque commodo eros a enim. Sed mollis, eros et',
			})
		</div>
	</div>
</section>