<div class="brick">
	<div class="brick__img">
		<img src="./img/@@img" alt="img-brick">
	</div>
	<h3 class="brick__title">@@title</h3>
	<div class="m-auto text-center">
		<a href="@@link" class="button button_yellow py-3">@@button</a>
	</div>	
</div>