<div class="col-12 col-lg-6 brochure">
	<div class="brochure__img pt-2">
		<img src="img/brochure-80.jpg" alt="brochure">
	</div>
	<div class="pb-3 section-title_white">
		@@include('section-title.html',{
			'subtitle':'GET OUR',
			'title':'BROCHURE TODAY',
		})
	</div>
	<div class="d-flex pt-3 mb-4">
		<a href="#" class="button button_dark py-3 px-5 m-auto text-center text-uppercase">Request a brochure</a>
	</div>
</div>