<div class="caravan">
	<div class="caravan__img"><!-- for sticker "redused" use <span class="caravan__sticker caravan__sticker_redused">redused</span> -->
		@@if(redused){<span class="caravan__sticker caravan__sticker_redused">@@redused</span>}@@if(!redused){<!-- for sticker "star Buy" use <span class="caravan__sticker caravan__sticker_star-buy">star Buy</span> -->}@@if(starBuy){<span class="caravan__sticker caravan__sticker_star-buy">@@starBuy</span>}@@if(!starBuy){}
		<img src="./img/caravans/@@img" alt="caravan-foto">
	</div>
	<div class="caravan__info">
		<div class="d-flex justify-content-between">
			<h4 class="caravan__title">@@title</h4>
			<span>In stock: @@number</span>
		</div>		
		<p class="caravan__price">@@price</p>
		@@if(text){<p class="caravan__text">@@text</p>}@@if(!text){}
		<p class="caravan__text caravan__text_more d-none">@@text_more</p>
		<div class="d-flex border-top caravan__characteristic">
			<ul class="d-flex w-100 justify-content-between">
				<li class="d-flex">
					<div class="icon col-3">
						<img src="./img/icon/sleeps.svg" alt="sleeps">
					</div>
					Sleeps @@sleeps
				</li>
				<li class="d-flex">
					<div class="icon col-3">
						<img src="./img/icon/beds.svg" alt="beds">
					</div>
					Beds @@beds
				</li>
				<li class="d-flex">
					<div class="icon col-3">
						<img src="./img/icon/built.svg" alt="built">
					</div>
					Built @@built
				</li>
				<li class="d-flex">
					<div class="icon col-3">
						<img src="./img/icon/size.svg" alt="size">
					</div>
					Size @@size
				</li>
			</ul>
		</div>
		<div class="caravan__button d-none pt-4">
			<a href="#" class="button button_dark m-auto py-3 text-center">VIEW ALL SALES</a>
		</div>	
	</div>
</div>