<section class="caravans-popular my-5">
	@@include('section-title.html',{
		'subtitle':'VIEW',
		'title':'POPULAR CARAVANS',
	})
	<div class="row justify-content-center pt-4 pb-2 mw-1200 brick-caravans__item">
		<div class="pl-3 pr-3 col-12 col-lg-4"> 
			<div>
				<!-- card "caravan" -->
				@@include('caravan-card.html',{
					'img':'caravan.jpg',
					'title':'Willerby Beaumaris',
					'number':'1',
					'price':'£12,995',
					'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
					'sleeps':'1',
					'beds':'2',
					'built':'2001',
					'size':'35x12',
					'redused':'redused',
					'starBuy':''
				})
			</div>
			<div class="pb-3 d-lg-flex d-none">
				<a href="#" class="button button_dark m-auto py-3 text-center w-lg-100">VIEW ALL SALES</a>
			</div>	
		</div>					                	
		<div class="pl-3 pr-3 col-12 col-lg-4"> 
			<div>
				<!-- card "caravan" -->
				@@include('caravan-card.html',{
					'img':'caravan.jpg',
					'title':'Willerby Beaumaris',
					'number':'1',
					'price':'£12,995',
					'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
					'sleeps':'1',
					'beds':'2',
					'built':'2001',
					'size':'35x12',
					'redused':'',
					'starBuy':''
				})
			</div> 
			<div class="pb-5 d-lg-flex d-none">
				<a href="#" class="button button_dark m-auto py-3 text-center w-lg-100">VIEW ALL SALES</a>
			</div>			
		</div>				
		<div class="pl-3 pr-3 col-12 col-lg-4"> 
			<div>
				<!-- card "caravan" -->
				@@include('caravan-card.html',{
					'img':'caravan.jpg',
					'title':'Willerby Beaumaris',
					'number':'1',
					'price':'£12,995',
					'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
					'sleeps':'1',
					'beds':'2',
					'built':'2001',
					'size':'35x12',
					'redused':'',
					'starBuy':'star-buy'
				})
			</div>
			<div class="pb-5 d-flex">
				<a href="#" class="button button_dark m-auto py-3 text-center w-lg-100">VIEW ALL SALES</a>
			</div>	
		</div>				
	</div>
</section>