<section class="cards-luxury">
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'luxury-holiday.jpeg',
			'title':'Swan lake View',
			'text-1':'Brand New for the 2021 season The Swan Lake View is a luxury 3 bedroom ( sleeps 8 ) lodge that boasts a centre lounge entrance.',
			'text-2':'This Huge holiday home is 42x20ft ! giving your family plenty of room to relax and unwind , or run wild !',
			'text-3':'The Lodge welcomes you with an open plan , living , kitchen and dining area , all beautifully decorated with modern designs. The Living room has large comfortable sofa’s for you to sit back and relax whilst watching the 50″ smart TV cinema system!',
			'button':'FIND OUT MORE',
			'link':'swan-lake-view.html',
		}) 
	</div>	
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'luxury-holiday.jpeg',
			'title':'Swan lake View',
			'text-1':'Brand New for the 2021 season The Swan Lake View is a luxury 3 bedroom ( sleeps 8 ) lodge that boasts a centre lounge entrance.',
			'text-2':'This Huge holiday home is 42x20ft ! giving your family plenty of room to relax and unwind , or run wild !',
			'text-3':'The Lodge welcomes you with an open plan , living , kitchen and dining area , all beautifully decorated with modern designs. The Living room has large comfortable sofa’s for you to sit back and relax whilst watching the 50″ smart TV cinema system!',
			'button':'FIND OUT MORE',
			'link':'swan-lake-view.html',
		}) 
	</div>
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'luxury-holiday.jpeg',
			'title':'Swan lake View',
			'text-1':'Brand New for the 2021 season The Swan Lake View is a luxury 3 bedroom ( sleeps 8 ) lodge that boasts a centre lounge entrance.',
			'text-2':'This Huge holiday home is 42x20ft ! giving your family plenty of room to relax and unwind , or run wild !',
			'text-3':'The Lodge welcomes you with an open plan , living , kitchen and dining area , all beautifully decorated with modern designs. The Living room has large comfortable sofa’s for you to sit back and relax whilst watching the 50″ smart TV cinema system!',
			'button':'FIND OUT MORE',
			'link':'swan-lake-view.html',
		}) 
	</div>
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'luxury-holiday.jpeg',
			'title':'Swan lake View',
			'text-1':'Brand New for the 2021 season The Swan Lake View is a luxury 3 bedroom ( sleeps 8 ) lodge that boasts a centre lounge entrance.',
			'text-2':'This Huge holiday home is 42x20ft ! giving your family plenty of room to relax and unwind , or run wild !',
			'text-3':'The Lodge welcomes you with an open plan , living , kitchen and dining area , all beautifully decorated with modern designs. The Living room has large comfortable sofa’s for you to sit back and relax whilst watching the 50″ smart TV cinema system!',
			'button':'FIND OUT MORE',
			'link':'swan-lake-view.html',
		}) 
	</div>
	<div class="border-top mw-1200 pt-3 pt-sm-5">
		@@include('pagination.html')
		<div class="d-flex">
			<a href="#" class="button button_yellow button_font-black m-auto">Book now</a>
		</div>
		
	</div>
	
</section>