<section class="cards-luxury">
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'slide-1.jpg',
			'title':'Platinum',
			'text-1':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge.  With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
			'text-2':'', 
			'text-3':'',
			'button':'FIND OUT MORE',
			'link':'./platinum.html',
		}) 
	</div>	
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'slide-1.jpg',
			'title':'Gold',
			'text-1':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge.  With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
			'text-2':'', 
			'text-3':'',
			'button':'FIND OUT MORE',
			'link':'./platinum.html',
		}) 
	</div>
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'slide-1.jpg',
			'title':'Silver',
			'text-1':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge.  With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
			'text-2':'', 
			'text-3':'',
			'button':'FIND OUT MORE',
			'link':'./platinum.html',
		}) 
	</div>
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'slide-1.jpg',
			'title':'Bronze',
			'text-1':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge.  With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
			'text-2':'', 
			'text-3':'',
			'button':'FIND OUT MORE',
			'link':'./platinum.html',
		}) 
	</div>
	<div class="pb-4">
		@@include('card-luxury.html',{
			'img':'slide-1.jpg',
			'title':'Disabled Access',
			'text-1':'Our top of the range accommodations – luxurious and extra special! Each of our Platinum caravans has been carefully designed and fitted to ensure you have the most comfortable of stays. At 12 foot wide with double glazing and central heating, these holiday homes really do offer a fantastic setting for that perfect family break with an open plan living room, dining area and fully equipped kitchen with integrated fridge-freezer. Accommodating up to 6 people, our Platinum 2 range have one master double bedroom and one twin bedroom, plus an additional pull out double in the lounge.  With added extras such as a walk-in wardrobe in the master bedroom and a priority early check-in time of 2.00pm, we are sure you will love our top of the range accommodation!',
			'text-2':'', 
			'text-3':'',
			'button':'FIND OUT MORE',
			'link':'./platinum.html',
		}) 
	</div>
	<div class="border-top mw-1200 pt-3 pt-sm-5">
		@@include('pagination.html')
		<div class="d-flex">
			<a href="#" class="button button_yellow button_font-black m-auto">Book now</a>
		</div>
		
	</div>
	
</section>