<div class="card-luxury row">
	<div class="card-luxury__img col-12 col-lg-6">
		<img src="./img/@@img" alt="img-luxury-holiday">
	</div>
	<div class="card-luxury__info col-12 col-lg-6">
		<h3 class="card-luxury__title">@@title</h3>
		<p class="card-luxury__text">@@text-1</p> 
		<p class="card-luxury__text">@@text-2</p>
		<p class="card-luxury__text">@@text-3</p>
		<div class="card-luxury__buttons">
			<a href="@@link" class="button button_dark">@@button</a>
			<a href="#" class="button button_yellow button_font-black">Book now</a>
		</div>
	</div>
</div>