<section class="carousel-gallery">
	@@include('entered.html',{
		'subtitle':'VIEW FACILITY',
		'title':'GALLERY',
		'text':'Describe your perfect holiday, we bet that having ‘a swimming pool’ would be near the top. Especially if you’re coming away with children – they’ll spend endless hours splashing about and learning to swim!',
	})
	<div class="carousel-gallery__wrapper mw-1440">
		<div class="carousel-gallery__slider">
			<div class="carousel-gallery__item">
				<img src="./img/kid-swimming-laps-PKSBRE6.jpg" alt="carousel-img">
			</div>
			<div class="carousel-gallery__item">
				<img src="./img/kids.png" alt="carousel-img">
			</div>
			<div class="carousel-gallery__item">
				<img src="./img/pool-photo-3_marine-holiday-park.jpg" alt="carousel-img">
			</div>
			<div class="carousel-gallery__item">
				<img src="./img/tropical-pool.jpg" alt="carousel-img">
			</div>
			<div class="carousel-gallery__item">
				<img src="./img/kids.png" alt="carousel-img">
			</div>
			<div class="carousel-gallery__item">
				<img src="./img/pool-photo-3_marine-holiday-park.jpg" alt="carousel-img">
			</div>
			<div class="carousel-gallery__item">
				<img src="./img/tropical-pool.jpg" alt="carousel-img">
			</div>
		</div>	
	</div>
</section>