<div class="questions__item">
    <div role="tab" id="@@id">
        <button class="questions__toggle collapsed" data-toggle="collapse" data-parent="#question" data-target="#@@id-collapse" aria-expanded="false" aria-controls="@@id">
            <span>@@title</span>
        </button>
    </div>
    <div id="@@id-collapse" class="questions__panel-collapse collapse" role="tabpanel" aria-labelledby="@@id" data-parent="#question">
        <p>@@text</p>
    </div>
</div> 