<section class="">
	<div class="row m-0">
		<div class="col-12 col-lg-6 contact__locate">
			<div class="entertainment__img d-md-none">
				<img src="img/locate-contact-80.jpg" alt="kid-swimming">
			</div>
			<div class="contact__bl">
				<div class="pb-3 section-title_little">
					@@include('section-title.html',{
						'subtitle':'HOW TO',
						'title':'LOCATE US',
					})
				</div>
				<ul class="contact__list">
					<li>Marine Holiday Park</li>
					<li>Cefndy Road</li>
					<li>Rhyl</li>
					<li>Denbighshire</li>
					<li>LL18 2HG.</li>
				</ul>
				<div class="d-flex pt-4">
					<a href="#" class="button button_bark py-3 px-4 m-auto text-center">GET DIRECTIONS</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 contact__map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9535.49169795994!2d-3.4912477021277195!3d53.309722042647586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48652843998f05f1%3A0x4c56f96497fc623c!2sMarine%20Holiday%20Park!5e0!3m2!1sru!2sua!4v1618312141866!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</section>