<div class="dropdown-menu fade w-100 m-0 rounded-0 facilites" aria-labelledby="navbarDropdown">
	<div class="row justify-content-center pt-4 pb-4 mw-1440">
		<div class="pl-3 pr-3 col-12 col-sm-4 facilites__block">
			<div class="facilites_img">
				<img src="./img/favourites.png" alt="img-header">
			</div>
			<h4 class="caravan__title caravan__title_fs-22 pb-2">Our Favourites</h4>
			<ul class="facilites__list">
				<li><a href="#">Mermaid Cafe</a></li>
				<li><a href="#">Dining</a></li>
				<li><a href="#">Sports Bar</a></li>
				<li><a href="#">Mariners Club</a></li>
			</ul>
			<div class="pt-3">
				<a href="#" class="button button_mini">VIEW ALL</a>
			</div>	
		</div>		
		<div class="pl-3 pr-3 col-12 col-sm-4 facilites__block">
			<div class="facilites_img">
				<img src="./img/for-kids.png" alt="img-header">
			</div>
			<h4 class="caravan__title caravan__title_fs-22 pb-2">For Kids</h4>
			<ul class="facilites__list">
				<li><a href="#">Heated Pool</a></li>
				<li><a href="#">All Weather Pitch</a></li>
				<li><a href="#">Adventure Playground</a></li>
				<li><a href="#">Sands Arcade</a></li>
			</ul>
			<div class="pt-3">
				<a href="#" class="button button_mini">VIEW ALL</a>
			</div>	
		</div>
		<div class="pl-3 pr-3 col-12 col-sm-4 facilites__block">
			<div class="facilites_img">
				<img src="./img/Adults.jpg" alt="img-header">
			</div>
			<h4 class="caravan__title caravan__title_fs-22 pb-2">For Adults</h4>
			<ul class="facilites__list">
				<li><a href="#">Sports Bar</a></li>
				<li><a href="#">Dining</a></li>
				<li><a href="#">Sports Bar</a></li>
				<li><a href="#">Mariners Club</a></li>
			</ul>
			<div class="pt-3">
				<a href="#" class="button button_mini">VIEW ALL</a>
			</div>	
		</div>
	</div>
	<div class="line-top">
		<div class="d-flex m-3">
			<a href="./facilities.html" class="button button_yellow button_font-black m-auto">VIEW ALL FACILITIES</a>
		</div>
	</div>
</div>