<div class="dropdown-menu fade w-100 m-0 rounded-0 facilites" aria-labelledby="navbarDropdown">
	<div class="row justify-content-center pt-4 pb-4 mw-1000">
		<div class="pl-3 pr-3 col-12 col-sm-6 facilites__block">
			<div class="facilites_img">
				<img src="./img/luxury-holiday.jpeg" alt="img-header">
			</div>
			<h4 class="caravan__title caravan__title_fs-22 pb-2">Luxury Lodges</h4>
			<div class="pt-3">
				<a href="./luxury-lodge.html" class="button button_mini">VIEW ALL</a>
			</div>	
		</div>		
		<div class="pl-3 pr-3 col-12 col-sm-6 facilites__block">
			<div class="facilites_img">
				<img src="./img/MARN-LP.jpg" alt="img-header">
			</div>
			<h4 class="caravan__title caravan__title_fs-22 pb-2">Comfy Caravans</h4>
			<div class="pt-3">
				<a href="./luxury-caravans.html" class="button button_mini">VIEW ALL</a>
			</div>				
		</div>
	</div>
	<div class="line-top">
		<div class="d-flex m-3">
			<a href="#" class="button button_yellow button_font-black m-auto">Book now</a>
		</div>		
	</div>
</div>