<section class="enquiry">
	@@include('section-title.html',{
		'subtitle':'QUICK',
		'title':'ENQUIRY',
	})
	<div class="enquiry__form">
		<p class="pb-4">
			Aliquam erat volutpat. Curabitur ullamcorper ultricies nisi. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Etiam ultricies nisi vel augue. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.
		</p>
		<form action="#" method="">
			<div class="row m-0">
				<div class="col-12 col-md-6 mb-3">
					<label class="enquiry__label enquiry__label_necessarily">Firsr Name</label>
					<input class="enquiry__input" type="text" name="firstName" required>
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label class="enquiry__label enquiry__label_necessarily">Last Name</label>
					<input class="enquiry__input" type="text" name="lastName" required>
				</div>
			</div>
			<div class="row m-0 pb-4">
				<div class="col-12 col-md-6 mb-3">
					<label class="enquiry__label enquiry__label_necessarily">Email</label>
					<input class="enquiry__input" type="email" name="Email" required>
				</div>
				<div class="col-12 col-md-6 mb-3">
					<label class="enquiry__label enquiry__label_necessarily">Phone number</label>
					<input class="enquiry__input" type="number" name="PhoneNumber" required>
				</div>
			</div>
			<div class="pb-4">
				<label for="textarea" class="enquiry__label enquiry__label_necessarily">Message</label>
				<textarea class="enquiry__input" cols="40" rows="8" name="textarea" id="textarea"></textarea>
			</div>
			<p class="enquiry_necessarily pb-4">
				*Required fields
			</p>
			<p class="pb-4">
				We’d love to know of any other caravans for sale
			</p>
			<div class="row m-0">
				<div class="col-12 col-md-6">

					<label class="enquiry__label enquiry__radio enquiry__checked">
						<input type="radio" id="contactChoice1" name="contact" value="Yes please, I want to news of caravans for sale">
						<span></span>
						Yes please, I want to news of caravans for sale
					</label>
				</div>
				<div class="col-12 col-md-6">					
					<label class="enquiry__label enquiry__radio enquiry__checked" for="contactChoice2">
						<input type="radio" id="contactChoice2"
						name="contact" value="No thansk, i’m ok missing out">
						<span></span>
						No thansk, i’m ok missing out
					</label>
				</div>
				<div class="col-12 enquiry__checkboxs">
					<div class="d-flex flex-wrap">						
						<label class="enquiry__checkbox enquiry__checked" for="checkboxEmail">
							<input type="checkbox" id="checkboxEmail" name="email" value="email">
							<span></span>
							Email
						</label>
						<label class="enquiry__checkbox enquiry__checked" for="checkboxPost">
							<input type="checkbox" id="checkboxPost" name="post" value="post">
							<span></span>
							Post
						</label>
						<label class="enquiry__checkbox enquiry__checked" for="checkboxSMS">
							<input type="checkbox" id="checkboxSMS" name="SMS" value="SMS">
							<span></span>
							SMS
						</label>
						
						<label class="enquiry__checkbox enquiry__checked" for="checkboxCall">
							<input type="checkbox" id="checkboxCall" name="call" value="call">
							<span></span>
							Call
						</label>
					</div>
				</div>
				<p class="pb-4 enquiry__privacy">
					View our <a class="link color-dark" href="#">privacy policy</a>
				</p>				
			</div>		
			<div class="d-flex justify-content-center">
				<button class="button button button_yellow button_font-black" type="submit" value="Submit" >SEND MESSAGE</button>
			</div>
		</form>
	</div>
</section>