<section class="entered">
	<div class="mw-1000">
		<div class="pb-4">
			<div class="section-title">
				<h2>
					<span>@@subtitle</span>
					@@title
				</h2>
			</div>
		</div>		
		<p class="text-center">@@text</p>	
	</div>				
</section>