<div class="row m-0 p-0 py-5 entertainment__cards d-flex">
		<div class="col-6 col-md-4 col-lg-2 entertainment__card">
			<a href="./swimming-pool.html" class="entertainment__bl entertainment__bl_padding">
				<div class="entertainment__icon">
					<img src="img/icon/icon-swimming.svg" alt="icon-swimming">
				</div>
				<span>
					The Swimming Pool
				</span>
			</a>				
		</div>
		<div class="col-6 col-md-4 col-lg-2 entertainment__card">
			<a href="#" class="entertainment__bl entertainment__bl_padding">
				<div class="entertainment__icon">
					<img src="img/icon/icon-sands.svg" alt="icon-sands">
				</div>
				<span>
					The Sands Arcade
				</span>
			</a>					
		</div>
		<div class="col-6 col-md-4 col-lg-2 entertainment__card">
			<a href="#" class="entertainment__bl entertainment__bl_padding">
				<div class="entertainment__icon">
					<img src="img/icon/icon-ship.svg" alt="icon-ship">
				</div>
				<span>
					Ship Wrecked Play Area
				</span>
			</a>					
		</div>
		<div class="col-6 col-md-4 col-lg-2 entertainment__card">
			<a href="#" class="entertainment__bl entertainment__bl_padding">
				<div class="entertainment__icon">
					<img src="img/icon/icon-mermaids.svg" alt="icon-mermaids">
				</div>
				<span>
					Mermaids Café
				</span>
			</a>
		</div>
		<div class="col-6 col-md-4 col-lg-2 entertainment__card">
			<a href="#" class="entertainment__bl entertainment__bl_padding">
				<div class="entertainment__icon">
					<img src="img/icon/icon-captains-plaice.svg" alt="icon-captains-plaice">
				</div>
				<span>
					Captains Plaice
				</span>
			</a>
		</div>
		<div class="col-6 col-md-4 col-lg-2 entertainment__card">
			<a href="#" class="entertainment__bl entertainment__bl_padding">
				<div class="entertainment__icon">
					<img src="img/icon/icon-weather.svg" alt="icon-weather">
				</div>
				<span>
					All-Weather Pitch
				</span>
			</a>
		</div>
	</div>