<section class="entertainment row mx-0">
	<div class="col-12 col-lg-6 entertainment__info">
		<div class="entertainment__img d-md-none">
			<img src="img/kid-swimming-laps-PKSBRE6.jpg" alt="kid-swimming">
		</div>
		<div class="entertainment__block text-center text-md-right">
			@@include('section-title.html',{
				'subtitle':'YOUR',
				'title':'PERFECT HOLIDAY',
			})
			<p>
				Describe your perfect holiday, we bet that having 'a swimming pool' would be near the top. Especially if you’re coming away with children - they'll spend endless hours splashing about and learning to swim!
			</p>
			<div class="d-flex pt-3 pt-md-4">
				<a href="#" class="button button_dark m-auto mr-md-0 z-index-1 p-3">VIEW ALL FACILITIES</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-6 row p-0 entertainment__cards">
		<div class="col-6 col-xl-4 entertainment__card">
			<a href="./swimming-pool.html" class="entertainment__bl">
				<div class="entertainment__icon">
					<img src="img/icon/icon-swimming.svg" alt="icon-swimming">
				</div>
				<span>
					The Swimming Pool
				</span>
			</a>				
		</div>
		<div class="col-6 col-xl-4 entertainment__card">
			<a href="#" class="entertainment__bl">
				<div class="entertainment__icon">
					<img src="img/icon/icon-sands.svg" alt="icon-sands">
				</div>
				<span>
					The Sands Arcade
				</span>
			</a>					
		</div>
		<div class="col-6 col-xl-4 entertainment__card">
			<a href="#" class="entertainment__bl">
				<div class="entertainment__icon">
					<img src="img/icon/icon-ship.svg" alt="icon-ship">
				</div>
				<span>
					Ship Wrecked Play Area
				</span>
			</a>					
		</div>
		<div class="col-6 col-xl-4 entertainment__card">
			<a href="#" class="entertainment__bl">
				<div class="entertainment__icon">
					<img src="img/icon/icon-mermaids.svg" alt="icon-mermaids">
				</div>
				<span>
					Mermaids Café
				</span>
			</a>
		</div>
		<div class="col-6 col-xl-4 entertainment__card">
			<a href="#" class="entertainment__bl">
				<div class="entertainment__icon">
					<img src="img/icon/icon-captains-plaice.svg" alt="icon-captains-plaice">
				</div>
				<span>
					Captains Plaice
				</span>
			</a>
		</div>
		<div class="col-6 col-xl-4 entertainment__card">
			<a href="#" class="entertainment__bl">
				<div class="entertainment__icon">
					<img src="img/icon/icon-weather.svg" alt="icon-weather">
				</div>
				<span>
					All-Weather Pitch
				</span>
			</a>
		</div>
	</div>
</section>