<div class="info-caravan__factsheet">
	<div class="info-caravan__factsheet-title pb-3">Facilities</div>
	<div class="info-caravan__list d-block d-sm-flex">
		<ul class="info-caravan__list_pr">
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/check-in-time.png" alt="icon">
				</div>
				Check in time
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/tv.png" alt="icon">
				</div>
				Tv in Lounge
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/hob-oven.png" alt="icon">
				</div>
				Hob / Oven / Microwave
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/double.png" alt="icon">
				</div>
				Double Glazing
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/fridge.png" alt="icon">
				</div>
				Fridge / Freezer
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/central.png" alt="icon">
				</div>
				Central Heating
			</li>
		</ul>
		<ul class="pr-0">
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/beds-msde.png" alt="icon">
				</div>
				Beds made on arrival
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/free-wifi.png" alt="icon">
				</div>	
				Free Wifi
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon info-caravan__icon_big">
					<img src="./img/icon/swimming.png" alt="icon">
				</div>
				Entertainment, Swimming & Complex Passes
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/free-bed.png" alt="icon">
				</div>
				Free bed linen
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/dvd.png" alt="icon">
				</div>
				DVD player
			</li>
			<li class="info-caravan__list-item">
				<div class="info-caravan__icon">
					<img src="./img/icon/pool.png" alt="icon">
				</div>
				Private Hot Tub
			</li>
		</ul>
	</div>				
</div>