<section class="filter">
	<div class="mw-1200">
		<div class="filter__form">
			<form class="d-flex justify-content-between align-items-end row m-0 flex-lg-nowrap">
				<!-- Search -->
				<div class="col-12 py-3 p-lg-0  col-lg-4 d-flex form-inline filter__search">
					<input class="form-control mr-sm-2" type="search" placeholder="Search Caravans" aria-label="Search">
				</div>
				<!-- title -->
				<div class="col-12 py-3 p-lg-0  col-lg-4 d-flex filter__title">
					@@include('section-title.html',{
						'subtitle':'BROWSE',
						'title':'OUR CARAVANS',
					})
				</div>
				<div class="col-12 py-3 p-lg-0  col-lg-4 d-flex">
				<!-- Select -->
					<select class="filter__select" name="Sort by">
						<option label="Sort by" value="Sort by" selected disabled>Sort by</option>
						<option value="Sort by 1">Sort by 1</option>
						<option value="Sort by 2">Sort by 2</option>
						<option value="Sort by 3">Sort by 3</option>
					</select>
				<!-- button -->
					<button class="filter__button active d-none d-lg-flex" id="columnsAlign" type="button">
						<span class="material-icons-sharp m-auto">grid_view</span>
					</button>

					<button class="filter__button d-none d-lg-flex" id="rowAlign" type="button">
						<span class="material-icons-outlined m-auto">menu</span>
					</button>
				</div>
			</form>			
		</div>
<!-- started filter -->
		<div class="row filter__choise m-0">
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card">
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>
			</div>		
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card">
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})				
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>
			</div>			
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card">
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>
			</div>			
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card">
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>
			</div>				
			<div class="p-3 col-12 col-md-6  col-lg-4 filter__item-card"> 
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>
			</div>			
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card"> 
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>	
			</div>			
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card"> 
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>	
			</div>			
			<div class="p-3 col-12 col-md-6  col-lg-4 filter__item-card"> 
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>	
			</div>			
			<div class="p-3 col-12 col-md-6 col-lg-4 filter__item-card"> 
					<!-- card "caravan" -->
					@@include('caravan-card.html',{
						'img':'caravan.jpg',
						'title':'Willerby Beaumaris',
						'number':'1',
						'price':'£12,995',
						'text':'The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. ',
						'text_more':'Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec sodales sagittis magna. Curabitur nisi. Nam pretium turpis et arcu. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo.',
						'sleeps':'1',
						'beds':'2',
						'built':'2001',
						'size':'35x12',
						'redused':'redused',
						'starBuy':''
					})
				<div class="d-md-flex d-none caravan__column-bottom">
					<a href="#" class="button button_dark m-auto py-3 text-center w-100">VIEW ALL SALES</a>
				</div>
			</div>		
		</div>
		<div class="filter__navigation">			
			<div class="mw-600">
				@@include('pagination.html')
				<div class="row m-0 justify-content-center d-flex">
					<div class="col-12 col-md-6 d-flex m-auto pb-3 pb-md-0">
						<a href="#" class="button button_dark m-auto py-md-4 py-sm-3 py-2">ARRANGE A VISIT</a>
					</div>
					<div class="col-12 col-md-6 d-flex m-auto">
						<a href="#" class="button button_yellow button_font-black  m-auto py-md-4 py-sm-3 py-2">REQUEST A CALLBACK</a>
					</div>				
				</div>
			</div>			
		</div>
	</div>			
</section>