<section>
    <div class="footer">
        <div class="footer__logo">
            <img src="./img/marine-park-logo.png" alt="marine-park-logo">
        </div>
        <div class="container mw-1440">
            <div class="footer__container">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-3">
                        <h3 class="footer__list-title">
                            Navigation
                        </h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">HOLIDAYS</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">FACILITIES</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">CARAVAN SALES</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">NEWS</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <h3 class="footer__list-title">
                            Links
                        </h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">PET INFORMATION</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">LOCAL AREA</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">CAREERS</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">OWNERS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <h3 class="footer__list-title">
                            Get in touch
                        </h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                Email: <a class="footer__link_color" href="mailto:enquiries@marineholidaypark.com">enquiries@marineholidaypark.com</a>
                            </li>
                            <li class="footer__item">
                                Sales: <a class="footer__link_color" href="#">01745 508 794</a>
                            </li>
                            <li class="footer__item">
                                Holiday: <a class="footer__link_color" href="#">01745 508 520</a>
                            </li>
                            <li class="footer__item">
                                <button class="button button_white footer__btn">Contact us</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3">
                        <h3 class="footer__list-title">
                            Find us
                        </h3>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <adress>Marine Holiday Park</adress>
                            </li>
                            <li class="footer__item">
                                <adress>Cefndy Road, Rhyl</adress>
                            </li>
                            <li class="footer__item">
                                <adress>Denbighshire LL18 2HG.</adress>
                            </li>
                            <li class="footer__item">
                                <button class="button button_yellow footer__btn ">Get Directions</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__item-down">
            <h3 class="footer__list-title">
                OUR BRANDS
            </h3>
            <ul class="footer__list-down">
                <li class="footer__item-logo">
                    <img src="./img/logo1.png" alt="logo">
                </li>
                <li class="footer__item-logo">
                    <img src="./img/logo2.png" alt="logo">
                </li>
                <li class="footer__item-logo">
                    <img src="./img/logo3.png" alt="logo">
                </li>
            </ul>
        </div>
        <div class="footer__bottom">
            <div class="container">
                <div class="row footer__revert">
                    <div class="col-12 col-md-5 col-lg-10 col-xl-4">
                        <p class="footer__copyright">© Copyright Marine Holiday Park 2021. All Rights Reserved.</p>
                    </div>
                    <div class="col-12 col-md-10 col-lg-10  col-xl-6">
                        <ul class="footer__links-list">
                            <li class="footer__links-item">
                                <a href="#">Accessibility</a>
                            </li>
                            <li class="footer__links-item">
                                <a href="#">Cookie Polict</a>
                            </li>
                            <li class="footer__links-item">
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li class="footer__links-item">
                                <a href="#">Sitemap</a>
                            </li>
                            <li class="footer__links-item">
                                <a href="#">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 col-lg-10  col-xl-2">
                        <ul class="footer__icons-list">
                            <li class="footer__icons-item">
                                <a href="#">
                                    <img src="./img/link-twit.png" alt="link-twitter">
                                </a>
                            </li>
                            <li class="footer__icons-item">
                                <a href="#">
                                    <img src="./img/link-yb.png" alt="link-twitter">
                                </a>
                            </li>
                            <li class="footer__icons-item">
                                <a href="#">
                                    <img src="./img/link-fb.png" alt="link-twitter">
                                </a>
                            </li>
                            <li class="footer__icons-item">
                                <a href="#">
                                    <img src="./img/link-inst.png" alt="link-twitter">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>