<header class="header">
	<div class="row d-md-none m-0">
		<div class="tel tel_mini col">
			<a href="tel:+44 (0) 1745 507 516" class="tel_icon menu-item menu-item_p-20 pr-0">+44 (0) 1745 507 516</a>
		</div>
		<a href="./book-now.html" class="book-today col">book now</a>
	</div>	
	<nav class="navbar navbar-expand-lg p-0 inner d-flex">
		<div class="logo">
			<a href="./index.html" class="w-100"><img src="img/marine-park-logo.png" alt="logo"></a>
		</div>	
	    <button class="navbar-toggler flex-column d-flex d-lg-none collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon navbar-toggler-icon_1"></span>
	        <span class="navbar-toggler-icon navbar-toggler-icon_2"></span>
	        <span class="navbar-toggler-icon navbar-toggler-icon_3"></span>
	        <span class="navbar-toggler-close navbar-toggler-close_1"></span>
	        <span class="navbar-toggler-close navbar-toggler-close_2"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul id="menu" class="menu d-flex menu d-flex flex-column flex-lg-row">
				<li class="holiday__active">
					<ul class="navbar-nav"> 
			            <li class="nav-item dropdown position-static p-0">
			                <button class="dropdown-toggle menu-item" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			                HOLIDAYS
			                </button>
			                <!-- dropdown-toggle "holiday" -->
			                @@include('dropdown-toggle(holiday).html')
			            </li>
			        </ul>
				</li>
				<li class="facilities__active">
					<ul class="navbar-nav"> 
			            <li class="nav-item dropdown position-static p-0">
			                <button class="dropdown-toggle menu-item" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FACILITIES
			                </button>
			                <!-- dropdown-toggle "facilities" -->
			                @@include('dropdown-toggle(facilities).html')
			            </li>
			        </ul>
				</li>
				<li class="caravan-sales__active">
					<ul class="navbar-nav">
			            <li class="nav-item dropdown position-static">
			                <button class="dropdown-toggle menu-item" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CARAVAN SALES
			        		</button>
			                <div class="dropdown-menu fade w-100 m-0 rounded-0" aria-labelledby="navbarDropdown">
			                	<div class="row justify-content-center pt-4 pb-2 mw-1440">
			                		<div class="pl-3 pr-3 col-12 col-lg-4">
			                			<!-- card "caravan" -->
			                			@@include('caravan-card.html',{
											'img':'caravan.jpg',
											'title':'Willerby Beaumaris',
											'number':'1',
											'price':'£12,995',
											'text':'',
											'sleeps':'1',
											'beds':'2',
											'built':'2001',
											'size':'35x12',
											'redused':'',
											'starBuy':''
										})
			                		</div>					                	
									<div class="pl-3 pr-3 col-12 col-lg-4">
										<!-- card "caravan" -->
			                			@@include('caravan-card.html',{
											'img':'caravan.jpg',
											'title':'Willerby Beaumaris',
											'number':'1',
											'price':'£12,995',
											'text':'',
											'sleeps':'1',
											'beds':'2',
											'built':'2001',
											'size':'35x12',
											'redused':'',
											'starBuy':''
										})
			                		</div>
									<div class="pl-3 pr-3 col-12 col-lg-4">
										<!-- card "caravan" -->
			                			@@include('caravan-card.html',{
											'img':'caravan.jpg',
											'title':'Willerby Beaumaris',
											'number':'1',
											'price':'£12,995',
											'text':'',
											'sleeps':'1',
											'beds':'2',
											'built':'2001',
											'size':'35x12',
											'redused':'',
											'starBuy':''
										})
			                		</div>
			                	</div>
			                	<div class="line-top">
			                		<div class="d-flex m-3">
			                			<a href="./browse-caravans.html" class="button button_dark m-auto">VIEW ALL SALES</a>
			                		</div>			                		
			                	</div>			                    
			                </div>
			            </li>
			        </ul>
				</li>
				<li class="news__active"><a href="./news.html" class="menu-item">NEWS</a></li>
				<li class="contacts__active">
					<a href="./contacts.html" class="menu-item menu-item_last ">CONTACT</a></li>
			</ul>
			<div class="tel d-none d-lg-block">
				<a href="#" class="tel_icon menu-item menu-item_p-20">+44 (0) 1745 507 516</a>
			</div>
			<div class="button-book">
				<button type="button" class="book-today" data-toggle="modal" data-target="#exampleModal-1" data-whatever="@mdo">book<br>today
				</button>
				<!-- modal button "book today" -->
				@@include('modal-book-today.html') 						       
		    </div>
		</div>
	</nav>		
</header>