<section class="hero-slider">
	<h3 class="hero-slider__title hero-slider__title_top d-md-none d-block">@@title</h3>
	<!-- main carousel content -->
	<div class="hero-slider__content d-flex flex-column justify-content-end">
		<h3 class="hero-slider__title d-none d-md-block">@@title</h3>
	</div>
	<!-- main carousel -->
	<div class="hero-slider__main-carousel">
		<div class="hero-slider__item hero-slider__item_luxury-first justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-second justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-third justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-fourth justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-fifth justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-sixth justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-seventh justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_luxury-eighth justify-content-between align-items-end"></div>
	</div>
	<!-- button slider -->
	<div class="d-flex justify-content-between hero-slider__callback">
		<a href="#" class="button button_yellow button_font-black px-5 py-md-4 py-sm-3 m-auto">book now</a>
	</div>
	<!-- nav carousel -->
	<div class="hero-slider__nav-carousel">
		<div class="hero-slider__nav-item">
			<img src="./img/luxury-holiday.jpeg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/luxury-holiday.jpeg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/luxury-holiday.jpeg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/luxury-holiday.jpeg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
	</div>
</section>