<div id="carousel-fade" class="carousel carousel-fade" data-ride="carousel" data-interval="5000"> 
    <div class="carousel-inner embed-responsive" role="listbox">
        <div class="carousel-caption">
            <h1 class="carousel__title">the perfect
            <span class="carousel__subtitle mt-2 mb-2 d-block">North Wales</span> Holiday Park</h1>
            <a href="#" class="button button_yellow button_font-black py-2 px-3 p-sm-4 mt-3 mt-sm-4">HOLIDAYS AT MARINE</a>
            <ol class="carousel-indicators">
                <li data-target="#carousel-fade" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-fade" data-slide-to="1"></li>
                <li data-target="#carousel-fade" data-slide-to="2"></li>
            </ol>
        </div>
      <div class="carousel-item carousel-block carousel-block__bg carousel-block__bg_first d-flex embed-responsive-item active">
      </div>
      <div class="carousel-item carousel-block carousel-block__bg carousel-block__bg_second d-flex embed-responsive-item">
      </div>
      <div class="carousel-item carousel-block carousel-block__bg carousel-block__bg_third d-flex embed-responsive-item">
      </div>
    </div>
</div>