<section class="hero-slider">
	<h3 class="hero-slider__title hero-slider__title_top d-md-none d-block">Willerby Beaumaris</h3>
	<!-- main carousel content -->
	<div class="hero-slider__content d-flex flex-column justify-content-end">
		<h3 class="hero-slider__title d-none d-md-block">Willerby Beaumaris</h3>
		<div class="hero-slider__characteristic pl-3 pb-2 d-flex">
			<div class="hero-slider__wrap">
				<div class="hero-slider__icon">
					<img src="./img/icon/ruler.svg" alt="ruler">
				</div>
				<p>Dimensions 38 x 12</p>
			</div>
			<div class="hero-slider__wrap">
				<div class="hero-slider__icon">
					<img src="./img/icon/bed.svg" alt="bed">
				</div>
				<p>Bedrooms: 3</p>
			</div>
			<div class="hero-slider__wrap">
				<div class="hero-slider__icon">
					<img src="./img/icon/person.svg" alt="person">
				</div>
				<p>Sleeps: 8</p>
			</div>
		</div>
	</div>
	<!-- main carousel -->
	<div class="hero-slider__main-carousel">
		<div class="hero-slider__item hero-slider__item_first justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_second justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_third justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_fourth justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_fifth justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_sixth justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_seventh justify-content-between align-items-end"></div>
		<div class="hero-slider__item hero-slider__item_eighth justify-content-between align-items-end"></div>
	</div>
	<!-- button slider -->
	<div class="d-flex justify-content-between hero-slider__callback">
		<a href="#" class="button button_yellow button_font-black px-4 py-md-4 py-sm-3 m-auto">REQUEST A CALLBACK</a>
	</div>
	<!-- nav carousel -->
	<div class="hero-slider__nav-carousel">
		<div class="hero-slider__nav-item">
			<img src="./img/willerby-beaumaris.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/willerby-beaumaris.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/willerby-beaumaris.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/willerby-beaumaris.jpg" alt="">
		</div>
		<div class="hero-slider__nav-item">
			<img src="./img/slide-1.jpg" alt="">
		</div>
	</div>
</section>