<section class="information-text row m-0">
	<div class="col-12 col-md-6 information-text__text d-flex align-items-center">
		<div class="mw-500">
			<div class="pb-4 section-title_white text-left">
				@@include('section-title.html',{
					'subtitle':'Why look at a caravan for sale',
					'title':'IN NORTH WALES',
				})
			</div>			
			<p class="pb-3">
				North Wales really is a beautiful area of the world, especially when the sun is shining. With its wealth of beaches and things to do, it’s the perfect holiday destination! Being near the sea air alone is enough to make you feel content; that’s without mentioning the incredible hills and mountains that are to die for. Also, You, your family and friends will never run out of things to do in North Wales! There’s enough at Marine Holiday Park for starters, you’ll find that after one visit to North Wales you will want to keep returning for years to come! In that case, it makes sense to buy yourself a holiday home on, what we would call, the best holiday park in the area!
			</p>
			<p>
				Please feel free to contact us on 01745 333 989
			</p>
		</div>			
	</div>
	<div class="col-12 col-md-6 information-text__img"></div>
</section>