<section class="info-caravan border-bottom">
	<div class="row mw-1200 align-items-center">
		<div class="col-12 col-lg-6 pb-5 pb-lg-0">
			@@include('accordion.html') 
		</div>
		<div class="col-12 col-lg-6">
			@@include('facilities-list.html')
		</div>
	</div>
	<div class="col-12 col-md-6 d-flex pt-3 m-auto">
		<a href="#" class="button button_yellow button_font-black  m-auto py-md-4 py-sm-3 py-2">Book now</a>
	</div>
</section>