<section class="info-caravan">
	<div class="row mw-1200 align-items-end">
		<div class="col-12 col-lg-7 p-0 text-left pr-0 pr-lg-5">
			<div class="section-title section-title_fs-50 pb-3">
				<h2>Enjoy a holiday with an Indoor swimming pool</h2>
			</div>
			<p class="caravan__text">
				The whole family will enjoy our swimming pool, open from April until November, between 10am and 5pm, enjoy these tropically heated facilities with newly refurbished changing rooms. Monitored by highly trained lifeguards, with seating areas, bars, an arcade and a café surrounding the pool, it’s the perfect place to let the kids unwind and use up some of that excess energy.
			</p>
			<p class="caravan__text">
				Our fabulous ‘water-walkers’ give you the experience of walking on water! Propel yourself across the surface of the pool running inside the giant ball like a hamster. Come to reception to book you ‘water-walkers’ experience.
			</p>
			<p>
				You can also enjoy the added attraction of our Aqua Jets, a neat little powered submersible which propel you along, as you turn, twist and dive through the water! Sessions are between 5pm and 6pm please come to reception to book.
			</p>
		</div>
		<div class="col-12 col-lg-5 p-0 pt-4">
			<div class="info-caravan__factsheet p-3 p-md-5">
				<div class="row d-flex justify-content-between pb-3">
					<div class="col-6 info-caravan__factsheet-title">KEY FEATURES</div>
				</div>
				<div class="info-caravan__list info-caravan__list_star info-caravan__list_semiBold">
					<ul>
						<li>Aenean commodo ligula eget dolor</li>
						<li>Maecenas nec odio et ante</li>
						<li>Nunc egestas augue at pellentesque</li>
						<li>Curabitur a felis in nunc</li>
						<li>Proin pretium leo ac pellentesque</li>
						<li>Etiam feugiat lorem non metus</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>