<section class="info-caravan">
	<div class="row mw-1200 align-items-end">
		<div class="col-12 col-md-6">
			<h3 class="caravan__title">Willerby Beaumaris</h3>
			<p class="caravan__price pb-3">£12,995</p>
			<p class="caravan__text">
				The Willerby Beaumaris is a beautifully presented model that has been designed to be functional making the most of every space. Also, the caravan living areas are open plan and extremely comfortable for feeling of being at home whilst you’re away.
			</p>
			<p>
				This model comprises of an open living area with dedicated dining area. A kitchen with under-counter fridge and integrated cooker. Two bedrooms, and WC and shower including en-suite access from the main bedroom.
			</p>
		</div>
		<div class="col-12 col-md-6 pt-4">
			<div class="info-caravan__factsheet">
				<div class="row d-flex justify-content-between pb-3">
					<div class="col-6 info-caravan__factsheet-title">Caravan Factsheet</div>
					<div class="col-6 text-right">In Stock: 1</div>
				</div>
				<div class="info-caravan__list">
					<ul>
						<li>Bedrooms: <span>2</span></li>
						<li>Sleeps: <span>6</span></li>
						<li>Size: <span>35x12</span></li>
						<li>Year Built: <span>2001</span></li>
					</ul>
					<ul>
						<li>Location: <span>180</span></li>
						<li>Stock Number: <span>980</span></li>
						<li>Site Fees: <span>Site Fees Included Till November 2020</span></li>
						<li>Pre-Owned/New: <span>Pre-Owned</span></li>
					</ul>
				</div>				
			</div>
		</div>
	</div>
</section>