<section class="info-caravan border-bottom">
	<div class="row mw-1200 align-items-center">
		<div class="col-12 col-lg-6">
			<h3 class="caravan__title pb-3">Swan Lake View</h3>
			<p class="caravan__text">
				Brand New for the 2021 season The Swan Lake View is a luxury 3 bedroom ( sleeps 8 ) lodge that boasts a centre lounge entrance.
			</p>
			<p class="caravan__text">
				This Huge holiday home is 42x20ft ! giving your family plenty of room to relax and unwind , or run wild !
			</p>
			<p class="caravan__text">
				The Lodge welcomes you with an open plan , living , kitchen and dining area , all beautifully decorated with modern designs. The Living room has large comfortable sofa’s for you to sit back and relax whilst watching the 50″ smart TV cinema system!
			</p>
			<p class="caravan__text">
				The kitchen is equipped with everything that you would need including integrated fridge freezer , dishwasher & microwave.
			</p>
			<p class="caravan__text">
				To the left of the lodge are the two single bedrooms with large single beds with luxury SoCozeee mattresses , plenty of storage space and smart TVs fitted to the wall in each room. There is also a large family bathroom with shower. To the right of the Lodge is the Master suite , the extra-large bed also boasts a luxury SoCozeee mattress to ensure that you have a wonderful nights sleep , There is also a large flat screen Smart TV fitted to the wall. The Master suite also has its own private full size bathroom with Bath ! the lodge also has a private hot tub , wrap around decking and allocated parking.
			</p>
			<p class="caravan__text">
				The Lodge also has the bonus of your own WIFI , bad signal will be a thing of the past with our unlimited data! ( that will keep the kids busy ) , we are very excited to welcome guests to the truly spectacular holiday home!
			</p>
		</div>
		<div class="col-12 col-lg-6">
			@@include('facilities-list.html')
		</div>
	</div>
	<div class="col-12 col-md-6 d-flex pt-3 m-auto">
		<a href="#" class="button button_yellow button_font-black  m-auto py-md-4 py-sm-3 py-2">Book now</a>
	</div>
</section>