<section class="instagram mw-850">
		<div class="pb-3">
			@@include('section-title.html',{
				'subtitle':'WE’RE ON INSTAGRAM',
				'title':'FOLLOW US',
			})
		</div>
		<div class="row pb-3 mx-0">
			<div class="col-3 instagram__img">
				<img src="img/tropical-pool.jpg" alt="img">
			</div>
			<div class="col-3 instagram__img">
				<img src="img/kids.png" alt="img">
			</div>
			<div class="col-3 instagram__img">
				<img src="img/instagram-1.png" alt="img">
			</div>
			<div class="col-3 instagram__img">
				<img src="img/instagram-2.png" alt="img">
			</div>
		</div>
		<div class="row mx-0 d-none d-lg-flex">
			<div class="col-3 instagram__img">
				<img src="img/instagram-3.jpg" alt="img">
			</div>
			<div class="col-3 instagram__img">
				<img src="img/instagram-4.jpg" alt="img">
			</div>
			<div class="col-3 instagram__img">
				<img src="img/MARN-LP.jpg" alt="img">
			</div>
			<div class="col-3 instagram__img">
				<img src="img/img-1-80.jpg" alt="img">
			</div>
		</div>
	</section>