<section class="location">
	<div class="row mx-0">
		<div class="col-12 col-md-6">
			<div class="d-md-none pb-3">
				<div class="section-title">
					<h2>
						<span>@@subtitle</span>
						@@title
					</h2>
				</div>
			</div>
			<div class="location__img">
				<img class="rounded" src="./img/@@img" alt="location">
			</div>
		</div>
		<div class="col-12 col-md-6 location__bl-right">
			<div class="text-left d-none d-md-block pb-3">
				<div class="section-title">
					<h2>
						<span>@@subtitle</span>
						@@title
					</h2>
				</div>
			</div>
			<div class="location__block">
				<p>@@text</p>
				<div class="d-flex pt-3 pt-md-4">
					<a href="@@link" class="button button_dark m-auto ml-md-0 z-index-1">@@button</a>
				</div>				
			</div>
		</div>
	</div>		
</section>