<section class="row pb-5 main-news">
		<div class="col-12 col-lg-6 confidence">
			<div class="pb-sm-5 pb-3">
				<img class="m-auto" src="img/confidence.png" alt="confidence">
			</div>
			<div class="pb-3">
				@@include('section-title.html',{
					'subtitle':'Book with confidence',
					'title':'stay with confidence',
				})
			</div>
			<p class="text-center">
				Are you looking for the perfect North Wales Holiday Park for your next family break? At our Award Winning Static Caravan Holiday Park you’ll never be short of things to do; splash about in our tropically heated pool, brush up on your skills on our all-weather sports pitch or hang out in either of our on-site bars!
			</p>
			<div class="d-flex pt-3 pt-md-5">
				<a href="book-now.html" class="button button_yellow button_font-black py-4 px-5 m-auto text-center">BOOK NOW</a>
			</div>
		</div>
		<!-- carousel -->
		<div class="col-12 col-lg-6 pt-3 px-5 about">
			<div id="slider-news" class="about__carousel">
			      
			      <div class="about__item">
			      		<div class="about__img">
			      			<img src="img/img-8-80.jpg" alt="carousel-img">
			      		</div>
			      		<h6 class="about__title_little">
			      			<strong>Staying Safe this Summer</strong>
			      		</h6>			      		
			            <p class="about__text">
			            	We ask that all of our Owners and Guests read our Visitor Pledge below. We’ve developed this in order to ensure the safety of you our customers, our team and our local community during the current COVID-19 crisis.
			            </p>	
			            <p>
			            	We ask that you take the time to read this pledge and adhere to these...
			            </p>		            
			      </div>
			      <div class="about__item">
			      		<div class="about__img">
			      			<img src="img/img-8-80.jpg" alt="carousel-img">
			      		</div>
			      		<h6 class="about__title_little">
			      			<strong>Staying Safe this Summer</strong>
			      		</h6>			      		
			            <p class="about__text">
			            	We ask that all of our Owners and Guests read our Visitor Pledge below. We’ve developed this in order to ensure the safety of you our customers, our team and our local community during the current COVID-19 crisis.
			            </p>	
			            <p>
			            	We ask that you take the time to read this pledge and adhere to these...
			            </p>		            
			      </div>
			      <div class="about__item">
			      		<div class="about__img">
			      			<img src="img/img-8-80.jpg" alt="carousel-img">
			      		</div>
			      		<h6 class="about__title_little">
			      			<strong>Staying Safe this Summer</strong>
			      		</h6>			      		
			            <p class="about__text">
			            	We ask that all of our Owners and Guests read our Visitor Pledge below. We’ve developed this in order to ensure the safety of you our customers, our team and our local community during the current COVID-19 crisis.
			            </p>	
			            <p>
			            	We ask that you take the time to read this pledge and adhere to these...
			            </p>		            
			      </div>
			</div>
			<div class="d-flex pt-2">
				<a href="#" class="button button_bark py-4 px-5 m-auto text-center">READ ALL NEWS</a>
			</div>
		</div>
	</section>