<div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
		  	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true"></span>
		    </button>
		    <h5 class="modal-title" id="exampleModalLabel">Close</h5>				        
		  </div>
		  <div class="modal-body">  	
		    <form id="book-today" action="" method="">
	        	<h5 class="modal__title" id="exampleModalLabel">Book</h5>
	         	<div class="form-group">
					<select class="dropdown-list" name="ACCOMMODATION TYPE">
						<option label="ACCOMMODATION TYPE" value="ACCOMMODATION TYPE" selected disabled>ACCOMMODATION TYPE</option>
						<option value="ACCOMMODATION TYPE 1">ACCOMMODATION TYPE 1</option>
						<option value="ACCOMMODATION TYPE 2">ACCOMMODATION TYPE 2</option>
						<option value="ACCOMMODATION TYPE 3">ACCOMMODATION TYPE 3</option>
					</select>
		        </div>
		        <div class="form-group">
					<select class="dropdown-list" name="DURATION">
						<option label="DURATION" value="1" selected disabled>DURATION</option>
						<option value="DURATION 1">DURATION 1</option>
						<option value="DURATION 2">DURATION 2</option>
						<option value="DURATION 3">DURATION 3</option>
					</select>
		        </div>
		        <div class="form-group">
		            <input name="ARRIVAL DATE" class="dropdown-list" placeholder="ARRIVAL DATE"></input>
		        </div>
		        <h5 class="modal__title" id="exampleModalLabel">PARTY INFORMATION</h5>
		        <div class="form-group">
					<select class="dropdown-list" name="ADULTS (18+ YRS)">
						<option label="ADULTS (18+ YRS)" value="1" selected disabled>ADULTS (18+ YRS)</option>
						<option value="ADULTS (18+ YRS) 1">ADULTS (18+ YRS) 1</option>
						<option value="ADULTS (18+ YRS) 2">ADULTS (18+ YRS) 2</option>
						<option value="ADULTS (18+ YRS) 3">ADULTS (18+ YRS) 3</option>
					</select>
		        </div>
		        <div class="row">
		        	<div class="form-group col">
						<select class="dropdown-list" name="CHILD (4-17 YRS)">
							<option label="CHILD (4-17 YRS)" value="1" selected disabled>CHILD (4-17 YRS)</option>
							<option value="CHILD (4-17 YRS) 1">CHILD (4-17 YRS) 1</option>
							<option value="CHILD (4-17 YRS) 2">CHILD (4-17 YRS) 2</option>
							<option value="CHILD (4-17 YRS) 3">CHILD (4-17 YRS) 3</option>
						</select>
			        </div>
			        <div class="form-group col">
						<select class="dropdown-list" name="INFANTS (0-3 YRS)">
							<option label="INFANTS (0-3 YRS)" value="1" selected disabled>INFANTS (0-3 YRS)</option>
							<option value="INFANTS (0-3 YRS) 1">INFANTS (0-3 YRS) 1</option>
							<option value="INFANTS (0-3 YRS) 2">INFANTS (0-3 YRS) 2</option>
							<option value="INFANTS (0-3 YRS) 3">INFANTS (0-3 YRS) 3</option>
						</select>
			        </div>
		        </div>
		        <h5 class="modal__title" id="exampleModalLabel">OFFER CODE</h5>
		        <div class="form-group">
		            <input name="SPECIAL OFFER CODE" class="dropdown-list" placeholder="SPECIAL OFFER CODE"></input>
		        </div>
	        </form>
		    <button type="submit" class="button button_yellow w-100 p-3">CHECK AVAILABILITY</button>
		  	</div>				      
		</div>
	</div>
</div>
<div class="icons row pt-4 d-lg-none">
	<div class="col-3">
		<a href="#" target="_blank">
			<img class="w-100" src="./img/icon/twitter.svg" alt="twitter">
		</a>
	</div>
	<div class="col-3">
		<a href="#" target="_blank">
			<img class="w-100" src="./img/icon/video.svg" alt="video">
		</a>
	</div>
	<div class="col-3">
		<a href="#" target="_blank">
			<img class="w-100" src="./img/icon/facebook.svg" alt="facebook">
		</a>
	</div>
	<div class="col-3">
		<a href="#" target="_blank">
			<img class="w-100" src="./img/icon/instagram.svg" alt="instagram">
		</a>
	</div>
</div>	