<div class="pagination d-flex justify-content-center pb-4">
	<button class="pagination__button"> < </button>
	<a class="pagination__number" href="#">1,</a>
	<a class="pagination__number" href="#">2,</a>
	<a class="pagination__number" href="#">3,</a>
	<a class="pagination__number" href="#">4,</a>
	<button class="pagination__number"> ... </button>
	<a class="pagination__number" href="#">7</a>
	<button class="pagination__button"> > </button>
</div>