<section class="questions">
	@@include('section-title.html',{
			'subtitle':'FREQUENTLY',
			'title':'ASKED QUESTION', 
		})
	<div class="questions__collapse defaults" id="question" role="tablist" aria-multiselectable="false">
        @@include('collapse-item.html',{
			'id':'questionOne',
			'id-collapse':'collapseOne',
			'title':'Nullam dictum felis eu pede',
			'text':'ASKED QUESTION',
		})
		@@include('collapse-item.html',{
			'id':'questionTwo',
			'id-collapse':'collapseTwo',
			'title':'Vestibulum facilisis purus nec pulvinar',
			'text':'ASKED QUESTION',
		})
		@@include('collapse-item.html',{
			'id':'questionThree',
			'id-collapse':'collapseThree',
			'title':'Fusce fermentum odio nec arcu',
			'text':'ASKED QUESTION',
		})
		@@include('collapse-item.html',{
			'id':'questionFour',
			'id-collapse':'collapseFour',
			'title':'Etiam ut purus mattis mauris',
			'text':'ASKED QUESTION',
		})
	</div>
</section>