<section class="subscription">
	<div class="pb-3 pt-5">
		@@include('section-title.html',{
			'subtitle':'SIGN UP',
			'title':'FOR EXCLUSIVE OFFERS AND UPDATES',
		})
	</div>
	<form id="email-form" class="subscription__form d-flex row" action="" method="post">
		<div class="form-group m-0 col-12 col-sm-8">
			<input class="dropdown-list" type="email" name="email" id="email" placeholder="EMAIL ADDRESS" tabindex="1"/>
        </div>
        <div class="d-flex ml-auto col-12 col-sm-4 pt-3 pt-sm-0">
			<button type="submit" class="button button_yellow   text-center text-uppercase">SIGN UP</button>
		</div>
	</form>		 
</section>