<section class="testimonials">
	<div class="col-12 owners owners_bg-second about">
		<div class="pb-3 section-title_white">
			@@include('section-title.html',{
				'subtitle':'TESTIMONIALS',
				'title':'FROM OUR OWNERS',
			})
		</div>
		<!-- owners slider -->
		<div id="slider-owners" class="owners__carousel owners__carousel_w-100">    
		      <div class="owners__item">
		      		<div class="owners__quote">
		      			<img src="img/icon/quote.svg" alt="quote">
		      		</div>
		            <div class="owners__img">
		            	<img src="img/img-1-80.jpg" alt="owener">
		            </div>
		            <p class="owners__text">"Hello Solomon Just a little message to say how happy myself and Cindy are at our recent purchase, Marine Park is excellent with its facilities and location.Thanks again to you and Louise!"</p>
		            <p class="owners__name-user"><strong>Alex & Cindy-  SEPT 2019</strong></p>
		      </div>
		      <div class="owners__item">
		      		<div class="owners__quote">
		      			<img src="img/icon/quote.svg" alt="quote">
		      		</div>
		            <div class="owners__img">
		            	<img src="img/img-1-80.jpg" alt="owener">
		            </div>
		            <p class="owners__text">"Hello Solomon Just a little message to say how happy myself and Cindy are at our recent purchase, Marine Park is excellent with its facilities and location.Thanks again to you and Louise!"</p>
		            <p class="owners__name-user"><strong>Alex & Cindy-  SEPT 2019</strong></p>
		      </div>

		      <div class="owners__item">
		      		<div class="owners__quote">
		      			<img src="img/icon/quote.svg" alt="quote">
		      		</div>
		            <div class="owners__img">
		            	<img src="img/img-1-80.jpg" alt="owener">
		            </div>
		            <p class="owners__text">"Hello Solomon Just a little message to say how happy myself and Cindy are at our recent purchase, Marine Park is excellent with its facilities and location.Thanks again to you and Louise!"</p>
		            <p class="owners__name-user"><strong>Alex & Cindy-  SEPT 2019</strong></p>
		      </div>
		</div>
	</div>
</section>