<div class="row mw-1200">
	<div class="pb-3 col-12 col-lg-5 d-flex align-items-center">
		<video width="100%" height="auto" controls="controls" poster="./img/poster.png" src="./video/video.mp4">
		</video>
	</div>
	<div class="col-12 col-lg-7 text-left">
		<div class="pb-3">
			@@include('section-title.html',{
				'subtitle':'',
				'title':'VIew FACILITY OVERVIEW',
			})
		</div>			
		<p class="pb-2 pb-md-3">
			Integer tincidunt. Phasellus ullamcorper ipsum rutrum nunc. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Pellentesque commodo eros a enim. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a orci.
		</p>
		<p class="pb-2 pb-md-3">
			Cras non dolor. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Praesent ac massa at ligula laoreet iaculis. In turpis. Morbi mattis ullamcorper velit.
		</p>
		<ul class="list-style pl-3 pl-md-5">
			<li>Phasellus ullamcorper ipsum rutrum nunc</li>
			<li>Quisque libero metus, </li>
			<li>Pellentesque commodo eros a </li>
			<li>Cras non dolor</li>
			<li>Praesent ac massa at ligula laoreet iaculis</li>
		</ul>
	</div>
</div>