// fonts
h1 {
  font-size: 35px;
  font-family: $title_font;
  @media (min-width: $tablet_md) {
    font-size: 55px;
  }
}
h1,
h3,
p {
  text-align: center;
}

h3 {
  font-size: 18px;

  @media (min-width: $tablet_md) {
    font-size: 22px;
  }
}
h3,
p,
li {
  font-family: $primary_font;
  font-weight: 300;
}

p,
li {
  font-size: 15px;

  @media (min-width: $tablet_md) {
    font-size: 20px;
  }
}
a {
  color: $link;
  text-decoration: underline;
  font-weight: 500;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link;
  }
}


.Rectangle_1_copy_2 {
    background-image: -moz-linear-gradient( 90deg, rgba(50,5,118,0.99608) 0%, rgb(50,5,118) 0%, rgb(20,2,66) 51%, rgb(21,6,40) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgba(50,5,118,0.99608) 0%, rgb(50,5,118) 0%, rgb(20,2,66) 51%, rgb(21,6,40) 100%);
    background-image: -ms-linear-gradient( 90deg, rgba(50,5,118,0.99608) 0%, rgb(50,5,118) 0%, rgb(20,2,66) 51%, rgb(21,6,40) 100%);
    position: absolute;
    left: -7px;
    top: -6px;
    width: 1934px;
    height: 1097px;
    z-index: 2;
  }
  