.app {
  box-sizing: border-box;
  color: $text_color_primary;
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;

  &:before {
    content: '';
    display: block;
  }

  &__blob {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
    &_first {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -10%);
      height: 100%;
    }

    &_second {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 40%;
      transform: translateY(40%);
    }

    &_third {
      position: absolute;
      top: 0;
      right: 0;
      height: 50%;
      transform: translate(35%, -35%);
    }

    &_fourth {
      position: absolute;
      height: 100%;
      bottom: 0;
      right: 0;
      transform: translateX(90%);
    }

    &_main-wave,
    &_wave {
      position: absolute;
      bottom: 0;
      left: -15%;
      right: -15%;
    }
    &_wave {
      opacity: 0.5;
      width: 100%;
      left: 35%;
      right: auto;
      bottom: 2%;
    }
  }
  &__container {
    max-width: 768px;
    position: relative;
    z-index: 1;
  }
  &__title {
    line-height: 1.2;

    &_light {
      position: relative;
      background: $text_gradient;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 100%;
      background-position: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 85px;
      bottom: 0;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $text_gradient;
    }
    }
  }

  &__text {
    &_secondary {
      color: $text_color;
    }

    &_smaller {
      font-size: 17px;
      color: $text_color_secondary;
    }
  }

  &__form {
    width: 100%;
    max-width: 585px;
    margin: 0 auto;
  }

  &__text-field,
  &__subscribe-form {
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    font-family: $primary_font;
    outline: transparent;
    transition: 0.3s ease-in-out;
  }

  &__text-field {
    width: 100%;
    color: $placeholder_color;
    margin-bottom: 15px;

    @media (min-width: $tablet_min) {
      width: 63%;
      margin-bottom: 0;
    }

    &:focus,
    &:active {
      box-shadow: 0px 0px 15px 5px $shadow;
    }
  }

  ::-webkit-input-placeholder {
    // /* Chrome/Opera/Safari
    color: $placeholder_color;
  }

  ::-moz-placeholder {
    //* Firefox 19+
    color: $placeholder_color;
  }
  :-ms-input-placeholder {
    // /* IE 10+
    color: $placeholder_color;
  }

  :-moz-placeholder {
    // /* Firefox 18-
    color: $placeholder_color;
  }

  &__subscribe-form {
    width: 100%;
    background: $button_gradient;
    box-shadow: 0px 0px 25px 5px $shadow;
    color: $button_text_color;

    @media (min-width: $tablet_min) {
      width: 35%;
    }

    &:focus,
    &:active,
    &:hover {
      box-shadow: 0px 0px 10px 5px $shadow;
      color: $button_text_hover;
    }
  }
  &__list {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    line-height: 2;
    color: $text_color;
  }
  &__footer {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

#particles-js{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}