// fonts
$primary_font: "Poppins", sans-serif;
$title_font: "Libre Franklin", sans-serif;

//  colors

$link: #ffd800;
$text_color_primary: #fff;
$text_color: #c7c4ec;
$text_color_secondary: #8e83ba;
$placeholder_color: #86739b;
$button_text_color: #530986;
$button_text_hover: #000;
$button_gradient: linear-gradient(0deg, rgba(255, 222, 0, 0.99608) 20%, #ffde00 0%, #ffa200 92%);
$button_gradient_hover: linear-gradient(180deg, rgba(255, 222, 0, 0.99608) 20%, #ffde00 0%, #ffa200 92%);
$shadow: #4d0344;
$text_gradient: linear-gradient(90deg,#7928CA,#FF0080);

// mediaquery

$tablet_min: 576px;
$tablet_md: 768px;