//fonts variables
$font-main: 'Brandon Grotesque', sans-serif;

$font-size: 18px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
$clr-bg1: rgba(13, 25, 98, 0.08);
$clr-bg2: #FAFAFA;
$clr-accent: #FED942;
$clr-text-gray: #9E9E9E;
$clr-black: #000000;
$clr-light: #ffffff;