.custom-block__link{
    border:solid red 1px;
 display: block;
 height: 200px;
width: 100%;
    font-size: 12px;
}
 

.column--sm-4 {
    display: inline-block;
    width: 25%;
    margin: 20px;
}

.en-US-lang:not(:lang(en-US)){
 display: none;
}
.no-lang:not(:lang(no)){
 display: none;
}
.da-DK-lang:not(:lang(da-DK)){
 display: none;
}

.en-US-lang:lang(en-US){
    
}