.payment {

  &__input {
    @include mobile-lg {
      margin-bottom: $gap*3;
    }
  }

  &__card-date {
    .payment__input--mb-less {
      @include mobile-lg {
        margin-bottom: $gap*2;
      }
      @include desktop-sm {
        margin-bottom: $gap*3;
      }
    }
  }

  &__input-codes {
    @include desktop-sm {
      display: flex;
    }

    input {
      margin-bottom: 10px;

      @include desktop-sm {
        margin-bottom: 0;
        width: 40%;
        margin-right: $gap;
      }
    }
  }

  .amount {
    &-title {
      margin-bottom: $gap;
      color: $clr-accent;
      font-weight: 700;
      font-size: 1.625rem;
    }

    &-table {
      font-weight: 700;
      color: $clr-main;

      td {
        padding: 5px 0;

        &:last-of-type {
          padding-left: $gap;
          text-align: right;
        }
      }

      &__total {
        padding-top: 10px;
        border-top: 1px dashed $clr-accent;
        font-size: 1.25rem;
      }
    }
  }

  &__checkboxes {
    margin-bottom: $gap*3;
  }
}