@import "src/css/media";
@import "src/css/variable-style";

.gallery {
  max-width: $max-width;
  margin: 0 auto;
  padding: 100px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 35px;
    text-align: center;
  }

  &__text {
    align-items: normal;
    font-size: 20px;
    line-height: 2em;
    padding: 50px 0;
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    font-weight: 700;
    font-size: 18px;
    margin: 15px 10px;
    border: 2px solid #051922;
    color: #323232;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 25px;
    transition: 0.3s;

    &:hover {
      border: 2px solid #f28123;
      color: #f28123;
    }

    &.active {
      color: #f28123;
      border: 2px solid #f28123;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    transition: 0.3s;
  }

  &__col {
    width: 30%;
    margin: 15px 15px;
    padding: 40px 20px;
    -webkit-box-shadow: -2px 1px 17px -2px #000000;
    box-shadow: -2px 1px 17px -2px #000000;
    border-radius: 5px;
    transition: 0.3s;
  }


  &__col:hover {
    box-shadow: none;
  }

  &__img {
    width: 100%;
    max-height: 70%;
    padding-bottom: 30px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
  }

  &__box-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__box-text {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__box-text span {
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__btn {
    display: flex;
    list-style-type: none;
    padding: 60px 0;

    .page-link {
      color: black;
      border: none;
    }

    .disable {
      padding: 5px;
    }

    ul {
      display: flex;
    }

    .active, .prev, .next {
      background-color: rgba(0, 0, 0, .1);
      padding: 5px 20px;
    }

    li {
      padding: 0 5px;

      a {
        background-color: $color-bg-main;
      }
    }
  }
}