.nav-step {
  position: relative;
  margin-bottom: 60px;

  @include desktop-sm {
    margin-bottom: 80px;
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding-top: 15px;
    padding-bottom: 15px;
    width: calc(16.66% - 2px);
    text-align: center;
    background-color: $clr-main-highlight;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile-lg {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &.active {
      margin-top: -5px;
      margin-bottom: -5px;
      color: $clr-light;
      background-color: $clr-accent;
      svg {fill: $clr-light}
    }

    &.visited {
      color: $clr-light;
      background-color: $clr-main;
      svg {fill: $clr-light}
    }

    svg {
      width: 25px;
      height: 25px;

      @include mobile-lg {
        width: 35px;
        height: 35px;
      }
      @include desktop-sm {
        width: 25px;
        height: 25px;
      }
    }

    span {
      display: none;

      @include desktop-sm {
        margin-left: 10px;
        display: block;
      }
      @include wide-screen-sm {
        font-size: 1.125rem;
      }
    }

    @include desktop-sm {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  &__left-placeh, &__right-placeh {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background-color: $clr-main-highlight;
    z-index: -1;
  }

  &__left-placeh {
    left: 0;

    &--active {
      height: calc(100% + 10px);
      background-color: $clr-accent;
    }

    &--visited {
      background-color: $clr-main;
    }
  }
  &__right-placeh {
    right: 0;

    &--active {
      height: calc(100% + 10px);
      background-color: $clr-accent;
    }

    &--visited {
      background-color: $clr-main;
    }
  }
}