section.header
            ul.header__list
                li.header__item
                    a(href='#about').header__link Over ons
                li.header__item
                    a(href='#benefits').header__link Voordelen
                li.header__item
                    a(href='#contacts').header__link Contact