@font-face {
  font-family: 'check';
  src: url('../font/fontello.eot?61042486');
  src: url('../font/fontello.eot?61042486#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?61042486') format('woff2'),
       url('../font/fontello.woff?61042486') format('woff'),
       url('../font/fontello.ttf?61042486') format('truetype'),
       url('../font/fontello.svg?61042486#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'close';
  src: url('../font/close.eot?50657171');
  src: url('../font/close.eot?50657171#iefix') format('embedded-opentype'),
       url('../font/close.woff2?50657171') format('woff2'),
       url('../font/close.woff?50657171') format('woff'),
       url('../font/close.ttf?50657171') format('truetype'),
       url('../font/close.svg?50657171#close') format('svg');
  font-weight: normal;
  font-style: normal;
}

// vars
$black: #000;
$white: #fff;
$blue: #4f46e5;
$blue_dark:#3026d6;
$blue_light: #5850ec;
$blue_lighter: #e5edff;
$footer_bg: #1F2937;
$grey: #6B7280;
$grey_light:#E5E5E5;
$grey_light_two:#F9FAFB;
$grey_light_three:#c2c2c2;
$grey_dark:  #636363;
$green: #6EE7B7;
$green_hover: #5abd95;

$icon_check: rgb(77, 173, 77);
$icon_close:rgb(243, 65, 65);


.close {
  font-family: 'close';
}

.check {
  font-family: 'check';
}

body {
  background: $white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  transition: .3s ease-in-out;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}


.button {
  &.is-link,
  &.is-dark {
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    }
  }
  &.is-link {
    background: $blue;
    &:hover {
      background: $blue_dark;
    }
  }
}

.has-text-link {
  color: $blue!important;
}