.footer {
  padding: 30px 15px;
  background: $footer_bg;
  .title {
    color:$grey_light;
  }
  .copyright {
    color: $grey;
  }
  li:first-child {
    color: $grey;
  }
  a {
    padding-left: 15px;
    color: $white;
    &:hover {
      color: $grey;
    }
  }
  &__links {
    order: 1;
    
  }
}