.forms {
  background:$grey_light_two;
  background: linear-gradient(to bottom,$grey_light_two 45%,$white$white 45%, $white 100%);
  .forms__tabs {
    margin-bottom: 0;
    @media (min-width: 768px) {
      width: 70%;
      margin: 0 auto;
      max-width: 672px;
    }

    li {
      padding: 0 5px;
      a {
        background: $green;
        color: $white;
        font-weight: 500;
        font-size: 13px;
        @media (min-width: 576px) {
          font-size: 16px;
        }
        &:hover {
          color: $white;;
          background: $green_hover;
      }
      }
      &.is-active {
        a {
          background: $white;
          color: $black;
        }
      }
    }
  }
  
  form {
    input {
      width: 100%;
      font-size: 16px;
      height: 100%;
      padding: 0 15px;
      min-height: 45px;
      &:focus {
        outline: transparent;
      }
    }
    label {
      cursor: pointer;
    }
    .button {
      width: 100%;
    }
  }
  .tabs {
    &__content {
      background: $white;
      box-shadow: 0 10px 15px -3px fade-out($black, .9), 0 4px 6px -2px fade-out($black, .95);
      margin-top: 0;
      @media (min-width: 768px) {
        width: 70%;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 672px;
      }
      @media (min-width: 1024px) {
          padding: 0 30px;
      }
    }
    &__item {
        opacity: 0;
        display: none;
        transition: opacity .5s ease-in-out;
      &.is-active {
        display: block;
      }
      &.animate {
        opacity: 1;
      }
      @media (min-width: 768px) {
        width: 90%;
      }
    }
  }

  &__links {
    a {
      display: inline-block;
      color: rgb(87, 87, 87);
      padding: 10px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .tablet {
    &-4,
    &-5 {
      width: 100%;
    }
    @media (min-width: 768px) {
      &-4 {
        width: 40%;
      }
      &-6 {
        width: 60%;
      }
    }
    @media (min-width: 1024px) {
      &-4 {
        width: 30%;
      }
      &-6 {
        width: 70%;
      }
    }
  }

  .has-text-right {
    @media (min-width: 768px) {
      text-align: right!important;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .tabs__item {
      &.is-active {
        opacity: 1;
      }
    }
}