.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.navbar {
  background: transparent;
  @media (min-width: 768px) {
    display: flex;
    align-items: stretch;
    min-height: 3.25rem;
  }
  &-menu {
    @media (max-width: 767px) {
      display: block;
      max-height: 0;
      transition: .3s ease-in-out;
      overflow: hidden;
      visibility: hidden;
      padding-bottom: 20px;

      
      &.is-active {
        max-height: 100vh;
        visibility: visible;
      }
    }
    @media (min-width: 768px) {
      flex-grow: 1;
      flex-shrink: 0;
      align-items: stretch;
      display: flex;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }
  }
  &-item {
    color: $black;
      &.button {
      width: 100%;
      text-align: left;
    }
   
  }
  .button {
    width: 100%;
    text-align: left;
    justify-content: left;
  }
  &-end {
    align-items: center;
    padding: 0 15px;
    @media (min-width: 768px) {
      justify-content: flex-end;
      margin-left: auto;
      display: flex;
    }
  }
  &-burger {
    span {
      height: 2px;
      width: 20px;
      border-radius: 3px;
      background: rgb(78, 78, 78);
      transform: translateY(-50%);
      &:nth-child(1) {
        top: calc(50% - 6px);
      }
      &:nth-child(2) {
        top: calc(50%);
        
      }
      &:nth-child(3) {
        top: calc(50% + 6px);
      }
    }
    &.is-active {
      span {
        &:nth-child(1) {
          top: calc(50% - 4px);
        }
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .grey-button {
    @media (max-width: 767px) {
      background: $grey_light_three;
      margin: 10px 0;
      border-radius: 4px;

    }
  }
}

a.navbar-item {
  &:hover {
    color: $black;
    background:$grey_light;
    @media (min-width: 1024px) {
      background: transparent;
      color: rgb(66, 66, 66);
    }
  }
}

