.hero-section {
  background: $grey_light_two;
  .button {
    padding: 15px 30px;
    height: auto;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 10px;
    }
    @media (min-width: 768px) {
      margin: 0 10px;
    }
  }
}