.integrations {
  &__item {
    max-height: 200px;
    img {
      box-shadow: 0px 0 20px 5px fade-out($black, .5);
    }
  }
  .is-two-fifths-tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
      width: 40%;
    }
  }
}