.price {
&__item {
  border-radius: 20px;
  overflow: hidden;
  box-shadow:0 0 10px 0px $grey_dark;
  width: 80%;
  max-width: 375px;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    width: 30%;
  }
  @media (min-width: 1200px) {
    width: 28%;
    max-width: 28%;
    margin: 0;
  }
}

  &__head {
    padding: 20px;
    @media (min-width: 768px) {
      padding: 15px;
    }
    @media (min-width: 1024px) {
      padding: 20px;
    }
    .amount {
      font-weight: 800;
      span {
        font-size: .5em;
      }
    }
  }

  &__range {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 600;
    background: $blue_lighter;
    color: $blue_light;
    margin-bottom: 10px;
  }
  &__body {
    background: $grey_light_two;
    padding: 20px;
    @media (min-width: 768px) {
      padding: 15px;
    }
    @media (min-width: 1024px) {
      padding: 20px;
    }
    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 5px;
    }
    span {
      position: absolute;
      left: 0;
    }
    .close {
      color: $icon_close;
    }
    .check {
      color: $icon_check;
    }
    .button {
      width: 100%;
    }
  }
}