<!-- OPTIONAL TITLE -->
<div class="container">
  <div class="body-title">
    <h1 class="body-title__head">Optional <span>Extras</span></h1>
  </div>
</div>

<!-- OPTIONAL CONTAINER -->
<div class="container extras">
  <form action="details.html" method="#" class="row">
    <div class="col-12 col-lg-7">
      <div class="extras__caption">
        <p>We offer a few extras to make your holiday all the more special. Please select the followings items any
          additions you would like upon your arrival.</p>
      </div>

      <div class="extras__container">
        @@include('./_item.html',{
        path:'tovel.svg',
        title:'Tovel hire',
        caption:'Hire towels for the duration of your stay. Two bath towels & two hand towels are provided per pack.',
        price:'£8.00',
        id:'tovelsNumbers',
        name:'tovels'
        })
        @@include('./_item.html',{
        path:'baby-chair.png',
        title:'High chair',
        caption:'We can provide a high chair for you.',
        price:'£10.00',
        id:'highChairNumber',
        name:'high chair'
        })
        @@include('./_item.html',{
        path:'extra-car.svg',
        title:'Extra car',
        caption:'Bring an additional car with you for extra convenience.',
        price:'£20.00',
        id:'extraCarNumber',
        name:'extra car'
        })
      </div>
    </div>

    <!-- HOLIDAY SUMMARY -->
    <div class="col-12 col-lg-5 col-xxl-4-summary">
      @@include('../../components/_summary.html')
    </div>

    <!-- NEXT/PREV BTNS -->
    <div class="col-12 col-lg-7">
      <div class="d-flex justify-content-between back-next-btn">
        <a href="availability.html" class="main-cta main-cta--back">
          Back</a>
        <button type="submit" class="main-cta">
          Next step</button>
      </div>
    </div>
  </form>
</div>