<!-- OPTIONAL ITEM -->
<div class="extras__item">
  <div class="extras-item__img">
    <img src="images/icons/@@path" alt="@@title">
  </div>

  <div class="extras-item__body">
    <!-- OPTIONAL ITEM INFO -->
    <div class="extras-item__info">
      <h3 class="extras-item__title">@@title</h3>
      <span>
        @@caption
      </span>
    </div>

      <!-- OPTIONAL ITEM SELECT -->
    <div class="extras-item__order">
      <div class="extras-item__price">
        @@price
      </div>

      <div class="extras-item__count">
        <select class="custom-select custom-select-lg custom-select-m" id="@@id" name="@@name">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>
  </div>
</div>