doctype html
html(lang='nl')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title B.F.E. BV
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@600&display=swap' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@700&family=Roboto+Slab&display=swap' rel='stylesheet')
        link(rel='stylesheet', href='css/main.css')
    body
        include header/header
        main.wrapper
            include banner/banner
            include info-block/info-block
            include about/about
            include customer-portal/customer-portal
            include contacts/contacts
            include map/map





