@@include('./html-templates/_head.html')

<body>
  
  @@include('./html-templates/_header.html')
  @@include('./html-templates/_nav-step.html',{
    set1:'visited',
    set2:'visited',
    set3:'visited',
    set4:'visited',
    set5:'visited',
    set6:'active',
    placeActive1:'nav-step__left-placeh--visited',
    placeActive2:'nav-step__right-placeh--active'
  })

  <main>
    @@include('./html-templates/page-body/confirmation/_index-confirmation.html')
  </main>

  @@include('./html-templates/svg.html')
  <script src="js/main.js"></script>
</body>

</html>