@@include('./html-templates/_head.html')

<body>
  
  @@include('./html-templates/_header.html')
  @@include('./html-templates/_nav-step.html',{
    set1:'visited',
    set2:'visited',
    set3:'visited',
    set4:'active',
    set5:'',
    set6:'',
    placeActive1:'nav-step__left-placeh--visited',
    placeActive2:''
  })

  <main>
    @@include('./html-templates/page-body/details/_index-details.html')
  </main>

  @@include('./html-templates/svg.html')
  <script src="js/main.js"></script>
</body>

</html>