@@include('./html-templates/_head.html')

<body>
  
  @@include('./html-templates/_header.html')
  @@include('./html-templates/_nav-step.html', {
    set1:'active',
    set2:'',
    set3:'',
    set4:'',
    set5:'',
    set6:'',
    placeActive1:'nav-step__left-placeh--active',
    placeActive2:''
  })

  <main>
    @@include('./html-templates/page-body/search/_index-search.html')
  </main>

  @@include('./html-templates/svg.html')
  <script src="js/main.js"></script>
</body>

</html>