@@include('./html-templates/_head.html', {})
@@include('./html-templates/_header.html', {})

<section class="contact-us">
  <div class="contact-us__header">
    <div class="contact-us__container">
      <h2 class="contact-us__title">
        How can we help?
      </h2>
      <h3 class="contact-us__sub-title">
        Here are some frequently asked questions based on category
      </h3>    
      <ul class="nav nav-tabs nav-tabs__tablet"> 
        <li><a class="active show" href="#tab-talent">Talent</a>
        </li>
        <li><a href="#tab-clients">Clients</a>
        </li>
        <li><a href="#tab-general-advice">General Advice</a>
        </li>
        <li><a href="#tab-community-guidelines">Community Guidelines</a>
        </li>
        <li><a href="#tab-insurance">Insurance</a>
        </li>
      </ul>
    </div></div>
    <ul class="nav nav-tabs nav-tabs__mobile">        
      <li class="dropdown"> 
        <a data-toggle="dropdown" id="dropDownTabsLink"><span id="dropdownTabName" class="nav-tabs__dropdown">Talent</span> 
          <i class="icon-chevron-down"></i>
        </a>
          <ul class="dropdown-menu">
              <li><a class="active show" href="#tab-talent">Talent</a>
              </li>
              <li><a href="#tab-clients">Clients</a>
              </li>
              <li><a href="#tab-general-advice">General Advice</a>
              </li>
              <li><a href="#tab-community-guidelines">Community Guidelines</a>
              </li>
              <li><a href="#tab-insurance">Insurance</a>
              </li>
          </ul>
      </li>
    </ul>
  
</section>
<section class="tab-content contact-us__container">
    <div class="tab-pane fade in active show pb-4" id="tab-talent">
      <div id="accordion">
        @@include('./html-templates/_accordion.html',{
          id:'headingOne',
          dataTarget:'collapseOne',
          question:'How can I check the look of my profile?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingTwo',
          dataTarget:'collapseTwo',
          question:'How do I add photos, videos and audio to my profile?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingThree',
          dataTarget:'collapseThree',
          question:'Can I cancel any of my job applications?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingFour',
          dataTarget:'collapseFour',
          question:"Why haven't I been paid yet?",
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingFive',
          dataTarget:'collapseFive',
          question:'How do I know how much I will be paid?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingSix',
          dataTarget:'collapseSix',
          question:'How do I reduce image file size before upload?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingSeven',
          dataTarget:'collapseSeven',
          question:"What does 'Pending payments on Stripe' mean?",
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingEight',
          dataTarget:'collapseEight',
          question:'What clients can see when you link your social media to your profile?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingNine',
          dataTarget:'collapseNine',
          question:'Why are some of my photos are missing on my profile?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
        @@include('./html-templates/_accordion.html',{
          id:'headingTen',
          dataTarget:'collapseTen',
          question:'What is contra gifting?',
          answer:'Once you have submitted your profile and been approved in the system, there will be a link on the left lower part of your Dashboard list called "VIEW PROFILE". Simply click this to check how your profile shows to potential clients.',
        })
      </div>
      <div class="flex">
        <a href="#" class="contact-us__button ml-auto mt-4">Read more faq <span>&#5171;</span></a>
      </div>      
    </div>
    
    <div class="tab-pane fade in" id="tab-clients">
        Tab 22222Content...
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quisquam consequatur obcaecati. Quo quibusdam maiores repellendus porro, aperiam corrupti nam nobis numquam dolor, alias enim facilis! Id ratione nesciunt voluptate eaque illum voluptatum aliquam temporibus ab, dignissimos eum molestias iste ducimus itaque magni ex aspernatur autem, qui tenetur saepe eligendi!
        </p>
    </div>
    
    <div class="tab-pane fade in" id="tab-general-advice">
        Tab 333333 Content...
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum debitis, quod saepe nostrum aspernatur voluptatem aut ad voluptas. Sequi, illum explicabo laborum obcaecati aut quam ullam repellendus quidem ducimus necessitatibus dolorum nihil accusantium unde cum voluptatem deleniti. Incidunt exercitationem provident dolorem ut ullam, hic ab, ipsam ea unde ad, dolore expedita a dolor esse blanditiis doloremque alias aperiam! Molestiae velit, officia animi explicabo porro est maiores quas ratione ipsa culpa, perspiciatis quidem quos, architecto expedita?
        </p>
    </div>
    
    <div class="tab-pane fade in" id="tab-community-guidelines">
        Tab 44444 Content...
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta a modi, repellendus error necessitatibus exercitationem, delectus esse recusandae incidunt tenetur rem voluptatibus! Officia modi nulla accusantium tempora ea rerum quisquam quam perspiciatis nemo. Quaerat sed, omnis, quisquam ex laborum placeat facilis natus quas deserunt, saepe alias adipisci quam? Cumque, rem. Repudiandae explicabo fugiat, omnis quas harum facilis sit aliquam. Minus quia ipsum voluptates dolorum? Quas?
        </p>
    </div>

    <div class="tab-pane fade in" id="tab-insurance">
      Tab 55555 Content...
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta a modi, repellendus error necessitatibus exercitationem, delectus esse recusandae incidunt tenetur rem voluptatibus! Officia modi nulla accusantium tempora ea rerum quisquam quam perspiciatis nemo. Quaerat sed, omnis, quisquam ex laborum placeat facilis natus quas deserunt, saepe alias adipisci quam? Cumque, rem. Repudiandae explicabo fugiat, omnis quas harum facilis sit aliquam. Minus quia ipsum voluptates dolorum? Quas?
      </p>
  </div>
</section>
@@include('./html-templates/_contact-form.html',{})

@@include('./html-templates/_footer.html',{})
@@include('./html-templates/_script.html',{})