
      &__img {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #583318;

        .avail-img {
          &__btn {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            border: none;
            background-color: $clr-accent;

            @include mobile-lg {
              width: 100px;
              height: 100px;
            }

            @include desktop-sm {
              width: 45px;
              height: 45px;
              transform: translateX(-11px) translateY(11px);
            }

            svg {
              width: 25px;
              height: 25px;
              fill: $clr-light;

              @include mobile-lg {
                width: 50px;
                height: 50px;
              }

              @include desktop-sm {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }