&__info {
  height: 100%;
  display: flex;
  flex-flow: wrap;

  .avail-info {
    &__head {
      width: 100%;
      margin-bottom: $gap;
      color: $clr-accent;

      .info-head {
        &__title {
          font-size: 2.125rem;

          @include mobile-lg {
            font-size: 3rem;
          }

          @include desktop-sm {
            font-size: 2.125rem;
          }
        }

        &__desc {
          display: flex;
          align-items: center;

          @include mobile-lg {
            font-size: 1.875rem;
          }

          @include desktop-sm {
            font-size: 1.25rem;
          }

          svg {
            margin-right: 5px;
            width: 32px;
            height: 22px;
            fill: $clr-accent;

            @include mobile-lg {
              width: 40px;
              height: 30px;
            }

            @include desktop-sm {
              width: 32px;
              height: 22px;
            }
          }
        }
      }
    }

    &__option {
      width: 100%;
      margin-bottom: $gap;
      margin-top: auto;
      list-style: none;

      li {
        display: flex;
        align-items: center;

        @include mobile-lg {
          font-size: 1.25rem;
        }

        @include desktop-sm {
          font-size: 1rem;
        }

        svg {
          margin-right: 10px;
          width: 16px;
          height: 16px;
          fill: $clr-accent;

          @include mobile-lg {
            width: 20px;
            height: 20px;
          }

          @include desktop-sm {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    &__btns {
      width: 100%;
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: $clr-accent;

      .info-btns {
        &__more {
          margin-right: 20px;
          margin-bottom: 5px;
        }

        &__match {
          padding: 3px 6px;
          margin-bottom: 5px;
          border: 1px dashed $clr-accent;
        }
      }
    }
  }
}