.availability {

  &__item {
    margin-bottom: 60px;
    padding: 0 10px;    
    border: 1px dashed $clr-accent;
    box-shadow: 0px 0px 12px 0px #9e9e9e;

    @include desktop-sm {
      margin-bottom: 100px;
    }
  }

  &__body {

    .avail-item {
      padding-top: 10px;
      padding-bottom: 10px;

      @import './avail-img';
      @import './avail-info';
      @import './avail-order';

    }
  }
}