&__order {
  padding: 0;
  background-color: $clr-accent;
  color: $clr-light;
  transform: scale(1.03);

  @include desktop-sm {
    margin-left: -6px;
    margin-top: -10px;
    margin-bottom: -10px;
    transform: scale(1);
  }

  &--sold {
    background-color: $clr-main-highlight;
    color: $clr-main;

    .main-cta--sub {
      color: $clr-main;
    }

    .avail-order {
      &__full {
        color: $clr-main !important;
      }

      &__search {
        color: $clr-main !important;

        svg {
          fill: $clr-main !important;
        }
      }
    }
  }

  .avail-order {
    height: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 700;

    &__item {
      width: 100%;

      @include mobile-lg {
        width: 50%;
      }

      @include desktop-sm {
        width: 100%;
      }
    }

    &__night {
      margin-bottom: 15px;
      font-weight: 400;
    }

    &__full-price {
      display: flex;
      flex-direction: column;

      @media (min-width: $mobile-lg) and (max-width: $desktop-sm) {
        width: 50%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    &__top {
      font-size: 1.25rem;
      color: $clr-accent-highlight;

      @include mobile-lg {
        font-size: 1.875rem;
        line-height: 1;
      }
      @include desktop-sm {
        font-size: 1.675rem;
      }
    }

    &__price {
      font-size: 3rem;

      @include mobile-lg {
        font-size: 5rem;
        line-height: 1;
      }
      @include desktop-sm {
        line-height: 1.2;
      }
    }

    &__book {
      margin-bottom: $gap;

      @include desktop-sm {
        margin-bottom: 26px;
      }

      .main-cta--sub {
        padding: 7.5px 15px;

        @include mobile-lg {
          padding: 15px;
        }
      }
    }

    &__search {
      margin-top: auto;
      text-decoration: underline;
      color: $clr-light;

      svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        fill: $clr-light;
      }
    }
  }
}