.accordion{
	max-width: 650px;
	margin: 0 auto;
	padding: 50px 15px;
	&__collapse{
		max-width: 100%;
		margin: 0 auto;
	}
	&__item {
		width: 100%;
		border-bottom: 1px solid #d7d7d7;
	}
	&__title{
		font-family: $secondFont;
		color: $accentColor;
		font-size: 24px;
		@media screen and(min-width: $tablet-min){
			font-size: 32px;
		}
		@media screen and(min-width: $desktop-min){
			font-size: 40px;
		}
	}
	&__toggle {
		background: #FFF;
		width: 100%;
		outline: transparent;
		padding: 20px 0 15px;
		font-size: 14px;
		letter-spacing: 1px; 
		text-align: left;
		position: relative;
		&:after{
			margin-top: -10px;
			width: auto;
	    	height: auto;
	    	right: 10px;
	    	font-size: 30px;
	    	color: $accentTitleColor;
			position: absolute;
			content: "\2039";
			transform: rotate(90deg);
			transition: transform .3s ease-in-out;
			border: 0;
		}
	}
	&__panel-collapse {
	  padding: 10px 15px;
	}
}
.collapsed{
	&.accordion__toggle:after{
		transform: rotate(-90deg);
	}
}