///////////// adventuro ////////////

.adventuro{
	position: relative;
	padding: 30px 0 50px;
	background: url("../img/adventuro/bg-adventuro-80.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    @media screen and(min-width: $mobile-min){
    	padding: 100px 0;
    }
    @media screen and(min-width: $desktop-min){
    	padding: 100px 0 200px;
    }
    @media screen and(min-width: $wideScreen-xl){
    	padding: 100px 0 300px;
    }
	&:before{
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0,0,0, .3);
        background-repeat: no-repeat;
    }
	&:after{
        position: absolute;
        display: block;
        content: "";
        bottom: -2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url("../img/adventuro/bg-hero-1.png") bottom, url("../img/adventuro/bg-hero-2.png") bottom, url("../img/adventuro/bg-adventus-top.png") bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__title{
    	position: relative;
    	z-index: 2;
    	text-align: center;
    	color: $standartColor;
    	text-transform: uppercase;
    	h2{
    		font-family: $secondFont;
    		font-size: 36px;
    	}
    	span{
    		display: block;
    		font-size: 20px;
    	}
    	@media screen and(min-width: $mobile-min){
	    	h2{
	    		font-size: 54px;
	    	}
	    	span{
	    		font-size: 28px;
	    	}
	    }
    	@media screen and(min-width: $tablet-min){
	    	h2{
	    		font-size: 80px;
	    	}
	    	span{
	    		font-size: 40px;
	    	}
    	}    	
    }
}
