.arrows{
	position: relative;
	font-weight: 600;
	color: $fontColor;
	margin: 10px 30px;
	@media screen and(min-width: $tablet-min){
		margin: 30px;
	}
	&:after{
		position: absolute;
		top: -13px;
		font-size: 30px;
		color: $accentTitleColor;
	}
	&_left:after{
		content: "\2039";
		left: -25px;
	}
	&_right:after{
		content: "\203A";
		right: -25px;
	}
}