.benefits{
	padding-top: 50px;
	border-top: 1px solid #d7d7d7;
	&__wrapper{
		background: $bgSecond;
		padding: 20px 15px;
		max-width: 300px;
		min-height: 250px;
		text-align: center;
	}
	
	&__icon{
		width: 33px;
		margin: 0 auto;
		padding-bottom: 20px;
	}
	&__title{
		font-family: $secondFont;
		color: $accentColor;
		font-size: 18px;
		padding-bottom: 20px;
	}
}