.breadcrumb{
    display: none;
	background: transparent;
	position: absolute;
    top: 120px;
    left: 0px;
    z-index: 2;
    @media screen and(min-width: $tablet-min){
    	top: 140px;
        display: flex;
    }
    @media screen and(min-width: $desktop-min){
    	top: 100px;
    	margin-left: 200px;
    }
	a{
		color: $standartColor;
	}
}
.breadcrumb-item+.breadcrumb-item::before{
	content: ">";
	color: $standartColor;
}
.breadcrumb-item+.breadcrumb-item_font-dark::before{
    content: ">";
    color: $fontColor;
}