.brick-news{
	background: $mainBg;
	&_bg-light{
		background: $bgSecond;
		padding-top: 50px;
	}
	&__item{
		padding-bottom: 15px;
		@media screen and(min-width: $tablet-min){
			padding-bottom: 50px;
		}
	}
	&__img{
		height: 350px;
		margin-bottom: 15px;
		overflow: hidden;	
		@media screen and(min-width: $tablet-min){
			margin-bottom: 30px;
		}	
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		padding-bottom: 5px;
		font-family: $secondFont;
		font-size: 30px;
		color: $accentTitleColor;
		text-transform: uppercase;
	}
	&__subtitle{
		font-size: 16px;
		text-transform: uppercase;
		padding-bottom: 15px;
		@media screen and(min-width: $tablet-min){
			padding-bottom: 30px;
		}
	}
	p{
		font-weight: 400;
		line-height: 1.5;
	}
}
.img_radius{
	.brick-news__img{
		border-radius: 5px;
	}
}
.img-h-250{
	.brick-news__img{
		height: 250px;
	}
}