.brick{
	&__img{
		box-shadow: 1px 1px 10px #b5b2b2;
		border-radius: 5px;
		img{
			border-radius: 5px;
			width: 100%;
		}
	}
	&__title{
		font-family: $secondFont;
		font-size: 20px;
		color: $accentColor;
		padding: 15px 0;
		@media screen and(min-width: $mobile-min){
			font-size: 28px;
		}
		@media screen and(min-width: $tablet-min){
			padding: 25px 0 20px;
		}
    	text-align: center;
    	span{
    		color: $accentTitleColor;
    	}
    	sup{
    		font-size: 18px;
    	}
	}
}

.brick-caravans{
	position: relative;
	background: $bgSecond;
	padding-top: 70px;
	padding-bottom: 70px;
	&:before{
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url("../img/bg-caravan.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }
	&__text{
		max-width: 600px;
	}
	&__item {
		align-self: stretch;
	}
}