.navbar-toggler-icon{
	display: block;
	height: 3px;
	margin: 4px;
	background: #000;
	&_1{
		width: 40px;
	}
	&_2{
		width: 35px;
	}
}
.navbar-toggler{
	.navbar-toggler-icon{
		display: none;
	}
	.navbar-toggler-close{
		display: block;
	}
}
.collapsed{
	.navbar-toggler-close{
		display: none;
	}
	.navbar-toggler-icon{
		display: block !important;
	}
}
.navbar-toggler-close{

	display: inline;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    height: 3px;
	width: 40px;
	background: #000;
	&_1{
		transform: rotate(-45deg);
	}
	&_2{
		transform-origin: 56% 0%;
		transform: rotate(45deg);
	}
}

















