.button {
	text-transform: uppercase;
	font-weight: 500;
	padding: 15px 40px;
	background: $buttonBg;
	color: $standartColor;
	border-radius: 3px;
	transition: .3s all;
	@media screen and(min-width: $desktop-min){
		padding: 20px 50px;
	}
	&:hover, &:focus {
		background: $hoverBg;
		color: $accentColor;
	}

	&_dark {
		background: $buttonBg;
		color: $standartColor;
	}

	&_white {
		background: $standartColor;
		color: $buttonBg;
	}

	&_yellow {
		background: $buttonSecondColor;
	}
	&_transparent{
		background: transparent;
		border: 1px solid #fff;
		&:hover{
			border: 1px solid $hoverBg;
		}
	}
	&_mini{
		padding: 10px 30px;
		font-size: 12px;
		@media screen and(min-width: $desktop-min){
			padding: 10px 30px;
		}
	}
	&_font-black{
		color: $fontColor;
		&:hover{
			color: $standartColor;
		}
	}
}