.caravan{
	margin: 0 auto;
	margin-bottom: 20px;
	box-shadow: 1px 1px 10px #ccc;
	background: $standartColor;
	max-width: 380px;
	border-radius: 5px;
	height: 100%;
	&__img{
		position: relative;
		height: 250px;
		overflow: hidden;
		img{
			position: relative;
    		bottom: 45%;
		}
	}
	&__sticker{
		position: absolute;
		right: 0px;
		top: 30px;
		z-index: 3;
		color: $fontColor;
		font-family: $secondFont;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 7px 20px;
		border-radius: 1px;
		content: "cfvgbhj";
		background: $standartColor;
		&_star-buy{
			background: $buttonSecondColor;
			color: $accentColor !important;
		}
		&_redused{
			background: $priceColor;
			color: $standartColor !important;
		}
		
	}
	&__info{
		height: calc(100% - 250px);
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
	}
	&__title{
		color: $accentColor;
		font-weight: 900;
		font-size: 18px;
		font-family: $secondFont;
		&_fs-22{
			font-size: 22px;
		}
	}
	span{
		color: #606060;
		font-size: 13px;
	}
	&__price{
		padding: 10px 0;
		color: $priceColor;
		font-weight: 700;
		font-size: 18px;
	}
	&__text{
		padding-bottom: 20px;
	}
	&__characteristic{
		padding: 20px 0 15px;
		margin-top: auto;
	}
	ul{
		font-size: 10px;
		font-weight: 600;
	}
}

.icon{
	padding: 0;
	padding-right: 5px;
	img{
		width: 100%;
	}
}

// .full-caravan{
// 	.caravan{
// 		display: flex;
// 		&__text{

// 			&_more{
// 				display: block !important;
// 			}
// 		}
// 		&__info{
// 			width: 50%;
// 		}
// 		&__img{
// 			width: 50%;
// 		}
// 	}

// }
