.card-luxury{
	box-shadow: 1px 1px 10px #ccc;
	max-width: 1200px;
	margin: 0 auto;
	&__title{
		color: $accentColor;
		font-family: $secondFont;
		font-size: 25px;
		text-transform: capitalize;
		padding-bottom: 20px;
	}
	&__img{
		padding: 0;
		background: $mainBg;
		img{
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}
	}
	&__info{
		border-radius: 0 5px 0 0 ;
		padding: 30px;
		background: $mainBg;
	}
	&__text{
		padding-bottom: 20px;
	}
	&__buttons{
		padding-top: 15px;
		border-top: 1px solid #d7d7d7;
		@media screen and(min-width: $wideScreen-min){
			padding-top: 20px;
		}
		.button{
			margin-right: 20px;
			margin-top: 10px;
			text-align: center;
			padding: 10px 45px;
			@media screen and(min-width: $mobile-max){
				padding: 15px 45px;
				margin-top: 15px;
				
			}
			@media screen and(min-width: $wideScreen-min){
				min-width: 230px;
			}
		}
	}
}
.cards-luxury{
	background: $bgSecond;
	padding: 30px 0;
	@media screen and(min-width: $mobile-max){
		padding: 70px 0;
	}
}