.owners{
	background: $bgSecond;
	padding: 2.5% 20px;
	@media screen and(min-width: $wideScreen-min){
		padding: 4% 70px;
	}
	&_bg-second{
		background: $buttonSecondColor;
	}
	&__quote {
		padding: 0 0 15px;
		
		img {
			width: 30px;
			height: auto;
		}
	}

	&__carousel {
		background: $standartColor;
		max-width: 450px;
		margin: 0 auto;
		position: relative;
		&_w-100{
			max-width: 1000px;
		}
	}

	&__item {
		padding: 20px 20px 60px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	&__img{
		border-radius: 50%;
    	overflow: hidden;
    	max-width:  100px;
    	box-shadow: 1px 1px 10px #8e8c8c;
    	margin-bottom: 15px;
    	img{
    		width: 100%;
    	}
	}
	&__text{
		color: $fontColor;
		line-height: 1.5em;
		padding: 0 20px 20px;
	}
	&__name-user{
		color: $fontColor;
		font-weight: 800;
		display: block;
		font-size: 13px;
	}

}
