.carousel-indicators {
    position: relative;
    padding-top: 50px;
    margin: 0;
    @media screen and(min-width: $mobile-min){
        padding-top: 70px;
    }
    li{
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        margin-right: 13px;
        margin-left: 13px;
        text-indent: -999px;
        background-color: $mainBg;
    }
    .active{
        background-color: $buttonSecondColor;
    } 
}
.carousel-caption, .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;

}
.carousel-block{
    justify-content: flex-end;
    position: relative;
    &:before{
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: rgba(0,0,0, .4);
        background-repeat: no-repeat;
    }
    &:after{
        position: absolute;
        display: block;
        content: "";
        bottom: -2px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: url("../img/hero/bg-hero-1.png") bottom, url("../img/hero/bg-hero-2.png") bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__bg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &_first{
            background-image: url("../img/hero/hero-1.jpg");
        }
        &_second{
            background-image: url("../img/hero/hero-2.jpg");
        }
        &_third{
            background-image: url("../img/hero/hero-3.jpg");
        }
    }
}
.carousel{
    &__title{
        font-family: $secondFont;
        font-weight: 800;
        font-size: 35px;
        @media screen and(min-width: $mobile-min){
            font-size: 50px;
        }
        @media screen and(min-width: $tablet-min){
            font-size: 80px;
        }
    }
    &__subtitle{
        font-family: $mainFont;
        font-weight: 300;
        font-size: 22px;        
        @media screen and(min-width: $mobile-min){
            font-size: 28px;
        }
        @media screen and(min-width: $tablet-min){
            font-size: 40px;
        }
    }
}
.carousel-caption{
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}
.carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out .7s;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}

.embed-responsive{
   padding-top: 85%;
   @media screen and(min-width: $desktop-min){
        padding-top: 67%;
    }
    @media screen and(min-width: $wideScreen-min){
        padding-top: 52%;
    }
}



