.carousel-gallery{
	background: $bgSecond;
	padding-bottom: 20px;
	@media (min-width: $tablet-min) {
		padding-bottom: 30px;
	}
	@media (min-width: $tablet-min) {
		padding-bottom: 70px;
	}
	.entered{
		background: $bgSecond;
	}
	&__carousel{
		overflow: hidden;
		.flickity-slider {
            height: 100%;
            display: flex;
            align-items: center;
        }
	}

	&__wrapper {
		position: relative;
		padding: 20px;
		.flickity-prev-next-button {
			&.previous {
				left: 0;
			}
			&.next {
				right: 0;
			}

		}
	}

	&__item{
		padding: 0 5px;
		width: 33.3%;
		display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
		@media (min-width: $tablet-min) {
			width: 20%;
		}
		img{
			width: 100%;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            top: 50% !important;
            transform: translateY(-50%);
        }
	}
}