.about{
	&__carousel{
		max-width: 500px;
		margin: 0 auto;
		position: relative;
	}
	&__item{
		width: 100%;
		padding: 20px 20px 60px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	&__title{
		&_little{
			font-weight: 800;
			padding-bottom: 15px;
		}
	}
	&__text {
		margin-bottom: 15px;
	}
	&__img{
		padding-bottom: 30px;
		overflow: hidden;
		img{
			max-height: 300px;
			width: 80%;
			margin: 0 auto;
		}
	}
}