.confidence{
	padding: 0 120px;
	position: relative;
	&:after{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		height: 90%;
		width: 1px;
		background: rgba($accentColor, .6);
		content: "";
	}
	p{
		line-height: 1.5;
	}
}