.contact{
	&__block{
		background: $bgSecond;
		padding: 20px 0px 0px;
		@media screen and(min-width: $mobile-min){
			padding: 50px 0px 0px;
		}
		@media screen and(min-width: $tablet-min){
			padding: 100px 0px 0px;
		}
	}		
	&__text{
		padding: 0 15px 20px;
		@media screen and(min-width: $mobile-min){
			padding: 0 15px 50px;
		}
		@media screen and(min-width: $tablet-min){
			padding: 0 15px 100px;
		}
	}
	&__info{
		padding: 20px 15px;
		background: $accentColor;
		color: $standartColor;
		letter-spacing: 1px;
		text-align: center;
		@media screen and(min-width: $mobile-min){
			padding: 50px 15px;
		}
		&_title{
			text-transform: uppercase;
			font-family: $secondFont;
			font-size: 22px;
			padding-bottom: 10px;
		}
		p{
			font-weight:  400;
			letter-spacing: 0px;
			padding-bottom: 10px;
		}
		span{
			font-family: $secondFont;
			font-size: 18px;
		}
	} 


	&__locate{
		
	    padding: 15px;
	    @media screen and(min-width: $tablet-min){
		    background: url("../img/locate-contact-80.jpg");
			background-size: cover;
		    background-repeat: no-repeat;
	    }
	    @media screen and(min-width: $mobile-min){
			 padding: 10% 15px;
		}
	    
	}
	&__bb{
		position: relative;
		&:after{
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 50px;
		height: 1px;
		background: $standartColor;
		content: "";
		@media screen and(min-width: $tablet-min) {
			display: none;
		}
	}
	}
	&__bl{
		text-align: center;
		margin: 15px;
		background: $bgSecond;
		padding: 30px;
		margin-top: -60px;
		position: relative;
    	z-index: 1;
		@media screen and(min-width: $tablet-min){
			max-width: 310px;
			margin: 0 auto;
		}
	}
	&__list{
		color: $accentColor;
		font-family: $secondFont;
		font-size: 22px;
	}
	&__map{
	    height: 0;
	    position: relative;
	    padding-top: 50%;
	    @media screen and(min-width: $tablet-min) {
			padding-top: 55%;
		}
		@media screen and(min-width: $wideScreen-min) {
			padding-top: 50%;
		}
		@media screen and(min-width: $wideScreen-xl) {
			padding-top: 44%;
		}
	    iframe{
	    	position: absolute;
	    	left: 0;
	    	top: 0;
	    	width: 100%;
	    	height: 100%;
	    }
	}
}