@import "variables";

ul, li, p, a, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: underline;
}

button{
	&:focus {
    outline: none;
    }
}
video[poster]{
	height:auto;
	width:100%;
	object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
p{
	line-height: 1.5;
}
body {
  background: $standartColor;
  font-family: $mainFont, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3;
  color: $fontColor;
  @media screen and(min-width: $tablet-min) {
    font-size: 14px;
  }
}
.list-style>li{
	list-style-type: disc;
}
.order-1{
	order: 2;
	@media screen and(min-width: $tablet-min){
		order: 1;
	}
}
.order-2{
	order: 1;
	@media screen and(min-width: $tablet-min){
		order: 2;
	}
}
.mw-1440{
	max-width: 1440px;
	margin: 0 auto;
}
.mw-1200{
	max-width: 1200px;
	margin: 0 auto;
}
.mw-1000{
	max-width: 1000px;
	margin: 0 auto;
}
.mw-850{
	max-width: 850px;
	margin: 0 auto;
}
.mw-750{
	max-width: 750px;
	margin: 0 auto;
}
.mw-600{
	max-width: 600px;
	margin: 0 auto;
}
.mw-500{
	max-width: 500px;
	margin: 0 auto;
}
.z-index-1{
	z-index: 1;
}
.text-md-left{
	.section-title{
		@media screen and(min-width: $tablet-min){
			text-align: left;
		}
	}
}
.text-left{
	.section-title{
		text-align: left;
	}
}
.text-right{
	.section-title{
		text-align: right;
	}
}
.text-md-right{
	.section-title{
		@media screen and(min-width: $tablet-min){
			text-align: right;
		}
	}
}
.font-dark{
	color: $fontColor !important;
}
.line-top{
	border: 0px;
	@media screen and(min-width: $desktop-min){
		border-top: 2px solid #dee2e6!important;
		max-width: 1300px;
		margin: 0 auto;
	}
}
.border-bottom{
	@media screen and(min-width: $tablet-min){
		border: 0;
	}
}
.color-dark{
	color: $fontColor;
}
.w-lg-100{
	@media screen and(min-width: $desktop-min){
		width: 100%;
	}
}
.border-right_3{
	border: 0;
	@media screen and(min-width: $tablet-min){
		border-right: 3px solid $standartColor !important;
	}
}
.bg-white{
	background: $standartColor;
}
.bg_grey{
	.owners_bg-second{
		background: $bgSecond;
	}
}
.willerby-beaumaris{
	.brick-caravans{
		background: $mainBg;
	}
	.enquiry{
		padding: 0;
		padding-bottom: 20px;
		@media screen and(min-width: $tablet-min){
			padding-bottom: 50px;
		}
		.section-title{
			background: $mainBg;
			margin-bottom: 25px;
			padding: 20px;
			@media screen and(min-width: $tablet-min){
				padding: 50px 15px 30px;
			}
		}
	}
}
