.enquiry{
	background: $bgSecond;
	padding: 50px 15px;
	&__form{
		background: $standartColor;
		padding: 25px;
		max-width: 830px;
		margin: 0 auto;
	}
	&__label{
		font-size: 12px;
		font-weight: 600;
		color: $accentColor;
		&_necessarily{
			&:after{
				content: "*";
				color: red;
			}
		}
	}
	&__input{
		border: 1px solid #d7d7d7;
		display: block;
		width: 100%;
		padding: 10px;
	}
	&_necessarily{
		color: red;
		font-size: 10px;
		font-weight: 600;
	}
	&__checkboxs{
		margin: 10px 20px;
		input{
			padding: 10px;
			border-radius: 0;
		}
	}
	&__checked{
		display: flex;
		align-items: center;
		position: relative;
		overflow: visible;
		span {
			display: inline-block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 1px solid #d7d7d7;
			margin-right: 10px;
		}	
		input {
			position: absolute;
			left: -99999999999999999999px;
			
			&:hover, &:focus {
				& + span {
					border-color: $buttonSecondColor;
				}
			}

			&:active {
				& + span {
					border-color: $accentColor;
				}
			}

			&:checked {
				& + span {
					border-color: #d7d7d7;
					background: $buttonSecondColor;
				}
			}
		}
	}
	&__checkbox{
		padding: 0 10px;
		span{
			border-radius: 0;
		}
	}
	&__privacy {
		padding: 0 20px;
	}
}










