.entered{
	background: $mainBg;
	padding: 30px 15px;
	margin: 0 auto;
	@media screen and(min-width: $mobile-max){
		padding: 50px 15px;
	}
	p{
		line-height: 1.5;
	}
	h2 span{
		@media screen and(min-width: $wideScreen-min){
			font-size: 20px;
		}
		
	}
}