.entertainment{
	&__info{
		background-color: $standartColor;
		padding: 0;		
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		@media screen and(min-width: $tablet-min){
			padding: 80px 40px;
			background-image: url("../img/kid-swimming-laps-PKSBRE6.jpg");
		}
	}
	&__block{
		margin: 15px;
		background: $bgSecond;
		padding: 30px;
		margin-top: -60px;
		position: relative;
    	z-index: 1;
		@media screen and(min-width: $tablet-min){
			max-width: 310px;
			margin: 0;
			margin-left: auto;
		}
	}
	&__cards{
		margin: -1px;
	}
	&__card{
		padding: 1px;
	}
	&__bl{
		text-align: center;
		background: $buttonSecondColor;
		height: 100%;
		width: 100%;
		padding: 25px 5%;
		
		display: flex;
	    flex-direction: column;
	    justify-content: flex-end;
	    align-items: center;
	    transition: .3s background;
	    &:hover{
	    	background: $accentTitleColor;
	    }
	    @media screen and(min-width: $wideScreen-min){
	    	padding: 80px 5%;
	    }
	    &_padding{
	    	@media screen and(min-width: $wideScreen-min){
		    	padding: 50px 5%;
		    }
	    }
	    span{
	    	color: $standartColor;
	    	font-family: $secondFont;
	    	font-size: 18px;
	    	letter-spacing: 1px;
	    }
	}
	&__icon{
		display: flex;
		justify-content: center;
	    align-items: center;
		padding-bottom: 40px;
		width: 20%;
		@media screen and(min-width: $desktop-min){
	    	width: 30%;
	    }
		img{
			width: 100%;
			margin: 0 auto;
		}
	}
}