.filter{
	background: $bgSecond;
	&__item-card {
		align-self: stretch;
	    height: 100%;
	}
	&__full-card{
		width: 100% !important;
		max-width: 100%;
		flex: 100%;
		.caravan{
			max-width: 100%;
			display: flex;
			&__img{
				width: 50%;
				height: auto;
				max-height: 430px;
			}
			&__info{
				width: 50%;
				padding: 30px 20px 20px;
			}
			&__title{
				font-size: 23px;
			}
			&__price{
				font-size: 20px;
			}
			&__text_more{
				display: block !important;
			}
			&__button{
				display: block !important;
				a{
					width: 65%;
				}
			}
			&__characteristic{
				li{
					font-size: 13px;
					align-items: center;
				}
			}
			&__sticker{
				font-size: 23px;
				padding: 7px 30px;
			}
			
			&__column-bottom{
				display: none !important;
			}
		}
	}
	&__form{
		padding: 50px 0px;
	}
	&__choise{
		border-top: 1px solid #d7d7d7;
		padding: 50px 0px;
	}
	&__title{
		order: -1;
		@media screen and(min-width: $desktop-min){
			order: 0;
		}
	}
	&__select{
		max-width: 250px;
		width: 100%;
		margin: 0 auto;
		border: 0;
		font-size: 12px;
		border-bottom: 1px solid $accentColor;
		background: transparent;
	}
	&__search{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}
	&__button{
		width: 40px;
		height: 30px;
		border: 1px solid $accentColor;
		border-radius: 5px;
		color: $accentColor;
		text-align: center;
		margin: 0 5px;
		padding: 0 5px;
		font-size: 20px;
	}
	&__navigation{
		border-top: 1px solid #d7d7d7;
		padding: 50px 0;
	}
	.active{
		background: $accentColor;
		color: #fff;

	}
}



.form-control {
    border-radius: 5px;
    border-color: $accentColor;
    background: transparent;
    max-width: 350px !important;
    font-size: 14px;
    width: 100% !important;
}