.filterable{
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 15px;
  @media screen and(min-width: $tablet-min){
    padding: 50px 15px;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    @media screen and(min-width: $mobile-max){
      display: block;
    }
    
  }
  
}
.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 2px 10px;
  background-color: rgba($accentColor, .2);
  cursor: pointer;
  border-radius: 0;
  font-weight: 600;
  color: $accentColor;
  font-size: 14px;
  @media screen and(min-width: $mobile-max){
     margin-left: 30px;
     font-size: 16px;
     
  }
  &:hover{
    background-color: $accentColor;
    color: $standartColor;
  }
}

/* Add a dark background to the active button */
.btn.active {
  background-color: transparent;
  color: $fontColor;
}