.flickity {
  &-viewport {
    overflow: hidden;
  }
  &-page-dots {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    .dot {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $accentColor;
      margin: 0 10px;
      &.is-selected {
        background: $buttonSecondColor;
      }
    }    
  }
  &-prev-next-button {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    &.previous {
      left: 1%;
      @media (min-width: $desktop-min){
        left: 2%;
      }      
    }

    &.next {
      right: 1%;
      @media (min-width: $desktop-min){
        right: 2%;
      }      
    }
    &:focus {
      box-shadow: none;
    }
    svg {
      width: 25px;
      height: 33px;
      left: 30%;
      top: 30%;
    }
    .arrow {
      fill: $accentTitleColor;
    }
  }
}
