@font-face {
	font-family: "BigShouldersDisplay";
	src: url("../fonts/BigShouldersDisplay-Black.eot");  
	src: url("../fonts/BigShouldersDisplay-Black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/BigShouldersDisplay-Black.woff") format("woff"), 
	url("../fonts/BigShouldersDisplay-Black.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 900;
}
@font-face {
	font-family: "BigShouldersDisplay";  
	src: url("../fonts/BigShouldersDisplay-ExtraBold.eot"); 
	src: url("../fonts/BigShouldersDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/BigShouldersDisplay-ExtraBold.woff") format("woff"),
	url("../fonts/BigShouldersDisplay-ExtraBold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 800;
}
@font-face {
	font-family: "Lato";  
	src: url("../fonts/Lato-Regular.eot"); 
	src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Lato-Regular.woff") format("woff"),
	url("../fonts/Lato-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.eot");  
	src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Montserrat-Light.woff") format("woff"), 
	url("../fonts/Montserrat-Light.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 300;
}
@font-face {
	font-family: "Montserrat"; 
	src: url("../fonts/Montserrat-Regular.eot");  
	src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Montserrat-Regular.woff") format("woff"),
	url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat"; 
	src: url("../fonts/Montserrat-Medium.eot");  
	src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Montserrat-Medium.woff") format("woff"),
	url("../fonts/Montserrat-Medium.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 500;
}
@font-face {
	font-family: "Montserrat";  
	src: url("../fonts/Montserrat-SemiBold.eot"); 
	src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Montserrat-SemiBold.woff") format("woff"),
	url("../fonts/Montserrat-SemiBold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 600;
}
@font-face {
	font-family: "Montserrat";  
	src: url("../fonts/Montserrat-Bold.eot"); 
	src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Montserrat-Bold.woff") format("woff")
	url("../fonts/Montserrat-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700;
}
