@import "variables";
@import "mixins-media";

.footer {
  position: relative;
  background-color: $accentColor;

  &__logo {
    z-index: 2;
    margin: 0;
    background: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    border-radius: 10px;
    @include md-max-768 {
      width: 120px;
    }
  }

  &__container {
    color: $mainBg;
    @include xl-min-1200 {
      padding-top: 135px;
    }
    @include sm-min-320 {
      padding-top: 90px;
    }
  }

  &__list-title {
    font-family: $secondFont, sans-serif;
    font-size: 24px;
    color: #00ABF0;
    padding-bottom: 30px;
    @include xl-min-1200 {
      text-align: left;
      padding: 0 0 20px;
    }
    @include md-min-768 {
      font-size: 30px;
    }
    @include sm-min-320 {
      padding: 10px 0;
      font-size: 20px;
      text-align: center;
    }
  }

  &__list {
    @include xl-min-1200 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @include sm-min-320 {
      text-align: center;
      font-size: 14px;
      padding-bottom: 10px;
    }
  }

  &__item {
    @include xl-min-1200 {
      align-items: flex-start;
    }

    @include md-min-768 {
      font-size: 16px;
      flex-direction: row;
      justify-content: center;
    }
    @include sm-min-320 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5px;
    }
  }

  &__link {
    font-size: 12px;
    color: $mainBg;
    text-decoration: none;
    transition: .3s all;
    padding: 3px;
    border-radius: 2px;
    @include md-min-768 {
      font-size: 16px;
    }
    @include sm-min-320 {
      font-size: 14px;
    }

    &:hover {
      background-color: $mainBg;
    }
  }

  &__link_color {
    color: $accentTitleColor;
    transition: .3s all;
    @include xl-min-1200 {
      padding-left: 5px;
    }
    @include sm-min-320 {
      font-size: 14px;
    }

    &:hover {
      color: white;
    }
  }

  &__item-down {
    border-top: 1px solid #8ca4ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 30px;
  }

  &__item-logo {
    @include sm-min-320 {
      padding: 0 10px;
    }
  }

  &__list-down {
    display: flex;
  }

  &__btn.button {
    @include md-max-768 {
      padding: 13px;
      width: 220px;
      font-size: 10px;
      margin: 15px;
      border-radius: 1px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__btn.button_yellow, .button_white {
    @include md-min-768 {
      margin-top: 40px;
      width: 225px;

    }
  }

  &__bottom {
    background-color: #231F20;
    padding: 30px 0;
  }

  &__bottom-container {
    background-color: #231F20;
  }

  &__revert {
    @include sm-min-320 {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    @include xl-min-1200 {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__copyright {
    @include sm-min-320 {
      font-size: 10px;
      color: #9E9E9E;
      text-align: center;
      padding: 15px 0 0;
    }
  }

  &__links-list {
    @include md-min-768 {
      justify-content: center;
      flex-direction: row;
    }

    @include sm-min-320 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li {
      @include md-min-768 {
        border-right: 1px solid white;
        padding: 0 10px;
      }

      @include sm-min-320 {
        border: none;
        padding: 5px 0;
      }
    }

    :last-child {
      border-right: none;
    }
  }

  &__links-item {
    font-size: 12px;
    transition: .3s all;

    border-radius: 2px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  &__icons-list {
    display: flex;
    @include sm-min-320 {
      justify-content: center;
      padding: 25px 0;
    }
  }

  &__icons-item {
    @include sm-min-320 {
      padding-left: 15px;
    }
    @include xl-min-1200 {
      padding-left: 20px;
    }
  }
}