.header{
	background: $standartColor;
}
.inner{
	justify-content: flex-end;
	font-size: 12px;
	@media screen and(min-width: $wideScreen-min){
		font-size: 14px;
	}
}
.menu{
	&>li{
		font-size: 14px;
		@media screen and(min-width: $desktop-min){
			border-bottom: 3px solid transparent;
			&:hover{
				border-bottom: 3px solid $accentTitleColor;
			}
		}
	}
}
.menu-item{
	font-size: 14px;
	position: relative;
	color: 	$fontColor;
	text-transform: uppercase;
	font-weight: 500;
	padding: 15px;
	border-top: 1px solid #A5A5A5;
	width: 100%;
	&_last{
		border-bottom: 1px solid #A5A5A5;
	}
	&_p-20{
		border-top: 0;
	}
	@media screen and(min-width: $desktop-min){
   		font-size: 12px;
   		padding: 35px 15px;
   		border: 0px;
   		&_p-20{
	    	padding: 20px;
	    	padding-left: 40px;
	    }   		
    }
    @media screen and(min-width: $wideScreen-min){
    	padding: 38px 25px;
    	&_p-20{
	    	padding: 20px;
	    	padding-left: 40px;
	    }
    }
    
}
.dropdown-menu{
	z-index: 3;
	padding: 0 15px;
}
.dropdown-toggle{
	background: transparent;
	text-align: left;
	&:after{
		margin-top: -10px;
		width: auto;
    	height: auto;
    	right: 15px;
    	font-size: 30px;
    	color: $accentTitleColor;
		position: absolute;
		content: "\2039";
		transform: rotate(-90deg);
		transition: transform .3s ease-in-out;
		border: 0;
		@media screen and(min-width: $wideScreen-min){
			margin-left: 20px;
		}
		@media screen and(min-width: $desktop-min){
			right: 0px;
		}
	}
}
.navbar-collapse{
	justify-content: flex-end;
}
.logo{
	display: flex;
	z-index: 5;
	background: $standartColor;
	width: 100px;
    margin-left: 20px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
    margin-right: auto;
    @media screen and(min-width: $tablet-min){
    	width: 165px;
    }
    @media screen and(min-width: $desktop-min){
   		margin-bottom: -58px;
    }
    @media screen and(min-width: $wideScreen-min){
   		width: 180px;
    }
}
.tel{
	@media screen and(min-width: $desktop-min){
   		border: 0px;
   		border-left: 1px solid #808083;
    }
    &_icon{
    	text-align: center;
    	position: relative;
    	&:before{
    		left: 10px;
    		position: absolute;
    		content: "";
    		background: url("../img/icon/phone.svg");
    		width: 15px;
    		height: 15px;
    	}
    }
    &_mini{
    	background: $buttonBg;
    	&>a{
    		color: $standartColor;
    	}
    }
}
.button-book{
	max-width: 300px;
	padding: 0 20px;
	margin: 20px auto;
	@media screen and(min-width: $desktop-min){
		margin: 0;
		padding: 0;
	}
}
.book-today{
	width: 100%;
	background: $buttonSecondColor;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	color: $fontColor;
	align-items: center;
    justify-content: center;
    display: flex;
	@media screen and(min-width: $desktop-min){
		padding: 29px;
	}

}

.facilites{
	
	&__block{
		padding: 20px 0;
		flex-wrap: wrap;
	}
	&_img{
		display: none;
		margin-bottom: 20px;
		max-height: 200px;
		overflow: hidden;
		@media screen and(min-width: $desktop-min){
			display: block;
		}
		img{
			width: 100%;
		}
	}
	&__list{
		a{
			padding: 3px 0;
			font-weight: 500;
			font-size: 14px;
			color: $accentTitleColor;
			text-transform: capitalize;
			&:hover{
				text-decoration: underline;
			}
		}
	}	
}

////// modal ////

.modal-dialog{
	@media screen and(min-width: $desktop-min){
		max-width: 400px;
		margin: 0;
		margin-left: auto;
		height: 100vh;
		background: $standartColor;
	}
}
.modal-content{
	border: 0;
}
.modal{
	&__title{
		letter-spacing: 1px;
		padding-bottom: 15px;
		font-family: $secondFont;
		font-size: 25px;
		color: $accentTitleColor;
		text-transform: uppercase;
		
	}
}
.modal-header{
	border: 0;
	justify-content: flex-start;
	align-items: center;
	.close{
		color: $accentTitleColor;
		float: left;
		margin: 0;
		padding: 0;
		width: 25px;
		height: 30px;
		padding-right: 10px;
		&:after{
			webkit-transform: rotate(-45deg);
    		transform: rotate(-45deg);
		}
		&:before{
			webkit-transform: rotate(45deg);
    		transform: rotate(45deg);
		}
		&:after, &:before{
			content: "";
		    position: absolute;
		    top: 30px;
		    left: 15px;
		    width: 18px;
		    height: 2px;
		    background: $accentTitleColor;
		}
	}
}

.modal-title{
	text-transform: uppercase;
	font-weight: 500;
    font-size: 13px;
}
.form-control{
	border-radius: 0;
}
.dropdown-list{
	text-transform: uppercase;
	color: #6D959E;
	width: 100%;
    padding: 15px;
    border: 1px solid #D8D8D8;
    &:after{
		font-size: 1.5em;
		margin-left: 5px;
		margin-top: -5px;
		width: auto;
    	height: auto;
    	color: $accentTitleColor;
		position: absolute;
		content: "\2039";
		transform: rotate(-90deg);
		border: 0;
	}
}

.show{
	&>button{
		color: $accentTitleColor;
	}
	&>.dropdown-toggle{
		&:after{
			transform: rotate(90deg);
		}
	}
}


select{
	position: relative;
    &:after{
		font-size: 1.5em;
		margin-left: 5px;
		margin-top: -5px;
		width: auto;
    	height: auto;
    	color: $accentTitleColor;
		position: absolute;
		content: "111";
		transform: rotate(-90deg);
		border: 0;
	}
}
.title-label{
	text-transform: uppercase;
	font-weight: 600;
	color: $accentColor;
}
.book{
	&__title{
		padding: 30px 15px 20px;
		background: $bgSecond;
		.section-title{
			h2{
				font-size: 24px;
			}
			h3{
				font-size: 14px;
			}
		}
	}
}

.navbar {
	z-index: 1041;
}

// custom style for pages below
.holiday, .luxury-lodge, .swan-lake-view, .luxury-caravans, .platinum{
	.holiday__active{
		border-bottom: 3px solid $accentTitleColor;
	}
}
.facilities, .swimming-pool{
	.facilities__active{
		border-bottom: 3px solid $accentTitleColor;
	}
}
.contacts{
	.contacts__active{
		border-bottom: 3px solid $accentTitleColor;
	}
}
.caravan-sales,
.browse-caravans,
.willerby-beaumaris{
	.caravan-sales__active{
		border-bottom: 3px solid $accentTitleColor;
	}
}
.news, .top-events{
	.news__active{
		border-bottom: 3px solid $accentTitleColor;
	}
}

