.hero{
	background: url("../img/browse-caravans-80.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 10% 15px;
	&:before{
		position: absolute;
		display: block;
		content: "";
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: rgba(0,0,0, .5);
		background-repeat: no-repeat;
		@media screen and(min-width: $tablet-min) {
			background: rgba(0,0,0, .3);
		}
	}
	&_luxury-lodge{
		background: url("../img/luxury-holiday.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		padding: 10% 15px 7%;
	}
	&_luxury-caravan{
		background: url("../img/MARN-LP.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding: 10% 15px 7%;
	}
	&__block{
		position: relative;
		x-index: 1;
		max-width: 600px;
		margin: 0 auto;
	}
	&__wrap{
		position: relative;
		x-index: 1;
		max-width: 850px;
		margin: 0 auto;
	}
	&__title{
		font-family: $secondFont;
		font-size: 48px;
		text-transform: uppercase;
		color: $standartColor;
		text-align: center;
		@media screen and(min-width: $mobile-min) {
			font-size: 64px;
		}
		@media screen and(min-width: $tablet-min) {
			font-size: 80px;
		}
		@media screen and(min-width: $desktop-min) {
			font-size: 100px;
		}
		&_litle{
			letter-spacing: 2px;
			font-size: 32px;
			@media screen and(min-width: $mobile-min) {
			font-size: 48px;
			}
			@media screen and(min-width: $tablet-min) {
				font-size: 64px;
			}
			@media screen and(min-width: $desktop-min) {
				font-size: 80px;
			}
		}
	}
	&__button{
		margin: 0 auto;
	}
}