.hero-news{
	background: url("../img/OWNER-BENEFITS-80.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 25% 15px 60px;
	position: relative;
	&:after{
		position: absolute;
		display: block;
		content: "";
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .2);
		background-repeat: no-repeat;
	}
	&_top-events{
		background: url("../img/Adults.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	&_facilities{
		background: url("../img/kid-swimming-laps-PKSBRE6.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 75%;

	}
	&_pool{
		background: url("../img/tropical-pool.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 75%;
	}
	&_grey{
		background: $mainBg;
		padding: 30px 15px 0;
		&:after{
			background: rgba(0,0,0, .0);
		}
		@media screen and(min-width: $mobile-max){
			padding: 40px 15px 0;
		}
		@media screen and(min-width: $tablet-min){
			background: $bgSecond;
			padding: 100px 15px 50px;
		}
	}
	&__wrap{
		position: relative;
		z-index: 1;
		letter-spacing: 1px;
	}
	&__title{
		color: $standartColor;
		text-transform: uppercase;
		font-size: 32px;
		font-family: $secondFont;
		text-align: center;
		@media screen and(min-width: $tablet-min){
			text-align: left;
			font-size: 40px;
		}
	}
}