.hero-slider{
	position: relative;
	&__content{
		max-width: 1200px;
		margin: 0 auto;
		position: absolute;
		bottom: 30%;
		left: 5%;
		color:$standartColor ;
		z-index: 1;
		padding: 40px 15px;
	}
	.flickity-viewport {
		overflow: visible;
	}
	///////// main carousel ///////
	&__main-carousel {
		.flickity-prev-next-button {
			.arrow {
				fill: $standartColor;
			}
			&.previous {
				@media (min-width: $desktop-min){
					left: 5%;
				}
			}
			&.next {
				@media (min-width: $desktop-min){
					right: 5%;
				}
			}
		}
	}
	///////// main and nav carousel///////
	&__main-carousel,
	&__nav-carousel {
		position: relative;
    	overflow: hidden;
    	outline: transparent;
	}
	//////////////// nav carousel //////////
	&__nav-carousel {
		padding: 20px 5%;
		min-height: 100px;
		@media (min-width: $mobile-min) {
			min-height: 150px;
		}
		@media (min-width: $desktop-min) {
			min-height: 200px;
		}
		.flickity-viewport {
			overflow: hidden;
			min-height: 100px;
			@media (min-width: $mobile-min) {
				min-height: 150px;
			}
			@media (min-width: $desktop-min) {
				min-height: 200px;
			}
		}
	}
	//////////////// carousel  -- item //////////
    &__item{
    	min-height: 60vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: $standartColor;
		position: relative;
		width: 100%;
		&:after{
	        position: absolute;
	        display: block;
	        content: "";
	        bottom: 0;
	        left: 0;
	        right: 0;
	        width: 100%;
	        height: 100%;
	        background: rgba(0,0,0, .2);
	        background-repeat: no-repeat;
	    }
		&_first {
			background-image: url("../img/willerby-beaumaris.jpg");
		}
		&_second {
			background-image: url("../img/slide-1.jpg");
		}
		&_third {
			background-image: url("../img/willerby-beaumaris.jpg");
		}
		&_fourth {
			background-image: url("../img/slide-1.jpg");
		}
		&_fifth {
			background-image: url("../img/willerby-beaumaris.jpg");
		}
		&_sixth {
			background-image: url("../img/slide-1.jpg");
		}
		&_seventh {
			background-image: url("../img/willerby-beaumaris.jpg");
		}
		&_eighth {
			background-image: url("../img/slide-1.jpg");
		}
		///////// luxury ////////
		&_luxury-first {
			background-image: url("../img/luxury-holiday.jpeg");
		}
		&_luxury-second {
			background-image: url("../img/slide-1.jpg");
		}
		&_luxury-third {
			background-image: url("../img/luxury-holiday.jpeg");
		}
		&_luxury-fourth {
			background-image: url("../img/slide-1.jpg");
		}
		&_luxury-fifth {
			background-image: url("../img/luxury-holiday.jpeg");
		}
		&_luxury-sixth {
			background-image: url("../img/slide-1.jpg");
		}
		&_luxury-seventh {
			background-image: url("../img/luxury-holiday.jpeg");
		}
		&_luxury-eighth {
			background-image: url("../img/slide-1.jpg");
		}
	}
	//////////////// carousel -- nav-item /////////////
	&__nav-item {
		width: 33.3%;
		padding: 5px;
		min-height: 100px;
		display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
		@media (min-width: $mobile-min) {
			min-height: 150px;
		}
		@media (min-width: $desktop-min) {
			min-height: 200px;
			width: 20%;
		}
		img{
			width: 100%;
		}
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            top: 50% !important;
            transform: translateY(-50%);
        }
	}
	&__title{
		font-family: $secondFont;
		font-size: 40px;
		text-transform: uppercase;
		padding-bottom: 20px;
		&_top{
			color: $accentColor;
			padding: 15px;
			font-size: 32px;
		}
	}
	&__icon{
		margin-right: 5px;
		max-width: 15px;
		img{
			width: 100%;
		}
		@media screen and(min-width: $mobile-min){
			margin-right: 20px;
			max-width: 25px;
		}
	}
	&__characteristic{
		margin: 0 -35px;
	}
	&__wrap{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		font-size: 10px;
		@media screen and(min-width: $mobile-max){
			font-size: 14px;
		}
		@media screen and(min-width: $tablet-min){
			padding: 0 20px;
		}
	}
	&__callback {
		padding: 15px;
		@media screen and(min-width: $mobile-max){
			padding: 30px 15px;
		}
		@media screen and(min-width: $tablet-min){
			padding: 0;
			padding-top: 30px;
		}
		@media screen and(min-width: $desktop-min){
			padding: 0;
			.button {
				position: absolute;
				top: 47vh;
				right: 5%;
			}
		}
		
	}
}