.information-text{
	&__text{
		background: $buttonSecondColor;
		padding: 20px 15px;
		span{
			font-size: 14px !important;
			@media screen and(min-width: $tablet-min){
				font-size: 18px !important;
			}
		}
	}
	p{
		font-weight: 600;
		line-height: 1.5;
	}
	&__img{
		background: url("../img/locate-contact-80.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 300px;
		@media screen and(min-width: $tablet-min){
			height: 500px;
		}
	}
}