.info-caravan{
	padding: 15px;
	@media screen and(min-width: $tablet-min){
		padding: 30px 15px;
	}
	.caravan{
		&__title{
			font-size: 32px;
			@media screen and(min-width: $tablet-min){
				font-size: 40px;
			}
		}
		&__price{
			font-size: 24px;
			@media screen and(min-width: $tablet-min){
				font-size: 30px;
			}
		}
	}
	&__factsheet{
		background: $bgSecond;
		padding: 20px;
	}
	&__factsheet-title{
		letter-spacing: 1px;
		color: $accentColor;
		font-family: $secondFont;
		font-size: 23px;
	}
	&__list{
		display: flex;
		font-weight: 600;		
		ul{
			padding-right: 7%;
		}
		li{
			padding: 5px 0;
			@media screen and(min-width: $mobile-min){
				padding: 10px 0;
			}
		}
		span{
			color: $accentTitleColor;
		}
		&_semiBold{
			font-weight: 500;
		}
		&_star{
			li{
				position: relative;
				padding-left: 15px;
				margin-left: 20px;
				@media screen and(min-width: $mobile-min){
					padding-left: 30px;
				}
				&:before{
					position: absolute;
					content: "";
					top: 5px;
					left: -20px;
					background: url("../img/icon/star-icon.svg");
					background-repeat: no-repeat;
					width: 20px;
					height: 20px;
					@media screen and(min-width: $mobile-min){
						top: 10px;
					}
				}
			}
		}
		&_pr{
			padding-right: 10% !important;
		}
	}		
	&__list-item{
		display: flex;
		align-items: center;
		padding: 7px 0 !important;
		@media screen and(min-width: $tablet-min){
			padding: 15px 0 !important;
		}
	}
	&__icon{
		width: 20px;
		margin-right: 20px;
		img{
			width: 100%;
		}
		&_big{
			width: 40px;
    		margin-right: 10px;
		}
	}
}