///////// location //////////

.location{
	max-width: 1000px;
	margin: 0 auto;
	padding: 25px 15px;
	@media screen and(min-width: $tablet-min){
		padding: 50px 15px;
	}
	&__block{
		font-size: 14px;
		background: $bgSecond;
		padding: 20px 15px;
		@media screen and(min-width: $tablet-min){
			padding-left: 40%;
			padding-right: 15%;
			padding-bottom: 40px;
			margin-left: -40%;
		}
		&_left{
			@media screen and(min-width: $tablet-min){
				padding-right: 40%;
				padding-left: 20px;
				padding-bottom: 40px;
				margin-right: -40%;
				margin-left: 0;
			}
		}		
	}
	&__img{
		position: relative;
		z-index: 1;
	}
	&__bl-right{
		@media screen and(min-width: $tablet-min){
			padding-left: 8%;
		}
	}
}
.location_conversely{
	background: $bgSecond;
	.location__block{
		background: $mainBg;
	}
}
.mw-1200{
	.location{
		max-width: 1200px;
	}
}