@import "nullstyle";
@import "fonts";
@import "mixin";
@import "mixins-media";
@import "variables";
@import "default";
@import "burger-menu";
@import "caravan-card";
@import "header";
@import "footer";
@import "brick";
@import "entertainment";
@import "carousel-news";
@import "carousel-owner";
@import "location";
@import "adventuro";
@import "confidence";
@import "brochure";
@import "section-title";
@import "subscription";
@import "instagram";
@import "flickity";
@import "button";
@import "owener-benefits";
@import "breadcrumb";
@import "benefits";
@import "questions";
@import "enquiry";
@import "contacts";
@import "filter";
@import "hero";
@import "entered";
@import "pagination";
@import "carousel";
@import "hero-slider";
@import "info-caravan";
@import "information-text";
@import "news";
@import "filterable";
@import "brick-news";
@import "news-content";
@import "arrows";
@import "hero-news";
@import "carousel-gallery";
@import "tabs";
@import "card-luxury";
@import "accordion";



///////////// main-news first content carousel ////////////

.main-news {
	margin-left: 0;
	margin-right: 0;
}

.about{
	.carousel__title, .carousel__subtitle{
		color: #000;
	}
}
