@import "breakpoints";

// Small devices
@mixin sm-min-320 {
  @media (min-width: #{$screen-sm-320}) {
    @content;
  }
}
@mixin sm-max-350 {
  @media (max-width: #{$screen-sm-320}) {
    @content;
  }
}

// Medium devices
@mixin md-min-768 {
  @media (min-width: #{$screen-md-768}) {
    @content;
  }
}
@mixin md-max-768 {
  @media (max-width: #{$screen-md-768}) {
    @content;
  }
}

// Large devices
@mixin lg-min-1024 {
  @media (min-width: #{$screen-lg-1024}) {
    @content;
  }
}
@mixin lg-max-1024 {
  @media (max-width: #{$screen-lg-1024}) {
    @content;
  }
}

// Extra large devices
@mixin xl-min-1200 {
  @media (min-width: #{$screen-xl-1200}) {
    @content;
  }
}
@mixin xl-max-1200 {
  @media (max-width: #{$screen-xl-1200}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}