.news-content{
	padding: 15px;
	&__title{
		font-family: $secondFont;
		color: $accentColor;
		font-size: 23px;
		padding: 20px 0;
		letter-spacing: 1px;
	}
	&__img{
		padding-bottom: 20px;
		margin: 0 -15px;
		@media screen and(min-width: $tablet-min){
			margin: 0;
		}
		img{
			width: 100%;
		}
	}
}
