.owner-benefits{
	&__hero{
		background-image: url("../img/OWNER-BENEFITS-80.jpg");
		background-size: cover;
    	background-repeat: no-repeat;
    	position: relative;
    	padding: 50px 0;
    	@media screen and(min-width: $mobile-min){
    	padding: 100px 0;
	    }
	    @media screen and(min-width: $desktop-min){
	    	padding: 100px 0 200px;
	    }
	    @media screen and(min-width: $wideScreen-xl){
	    	padding: 100px 0 300px;
	    }
	    &:before{
	        position: absolute;
	        display: block;
	        content: "";
	        bottom: 0;
	        left: 0;
	        right: 0;
	        width: 100%;
	        height: 100%;
	        z-index: 0;
	        background: rgba(0,0,0, .1);
	        background-repeat: no-repeat;
	    }
	}
	&__title{
		text-transform: uppercase;
		color: $standartColor;
		font-size: 80px;
		font-family: $secondFont;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;
	}
	&__subtitle{ 
		font-family: $secondFont;
		font-size: 40px;
		color: $accentColor;
		padding-bottom: 20px;
	}
}