.pagination{
	&__button{
		color: $accentTitleColor;
		background: transparent;
		padding: 0 10px;
	}
	&__number{
		background: transparent;
		color: $accentColor;
		font-size: 18px;
		font-family: $secondFont;
		padding: 0 5px;
	}
} 