.questions{
	max-width: 650px;
	margin: 0 auto;
	padding: 50px 15px;
	&__collapse{
		max-width: 600px;
		margin: 0 auto;
		padding: 50px 15px;
	}
	&__item {
		width: 100%;
		border-bottom: 1px solid #d7d7d7;
	}
	&__toggle {
		background: #FFF;
		width: 100%;
		outline: transparent;
		padding: 20px 0 15px;
		font-size: 14px;
		letter-spacing: 1px;
		text-align: left;
		position: relative;
		&:after{
			margin-top: -10px;
			width: auto;
	    	height: auto;
	    	right: 10px;
	    	font-size: 30px;
	    	color: $accentTitleColor;
			position: absolute;
			content: "\2039";
			transform: rotate(90deg);
			transition: transform .3s ease-in-out;
			border: 0;
		}
	}
	&__panel-collapse {
	  padding: 10px 15px;
	}
} 
.collapsed{
	&.questions__toggle:after{
		transform: rotate(-90deg);
	}
}

