.section-title{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	margin: 0 auto;
	&_fs-50{
		h2{
			font-size: 30px !important;
			@media screen and(min-width: $tablet-min){
				font-size: 50px !important;
			}
		}
		span{
			font-size: 14px !important;
			@media screen and(min-width: $tablet-min){
				font-size: 18px !important;
			}
		}
	}
	h2{
		font-family: $secondFont;
		font-size: 36px;
		color: $accentTitleColor;
		@media screen and(min-width: $mobile-min){
			font-size: 52px;
		}
		@media screen and(min-width: $wideScreen-min){
			font-size: 60px;
		}
		span {
			font-size: 14px;
			display: block;
			color: $fontColor;
			font-weight: 300;
			font-family: $mainFont;
			@media screen and(min-width: $mobile-min){
				font-size: 18px;
			}
			@media screen and(min-width: $wideScreen-min){
				font-size: 26px;
			}
		}
	}
	&_white{
		h2{ 
			color: $standartColor; 
		}
	}
	&_little{
		h2{
			@media screen and(min-width: $mobile-min){
				font-size: 32px;
			}
			@media screen and(min-width: $wideScreen-min){
				font-size: 32px;
			}		
			span{
				padding-bottom: 0;
				@media screen and(min-width: $mobile-min){
					font-size: 16px;
				}
				@media screen and(min-width: $wideScreen-min){
					font-size: 16px;
				}
			}
		}
	}
}
.section-title_accent{
	h2{
		color: $accentTitleColor;
	}
}