.subscription{
	padding-bottom: 100px;
	border-top: 1px solid #D8D8D8;
	.section-title h2{
		font-size: 40px;
	}
	&__form{
		max-width: 800px;
		margin: 0 auto;
		.button{
			padding: 15px;
			width: 100%;
			@media screen and(min-width: $tablet-min){
				padding: 15px 65px;
			}
		}
	}
}