.tabs{
	padding: 30px 15px 50px;
	.nav-link{
		font-size: 10px;
		border-radius: 0;
		padding: 2px 10px;
		color: $fontColor;
		font-weight: 600;
		background: rgba($accentColor, .2);
		@media screen and (min-width: $mobile-min){
			font-size: 13px;
		}
		@media screen and (min-width: $tablet-min){
			margin-right: 30px;
		}
		&.active{
			background: $mainBg;
			color: $fontColor;
		}
	}
	&__nav{
		justify-content: space-around;
		@media screen and(min-width: $tablet-min){
			justify-content: flex-start;
		}
	}
}