////////// color ///////

$fontColor: #000;
$standartColor: #fff;
$mainBg: #fff;
$bgSecond: #F7F7F3;
$accentTitleColor: #00abf0;
$hoverBg: $accentTitleColor;
$accentColor: #0c5166;
$priceColor: #DF4A32;
$buttonBg: $accentColor;
$buttonSecondColor: #ffc225;
    $hoverBg: $accentTitleColor;
$mainPadding: 0 15px;
$background: #fcc805;

////// break Points ///

$mobileXS-min: 320px;
$mobile-min: 480px;
$mobile-max: 576px;
$tablet-min: 768px;
$desktop-min: 992px;
$desktop-md: 1024px;
$wideScreen-min: 1200px;
$wideScreen-xl: 1440px;
$wideScreen-max: 1800px;



////// fonts //////

$mainFont: "Montserrat";
$secondFont: "BigShouldersDisplay";