
  <div class="testimonal__item">
    <div class="testimonal__top">
      <p>"@@feedback"</p>
    </div>

    <div class="testimonal__bottom @@ordered">
      <div class="testimonal__thumbnail">
        <img src="./images/icons/@@path" alt="@@company icon">
      </div>
      <div class="testimonal__author">
        <p class="testimonal__name">@@name</p>
        <p class="testimonal__company">@@company</p>
      </div>
    </div>
  </div>