.amenities {
  padding: 40px 0;
  background: var(--third_color);
  position: relative;
  @media (min-width: $tablet-min) {
    padding: 60px 0;
  }
  &__title {
    color: var(--primary_dark_text);
    font-size: var(--amenities_title_mobile);
    margin-bottom: 60px;
    @media (min-width: $tablet-min) {
      font-size: var(--amenities_title_tablet);
    }
    @media (min-width: $wideScreen-min) {
      font-size: var(--amenities_title_desktop);
    }
  }
  
  &__carousel {
    padding: 0 50px 40px;
    @media (min-width: $tablet-min) {
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &:after {
      content: "flickity";
      display: none;
      @media (min-width: $tablet-min) {
        content: "";
      }
    }
  }

  .carousel {
    &-cell {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      @media (min-width: $tablet-min) {
        margin-bottom: 40px;
        width: 33%;
      }
    }
    &__icon {
      border-radius: 50%;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid var(--secondary_text);
      color: var(--secondary_text);
      margin-bottom: 10px;
      i {
        font-size: var(--amenities_icon_mobile);
        @media (min-width: $tablet-min) {
          font-size: var(--amenities_icon_tablet);
        }
        @media (min-width: $wideScreen-min) {
          font-size: var(--amenities_icon_desktop);
        }
      }
    }
    &__title {
      color: var(--primary_text);
      font-size: var(--amenities_item_title_mobile);
      font-weight: 600;
      margin-bottom: 10px;
      @media (min-width: $tablet-min) {
        font-size: var(--amenities_item_title_tablet);
      }
      @media (min-width: $wideScreen-min) {
        font-size: var(--amenities_item_title_desktop);
      }
    }
    &__text {
      width: 80%;
      line-height: 2;
      font-size: var(--amenities_item_text_mobile);
      color: rgba(var(--secondary_text_values), .8);
      @media (min-width: $tablet-min) {
        font-size: var(--amenities_item_text_tablet);
      }
      @media (min-width: $wideScreen-min) {
        font-size: var(--amenities_item_text_desktop);
      }
    }
  }
 
  .flickity-button {
    background: fade-out(#b7b7b7, .5);
    width: 40px;
    height: 40px;
    font-size: 20px;
    transition: $transition;
    &:hover {
      background: fade-out(#b7b7b7, .1);

    }
  }

  .flickity-page-dots {
    .dot {
      width: 15px;
      height: 15px;
      background: $dots;
      opacity: 1;
      transition: .2s;
      margin: 0 4px;
      @media (min-width: $mobile-min) {
        width: 20px;
        height: 20px;
        margin: 0 8px;
      }
      &.is-selected {
        background: $active_dots_amenities;
        transform: scale(.9);

      }
    }
  }
}