.building {
  background-image: url(./../images/building.jpg);
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: fade-out($hero_ovelray, .3);
    z-index: -1;
  }
  &__title,
  &__text {
    color: var(--third_text);
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 50px;
    font-size: var(--building_title_mobile);
    @media (min-width: $tablet-min) {
      font-size: var(--building_title_tablet);
    }
    @media (min-width: $desktop-min) {
      font-size: var(--building_title_desktop);
    }
  }
  &__text {
    font-size: var(--building_text_mobile);
    margin-bottom: 40px;
    @media (min-width: $tablet-min) {
      font-size: var(--building_text_tablet);
    }
    @media (min-width: $desktop-min) {
      font-size: var(--building_text_desktop);
    }
  }
}