:root {

  //color
  --primary_color_values: 0, 152, 209;
  --secondary_color_values: 57, 53, 54;
  --third_color_values: 255, 255, 255;

  //text color
  --primary_text_values: 0, 152, 209;
  --primary__dark_text_values: 0, 115, 158;
  --secondary_text_values: 57, 53, 54;
  --third_text_values: 255, 255, 255;



  // dev
   --primary_color: rgb(var(--primary_color_values));
   --secondary_color: rgb(var(--secondary_color_values));
   --third_color: rgb(var(--third_color_values));
 
 
   --primary_text: rgb(var(--primary_text_values));
   --primary_dark_text: rgb(var(--primary__dark_text_values));
   --secondary_text: rgb(var(--secondary_text_values));
   --third_text: rgb(var(--third_text_values));

   --primary-font: 'Open Sans', sans-serif;

  //  font size

  --header_link: 20px;

  --hero_title_mobile: 30px;
  --hero_title_tablet: 75px;
  --hero_title_desktop: 75px;

  --hero_text_mobile: 16px;
  --hero_text_tablet: 30px;
  --hero_text_desktop: 30px;
  --hero_arrow: 70px;

  --building_title_mobile: 30px;
  --building_title_tablet: 75px;
  --building_title_desktop: 75px;

  --building_text_mobile: 16px;
  --building_text_tablet: 30px;
  --building_text_desktop: 30px;

  --profile_title_mobile: 26px;
  --profile_title_tablet: 28px;
  --profile_title_desktop: 36px;

  --profile_quantity_mobile: 55px;
  --profile_quantity_tablet: 64px;
  --profile_quantity_desktop: 84px;

  --profile_name_mobile: 24px;
  --profile_name_tablet: 24px;
  --profile_name_desktop: 30px;

  --amenities_title_mobile: 36px;
  --amenities_title_tablet: 36px;
  --amenities_title_desktop: 36px;

  --amenities_icon_mobile: 60px;
  --amenities_icon_tablet: 60px;
  --amenities_icon_desktop: 60px;

  --amenities_item_title_mobile: 23px;
  --amenities_item_title_tablet: 23px;
  --amenities_item_title_desktop: 23px;

  --amenities_item_text_mobile: 15px;
  --amenities_item_text_tablet: 15px;
  --amenities_item_text_desktop: 15px;

  --footer_link: 16px;

}