.hero {
  background: url(./../images/hero.jpg) no-repeat 50%/cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  opacity: .9;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: fade-out($hero_ovelray, .3);
    z-index: -1;
  }
  &__title,
  &__text {
    color: var(--third_text);
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 50px;
    font-size: var(--hero_title_mobile);
    @media (min-width: $tablet-min) {
      font-size: var(--hero_title_tablet);
    }
    @media (min-width: $desktop-min) {
      font-size: var(--hero_title_desktop);
    }
  }
  &__text {
    font-size: var(--hero_text_mobile);
    margin-bottom: 40px;
    @media (min-width: $tablet-min) {
      font-size: var(--hero_text_tablet);
    }
    @media (min-width: $desktop-min) {
      font-size: var(--hero_text_desktop);
    }
  }

  .material-icons {
    color: var(--third_text);
    font-size: var(--hero_arrow);
    &:hover {
      transform: scale(1.1);
    }

  }
}