.profile {
  background: var(--primary_color);
  padding: 50px 0;
  position: relative;
  &__title {
    color: var(--third_text);
    font-size: var(--profile_title_mobile);
    margin-bottom: 40px;
    @media (min-width: $tablet-min) {
      font-size: var(--profile_title_tablet);
    }
    @media (min-width: $wideScreen-min) {
      font-size: var(--profile_title_desktop);
    }
  }
  &__carousel {
    padding: 0 50px 40px;
    @media (min-width: $tablet-min) {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &:after {
      content: "flickity";
      display: none;
      @media (min-width: $tablet-min) {
        content: "";
      }
    }
  }

  .carousel-cell {
    width: 100%;
    color: var(--third_text);
    font-style: italic;

    @media (min-width: $tablet-min) {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__quantity {
      padding: 0 20px;
      width: 100%;
      font-size: var(--profile_quantity_mobile);
      @media (min-width: $tablet-min) {
        font-size: var(--profile_quantity_tablet);
        line-height: 1;
        margin-bottom: 25px;
        position: relative;
        &:after {
          content: "/";
          position: absolute;
          top: 0;
          left: 100%;
          font-style: inherit;
          opacity: .6;
        }
      }
      @media (min-width: $wideScreen-min) {
        font-size: var(--profile_quantity_desktop);
      }
    }
    &:last-child {
      .carousel-cell__quantity {
        &:after {
          display: none;
        }
      }
    }
    &__name {
      font-size: var(--profile_name_mobile);
      font-weight: 300;
      @media (min-width: $tablet-min) {
        font-size: var(--profile_name_tablet);
      }
      @media (min-width: $wideScreen-min) {
        font-size: var(--profile_name_desktop);
      }
    }
  }

  
  .flickity-page-dots {
    .dot {
      width: 15px;
      height: 15px;
      background: $dots;
      border: 1px solid var(--third_text);
      opacity: 1;
      transition: transform .1s;
      &.is-selected {
        background: $active_dots_profile;
        transform: scale(.9);
      }
    }
  }
}