$primary_font: 'Open Sans', sans-serif;

// color

$primary_color: #0098d1;
$secondary_color: #393536;
$third_color: #fff;

// text color

$primary_text: #0098d1;
$secondary_text: #393536;
$third_text: #fff;


$navbar_toggle: #a5a5a5;

$hero_ovelray: #000;


// slider dots

$dots:  #808080;
$active_dots_profile: #0076a3;
$active_dots_amenities: #00b3be;

// break poin

$mobile-min: 480px;
$mobile-max: 576px;
$tablet-min: 768px;
$desktop-min: 992px;
$desktop-md: 1024px;
$wideScreen-min: 1200px;
$wideScreen-xl: 1440px;
$wideScreen-max: 1800px;



$transition: .3s ease-in-out;