section.info-block#about
                .container.container_p0
                    .info-block__container
                        .info-block__content
                            h2.info-block__title Wat info over ons
                            .info-block__text
                                p.info-block__item Reeds 20 jaar kan u op onze diensten beroep doen voor uw boekhouding, fiscale en algemene dienstverlening.
                                p.info-block__item Onze grootste troef: wij hechten veel belang aan persoonlijk contact en begeleiding van de ondernemer.
                                p.info-block__item Wij streven naar een nauwe samenwerking tussen ondernemer en boekhoudkantoor.
                        .info-block__img
                            img(src='img/some-info-img.jpg' alt='info')