.class-card {
  margin-bottom: 80px;

  .ui.card>:first-child,
  .ui.cards>.card>:first-child {
    border-radius: 40px !important;
  }

  .ui.segment {
    border: none;
    box-shadow: none;
  }

  .ui.card>.content,
  .ui.cards>.card>.content {
    border-top: none;
  }

  .ui.card,
  .ui.cards>.card {
    box-shadow: none;
  }

<<<<<<< HEAD
  &__container {
    margin-top: 30px !important;
  }

  &__item {
    visibility: hidden;

=======
  &__item {
    visibility: hidden;

    @include desktop-sm {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

>>>>>>> master
    .card {
      &__content {
        z-index: 2;
        margin-top: -50px !important;
      }

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 90px;
        margin: 0 auto;
        background-color: $clr-light;
        border-radius: 50%;
        margin-bottom: -15px;
      }

      &__description {
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
        border-radius: 40px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        background-color: $clr-light;

        @include tablet {
          margin: 0 40px;
        }

        @include desktop-sm {
          margin: 0 20px;
        }

        @include wide-screen-sm {
          margin: 0 40px;
        }

        .description {
          &__title {
            text-align: center;
            color: $clr-primary;
            font-size: 20px;
            margin: 0;
          }
        }

        .main-cta {
          margin-bottom: 20px !important;
        }
      }
    }
  }

  &--trans {
    background-color: transparent !important;
  }

  &--bg1 {
    background: center left/40% no-repeat url('../images/home/elements-abstract-collection-shapes-3.png'), 
                bottom right/40% no-repeat url('../images/home/elements-abstract-collection-shapes-3.png');

    @include desktop-sm {
      background: bottom left/25% no-repeat url('../images/home/elements-abstract-collection-shapes-3.png'), 
                  bottom right/25% no-repeat url('../images/home/elements-abstract-collection-shapes-3.png');
    }
  }
}