.search-form {
  margin-left: -$gap;
  margin-right: -$gap;
  padding: 30px;
  background-color: $clr-accent-highlight;

  @include mobile-lg {
    padding: 40px 60px;
  }

  @include desktop-sm {
    padding: 30px 40px;
  }

  &__select,
  &__date {
    margin-bottom: 35px;
  }
}