<!-- SEARCH TITLE -->
<div class="container">
  <div class="body-title">
    <h1 class="body-title__head"><span>Search</span> for your holiday...</h1>
    <p class="body-title__subhead">Please select the dates and how many are in your party</p>
  </div>
</div>

<!-- SEARCH CONTAINER -->
<div class="container-md">
  <form class="search-form" method="#" action="availability.html">
    <div class="row">
      <!-- HOLIDAY TYPE SELECT -->
      <div class="col-sm-12 col-lg-4">
        <select class="custom-select custom-select-m search-form__select" id="holidayTypeSelect" name="holiday type"
          required>
          <option value="" selected disabled>Holiday type *</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- NUMBER OF NIGHT SELECT -->
      <div class="col-sm-12 col-lg-4">
        <select class="custom-select custom-select-m search-form__select" id="numberOfNight" name="number of night"
          required>
          <option value="" selected disabled>Number of nights *</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- ARRIVAL DATE PICKER -->
      <div class="col-sm-12 col-lg-4">
        <input type="text" class="form-control custom-date-m search-form__date" 
          onfocus="this.type='date'"
          onblur="if(this.value===''){this.type='text'}" 
          onpointerup="this.type='date'"
          placeholder="Arrival date *"
          name="arrival date" id="arrivalDate" required>
      </div>
    </div>

    <div class="row">
      <!-- NUMBER OF ADULTS SELECT -->
      <div class="col-sm-12 col-lg-3">
        <select class="custom-select custom-select-m search-form__select" id="numberOfAdults" required>
          <option value="" selected disabled>Adults (18+) *</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- NUMBER OF CHILDREN SELECT -->
      <div class="col-sm-12 col-lg-3">
        <select class="custom-select custom-select-m search-form__select" id="numberOfChildren">
          <option value="" selected disabled>Children (3-17 years)</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- NUMBER OF INFANTS SELECT -->
      <div class="col-sm-12 col-lg-3">
        <select class="custom-select custom-select-m search-form__select" id="numberOfInfants">
          <option value="" selected disabled>Infants (0-2 years)</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <!-- PETS SELECT -->
      <div class="col-sm-12 col-lg-3">
        <select class="custom-select custom-select-m search-form__select" id="numberOfPets">
          <option selected disabled>No pets</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <!-- SEARCH BUTTON -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="main-cta">Search now</button>
    </div>
  </form>
</div>