@@include('./html-templates/_head.html', {})

  @@include('./html-templates/_header.html',{})

  <main>

    <!-- testimonals container -->
    <section class="testimonal container">
      <div class="row justify-content-md-center testimonal__header">
        <div class="col col-md-10 col-lg-7">
          <h1 class="text-md-center testimonal__title">What people are saying</h1>
          <p>By using theright.fit, we’ve been able to bring together businesses with great local talent. Here are some of the great things people are saying.</p>
        </div>
      </div>

      <div class="row testimonal__wrap">
        <div class="col-md-6 testimonal__column">
          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'',
            'feedback':"Theright.fit is our go-to for talent for our shoots. Production at Canva is fast paced, and TRF is an easy platform that allows us to expediently recruit quality talent with ease",
            'path':'canva-logo.png',
            'name':'Lydia Sarks',
            'company':'Canva'
          })

          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'testimonal__bottom--ordered',
            'feedback':"Using theright.fit makes arranging last-minute shoots a breeze, gives us the opportunity to choose from a very wide range of talent, and ensures we're always sticking to our tight budgets. Eliminating the time-consuming back and forth emails with costly agencies means we can spend more time organising our shoots, and less time negotiating hefty agency fees and additional charges. We've had countless excellent experiences with talent on theright.fit and it's great to see a lot of models from diverse backgrounds. We know that payment and insurance is covered, and our talent will be paid quickly. We love using this platform.",
            'path':'ab-logo.jpeg',
            'name':'Joanna Fleming',
            'company':'Adore Beauty'
          })
          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'',
            'feedback':'It was great to have influencers that actually want to create content on the product in return for contra, vs the current strategy of searching for influencers who fit into my brands & hope for the best when we send to them.',
            'path':'coty-logo.jpeg',
            'name':'Dianna Mannion',
            'company':'Head of PR & Influencer Marketing, Coty Inc'
          })
          
          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'testimonal__bottom--ordered',
            'feedback':'The Right Fit is an efficient way to book and work with talent. Being able to post a job and let talent apply for this directly cuts out all the back and forth and makes for a really smooth process. The Right Fit team are always quick to respond and very professional which makes it a lot easier for PRs working with brands that need results quickly or those that want a selection of influencers to choose from.',
            'path':'red-agency-logo.png',
            'name':'Sophie Muir',
            'company':'Red Agency, Sydney'
          })
        </div>

        <div class="col-md-6 testimonal__column">

          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'',
            'feedback':"As a brand that produces weekly shoots, theright.fit is a great platform to find the right talent for photo or video shoots, or influencers for social campaigns, at the right price. It is user friendly and has a great pool of models, influencers & actors. So far, we've always found what we were after.",
            'path':'koala-logo1.jpeg',
            'name':'Annika Messing',
            'company':'Brand Manager, Koala'
          })
          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'testimonal__bottom--ordered',
            'feedback':'The site is so easy to use, a one stop shop! From a brand’s perspective it helps streamline things for us. I used to dread organising shoots, researching people, wanting to see recent work of theirs, only to have outdated websites with old work. Waiting for return calls or emails, and whether they were available or not. theright.fit made all of this go away for me – it’s a treat!',
            'path':'tuscan-logo.jpeg',
            'name':'Ebonie Kingston',
            'company':'Tuscan Tan'
          })
          @@include('./html-templates/_testimonal-item.html',{
            'ordered':'',
            'feedback':'It’s a difficult task to find talent to represent our brand – until that is – we found The Right Fit. They make it super-simple to source and co-ordinate a diverse range of ‘real-world’ faces and personalities at an extremely competitive rate. I needed a new face for a campaign and found him in an hour on theright.fit. We can’t recommend their site and service highly enough and excited about working with them again on the next project.',
            'path':'zanerobe-logo.jpeg',
            'name':'Jonathon Yeo',
            'company':'Zanerobe'
          })
        </div>
        
      </div>
    </section>

    <!-- 'tried and tested' container -->
    <section class="logo-grid">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="logo-grid__caption">
              <h3 class="logo-grid__title">Tried and tested</h3>
              <p>Thousands of projects have been completed by our creative community for some of Australia’s biggest and brightest companies.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/adorebeauty.png" alt="company adorebeauty">
                </div>
                
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/canva.png" alt="company canva">
                </div>
                
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/havas.png" alt="company havas">
                </div>
                
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/hello-fresh.png" alt="company hello-fresh">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/koala.png" alt="company koala">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/quantas.png" alt="company quantas">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/iconic.png" alt="company iconic">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/wpp.png" alt="company wpp">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/westpac.png" alt="company westpac">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/diageo.png" alt="company diageo">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/sofitel.png" alt="company sofitel">
                </div>
              </div>
              <div class="col-4 col-sm-3 col-md-4">
                <div class="logo-grid__thumbnail">
                  <img src="./images/company/airtasker.png" alt="company airtasker">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


@@include('./html-templates/_footer.html',{})
@@include('./html-templates/_script.html',{})