.card{
  background: $clr-light;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(13, 25, 98, 0.08);
  padding: 20px 30px 20px 0px;
}
.card-header{
  background: $clr-light;
  border: 0;
  padding: 0;
  position: relative;  
}
.btn-link{
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  color: $clr-black;
  width: 100%;
  &:hover, &:focus{
    text-decoration: none;
  }  
  &::after{
    position: absolute;
    right: -25px;
    display: inline-block;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;    
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    transform: rotateX(180deg);
  }
  &.collapsed::after{
    transform: rotateX(0deg);
  }
}
.card-body{
  color: #424242;
}
.btn{
  text-align: left;
  white-space: inherit;
}