* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: $font-size;
  color: $clr-black;
  font-style: normal;
  font-weight: normal;
  line-height: 1.22;

  &.overflow {
    overflow: hidden;
  }
}

main {
  margin-top: 78px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
li{
  list-style: none;
}
.flex{
  display: flex;
}