.contact-us {
  padding-top: 75px;
  &__container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__header {
    padding: 55px 0;
    background: $clr-bg3;

    @include tablet{
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: 34px;
    padding-bottom: 7px;
    font-weight: 600;
  }

  &__sub-title {
    font-size: 24px;
    padding-bottom: 15px;

    &_small {
      font-size: 16px;
    }
  }

  &__forma {
    padding: 40px 0 25px;
    background: $clr-bg4;

    @include mobile-lg{
      background: $clr-light;
    }
  }

  &__form-group {
    padding-bottom: 20px;

    @include mobile-lg {
      padding-bottom: 28px;
    }

    &_email {
      @include mobile-lg {
        order: 4;
      }
    }

    &_phone {
      @include mobile-lg {
        order: 3;
      }
    }

    &_radio {
      @include mobile-lg {
        order: 2;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include mobile-lg {
      justify-content: flex-end;
    }
  }

  &__button {
    margin: 0 auto;
    text-align: center;
    max-width: 210px;
    width: 100%;
    cursor: pointer;
    padding: 10px 25px;
    background: #222;
    border: 1px solid $clr-black;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    transition: .2s;

    @include mobile-lg {
      width: auto;
      margin: 0;
      margin-left: auto;
    }

    &:hover {
      text-decoration: none;
      background: $clr-accent;
      color: $clr-black;
    }

    span {
      transform: rotateY(40deg);
      display: inline-block;
      margin-left: 15px;
    }

    &_small {
      padding: 8px 15px;
    }

    &_light {
      background: $clr-light;
      color: $clr-black;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 6px;
    input {
      position: absolute;
      left: -10000000000px;
    }
    .radio-br {
      margin-right: 12px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $clr-black;
      padding: 2px;
    }
    .radio-bg {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $clr-light;
    }
    input:checked+.radio-br {
      .radio-bg {
        background: $clr-black;
      }
    }
    input:hover+.radio-br {
      cursor: pointer;
      border-color: #999;
    }
  }

  &__input {
    width: 100%;
    display: block;
    border: 1px solid rgba(13, 25, 98, 0.21);
    border-radius: 2px;
    padding: 10px 15px;
  }

  &__radio {
    margin-right: 15px;
  }

  &__info {
    margin: 16px 0;
    background: $clr-light;
    text-align: center;
    line-height: 2;

    @include mobile-lg {
      background: $clr-bg2;
    }
  }
}
button:active,
button:focus {
  outline: transparent;
}
textarea{
  resize: none;
}