.main-cta {
  width: max-content;
  font-size: 1rem;
  font-weight: 500;
  color: $clr-black;

  &--accent {
    background-color: $clr-accent;
    border-radius: 27px;
    text-transform: uppercase;
    padding: .5rem 1rem;

    &:hover, &:focus {
      background-color: $clr-bg2;
      color: $clr-black;
      text-decoration: none;
      outline: none;
    }
  }

  &--sub {
    background-color: $clr-bg2;
    border-radius: 27px;
    text-transform: uppercase;
    transition: .3s ease;
    
    @media (max-width: 992px) {
      padding: 0;
      background-color: $clr-black;
      text-transform: none;
      font-weight: 400;

      a {
        color: $clr-light;
      }
    }

    @include desktop-sm {
      padding: .5rem 1rem;

      .nav-link {
        color: $clr-black;
        padding: 0;
        font-size: 1rem;
      }

      &:hover, &:focus {
        background-color: $clr-accent;
        outline: none;

        .nav-link {
          color: $clr-black;
        }
      }
    }
  }

  &--info {
    svg {
      fill: $clr-light;
    }
    &:hover, &:focus, &:active {
      svg {
        fill: $clr-accent;
      }
    }
  }

  &--reg {
    @include desktop-sm {
      height: 100%;
      background-color: $clr-accent;
      transition: .3s ease;

      &:hover {
        background-color: $clr-black;

        .nav-link {
          color: $clr-light;
        }
      }

      .nav-link {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $clr-black;
        padding: .5rem 1rem !important;

        &:focus {
          color: $clr-black;
          text-decoration: underline;
        }
      }
    }
  }
}