.nav-tabs{
  cursor: pointer;  
  background: $clr-light;
  border: 1px solid #E0E0E0;
  &__mobile{
    display: flex;
    margin: -45px 18px 0;
    @include tablet{
      display: none;
    }
    a{
      padding: 5px 20px;
      display: inline-block;
      color: $clr-black;
    }
  }
  &__tablet{
    display: none;
    @include tablet{
      display: flex;
    }
    a{
      padding: 23px 18px;
      font-size: 18px;
      color: $clr-black;
      display: inline-block;   
      position: relative;  
      font-weight: 500;  
      &:hover{
        text-decoration: none;
        &::after{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          width: 85%;
          height: 4px;
          background: $clr-accent;
          border-radius: 10px;
          margin: 0 auto;
        }     
      }
    }    
    a.active{      
      background: $clr-light;
      &::after{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        border-bottom: 4px solid $clr-accent;
        width: 85%;
        border-radius: 10px;
        margin: 0 auto;
      }     
    }
  }
  &__dropdown{
    padding: 20px;
    display: block;
  }
  &__dropdown{
    font-size: 24px;
  }
  @include tablet{
    border: 0;
    background: transparent;
  }
  .dropdown{
    width: 100%;
    a{
      width: 100%;
    }
    &::after{
      position: absolute;
      top: 25px;
      right: 25px;
      display: inline-block;
      flex-shrink: 0;
      width: 1.25rem;
      height: 1.25rem;    
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-size: 1.25rem;
      transition: transform .2s ease-in-out;
      transform: rotateX(0deg);
    }
    &.show::after{
      transform: rotateX(180deg);
    }
  }
  .dropdown-menu{
    width: 100%;
    a{
      font-size: 20px;
    }
  }
}
.tab-pane{
  padding-top: 20px;
}