  <div class="card">
    <div class="card-header" id="@@id">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@@dataTarget" aria-expanded="true" aria-controls="@@dataTarget">
        @@question
      </button>
    </div>

    <div id="@@dataTarget" class="collapse" aria-labelledby="@@id" data-parent="#accordion">
      <div class="card-body">
        @@answer
      </div>
    </div>
  </div>