<section class="contact-us__forma">
  <div class="contact-us__container">
    <h2 class="contact-us__title">
      Still need assistance?
    </h2>
    <h3 class="contact-us__sub-title contact-us__sub-title_small">
      If you need more assistance about a specific enquiry feel free to get in touch with us using the form below. We’ll try to get to you within 1-2 business days. 
    </h3> 
    <form action="#" class="needs-validation" novalidate onsubmit="document.querySelector('.contact-us__info').textContent = 'We’ve received your enquiry! We’ll aim to get back to you within 1-2 business days.';">
      <div class="row">
        <div class="col-sm-6 d-flex flex-column">
          <div class="contact-us__form-group">
            <label class="contact-us__label" for="contactFormName">Name*</label>
            <input class="contact-us__input form-control" type="text" id="contactFormName" required>
            <div class="invalid-feedback">
              This field is required
            </div>
          </div>
          <div class="contact-us__form-group contact-us__form-group_email">
            <label class="contact-us__label" for="contactFormEmail">Email*</label>
            <input class="contact-us__input form-control" type="email" id="contactFormEmail" required>
            <div class="invalid-feedback">
              Please enter a valid email
            </div>
          </div>
          <div class="contact-us__form-group contact-us__form-group_phone">
            <label class="contact-us__label" for="contactFormNumber">Phone number</label>
            <input class="contact-us__input" type="tel" id="contactFormNumber" placeholder="Optional">
          </div>
          <div class="contact-us__form-group contact-us__form-group_radio d-flex justify-content-between">
            <div class="d-flex align-items-center">              
              <label class="contact-us__label d-flex align-items-center" for="contactFormType1">
                <input class="contact-us__radio" type="radio" name="contactFormType" id="contactFormType1" value="option1">
                <span class="radio-br"><span class="radio-bg"></span></span>
                Are you a client?
              </label>
            </div>
            <div class="d-flex align-items-center">    
              <label class="contact-us__label d-flex align-items-center " for="contactFormType2">
                <input class="contact-us__radio" type="radio" name="contactFormType" id="contactFormType2" value="option1">
                <span class="radio-br"><span class="radio-bg"></span></span>
                Are you talent?
              </label>
            </div>            
          </div>      
        </div>
        <div class="col-sm-6">
          <div class="contact-us__form-group">
            <label class="contact-us__label" for="contactFormMassage">Enquiry</label>
            <textarea class="contact-us__input form-control" name="contactFormMassage" id="contactFormMassage" cols="20" rows="8" style="height: 200px;" placeholder="What is your enquiry?" required></textarea>
            <div class="invalid-feedback">
              This field is required
            </div>
          </div>
          <div class="contact-us__form-group">
            <label class="contact-us__label" for="contactFormJob">Job URL or Job ID</label>
            <input class="contact-us__input" type="text" id="contactFormJob">
          </div>
        </div>
      </div>
      <div class="contact-us__buttons">
        <button class="contact-us__button contact-us__button_small contact-us__button_light" type="reset">Clear</button> 
        <button class="contact-us__button contact-us__button_small ml-3" type="submit">Submit</button>       
      </div>
      <div class="contact-us__info"></div>              
    </form>
  </div>
</section>