<footer class="footer">
  <div class="footer__container">
    <div class="row m-0">
      <div class="col-lg-4 footer__feedback">
        <div class="footer__wrap-feed-back">
          <p>Get results with our top-secret tips</p>
          <form action="#" class="footer__form">
            <input class="footer__input" id="footerFormEmail" type="email" placeholder="Your email address" required>
            <button class="footer__submit" type="submit">Subscribe</button>
          </form>
        </div>        
        <div class="footer__social">
          <div class="footer__icon">
            <a href="#" target="_blank"><img src="./images/instagram.svg" alt="instagram"></a>           
          </div>
          <div class="footer__icon">
            <a href="#" target="_blank"><img src="./images/twitter.svg" alt="twitter"></a>
          </div>
          <div class="footer__icon">
            <a href="#" target="_blank"><img src="./images/linkedin.svg" alt="linkedin"></a>            
          </div>
          <div class="footer__icon">
            <a href="#" target="_blank"><img src="./images/facebook.svg" alt="facebook"></a>            
          </div>
        </div>
      </div>

      <div class="col-lg-8 p-0 footer__links">
        <div class="footer__wrap">
          <div class="footer__list">
            <h4 class="footer__title-list">About</h4>
            <ul>
              <li class="footer__item">
                <a href="#">About us</a>
              </li>
              <li class="footer__item">
                <a href="#">Press</a>
              </li>
              <li class="footer__item">
                <a href="#">Blog</a>
              </li>
              <li class="footer__item">
                <a href="#">Contact us</a>
              </li>
              <li class="footer__item">
                <a href="#">Testimonials</a>
              </li>
              <li class="footer__item">
                <a href="#">Case Studies</a>
              </li>
              <li class="footer__item">
                <a href="#">Our Services</a>
              </li>
            </ul>
          </div>

          <div class="footer__list">
            <h4 class="footer__title-list">For Clients</h4>
            <ul>
              <li class="footer__item">
                <a href="#">How it works</a>
              </li>
              <li class="footer__item">
                <a href="#">Pricing</a>
              </li>
              <li class="footer__item">
                <a href="#">Browse Talents</a>
              </li>
              <li class="footer__item">
                <a href="#">Browse Influencers</a>
              </li>
              <li class="footer__item">
                <a href="#">Post a Job</a>
              </li>
              <li class="footer__item">
                <a href="#">Login / Sign up</a>
              </li>
            </ul>
          </div>
          <div class="footer__list">
            <div class="">
              <h4 class="footer__title-list">For Talents</h4>
              <ul>
                <li class="footer__item">
                  <a href="#">How it works</a>
                </li>
                <li class="footer__item">
                  <a href="#">Become a Talent</a>
                </li>
                <li class="footer__item">
                  <a href="#">Talent Pricing</a>
                </li>
                <li class="footer__item">
                  <a href="#">Login / Sign up</a>
                </li>
              </ul>
            </div>

            <div class="">
              <h4 class="footer__title-list">For Influencers</h4>
              <ul>
                <li class="footer__item">
                  <a href="#">How it works</a>
                </li>
                <li class="footer__item">
                  <a href="#">Become an Influencer</a>
                </li>
                <li class="footer__item">
                  <a href="#">Influencer Pricing</a>
                </li>
                <li class="footer__item">
                  <a href="#">Login / Sign up</a>
                </li>
              </ul>
            </div>
          </div>
          

          <div class="footer__list">
            <h4 class="footer__title-list">Popular Categories</h4>
            <ul>
              <li class="footer__item">
                <a href="#">Models</a>
              </li>
              <li class="footer__item">
                <a href="#">Actors</a>
              </li>
              <li class="footer__item">
                <a href="#">Influencers</a>
              </li>
              <li class="footer__item">
                <a href="#">Content Creators</a>
              </li>
              <li class="footer__item">
                <a href="#">Celebrities</a>
              </li>
              <li class="footer__item">
                <a href="#">MC’s / Presenters</a>
              </li>
              <li class="footer__item">
                <a href="#">Hair and Makeup Artists</a>
              </li>
              <li class="footer__item">
                <a href="#">Photographers</a>
              </li>
              <li class="footer__item">
                <a href="#">Stylists</a>
              </li>
              <li class="footer__item">
                <a href="#">Videographers</a>
              </li>
              <li class="footer__item">
                <a href="#">Bloggers</a>
              </li>
            </ul>
          </div>

          <div class="footer__list">
            <h4 class="footer__title-list">Solutions for</h4>
            <ul>
              <li class="footer__item">
                <a href="#">PR Agencies</a>
              </li>
              <li class="footer__item">
                <a href="#">Small Business</a>
              </li>
              <li class="footer__item">
                <a href="#">Client Pricing</a>
              </li>
              <li class="footer__item">
                <a href="#">Managed Service</a>
              </li>
              <li class="footer__item">
                <a href="#">Production & Ad Agencies</a>
              </li>
            </ul>
          </div>        
        </div>
        <div class="footer__copyright">
          <div class="footer__icon">
            <a href="#">
              <img src="./images/logo.svg" alt="logo">
            </a>            
          </div>
          <p>Home&ensp;·&ensp;Privacy&ensp;·&ensp;Terms and Conditions&ensp;·&ensp;Sitemap Copyright © 2020 The Right Fit PTY LTD All Rights Reserved</p>
        </div>
      </div>      
    </div>
  </div>
</footer>